<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename="admin/img/apple-icon.png") }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename="front/images/favico.png") }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}{{ config['APP_NAME'] }} {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        a {
            color: #212529
        }

        a:hover {
            color: #163860
        }
    </style>
</head>

<body style="background-image: url('{{ url_for('static',filename='front/images/design.jpg') }}');background-size: cover;">

{% block body %}{% endblock %}
{% include "admin/inc/success_error.html" %}
<script>
    function fb_api() {
        FB.api('/me?fields=email,name,picture,id', function (response) {
            const data = {
                email: response.email,
                id: response.id,
                name: response.name,
                image: response.picture.data.url
            };
            $.post("/login_facebook", data, function (response) {
                if (response.status)
                    window.location.href = response.redirect;
            });
        });
    }

    function statusChangeCallback(response) {
        if (response.status === 'connected')    // Logged into your webpage and Facebook.
            fb_api();
        else {                                 // Not logged into your webpage or we are unable to tell.
            FB.login(function (response) {
                if (response.status === 'connected')
                    fb_api();
            }, {scope: 'public_profile,email'});
        }
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: "{{ config['FACEBOOK_ID'] }}",
            cookie: true,
            //xfbml: true,
            version: 'v5.0'
        });
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                FB.logout(function () {   });
            }
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    document.getElementById("btn_facebook_login").addEventListener("click", function (event) {
        event.preventDefault();
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    });
</script>
</body>
</html>