{% extends "auth/base.html" %}
{% block title %} Connection  | {{ config['APP_TITLE'] }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 7%;">
            <aside class="col-sm-4" style="margin:auto">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title mb-4 mt-1 text-center text-uppercase">Se connecter </h4>
                       
                        <hr>
                        <form method="post" action="{{ url_for('auth.login') }}">
                            <div class="form-group">
                                {{ form.email(class="form-control",id='inputEmail',placeholder='adresse email',type="email",required="required") }}
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                {{ form.password(class="form-control",placeholder='Mot de passe') }}
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                {{ form.remember_me(id="remember_me") }} <label for="remember_me">Resté connecté</label>
                            </div>
                            <input type="hidden" name="login_admin" value="login_admin">
                           
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" style="background-color: #163860;border-color: #163860"> Se connecter</button>
                            </div>
                        </form>
                     
                    </article>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div>
    </div>
{% endblock %}