{% extends "auth/base.html" %}
{% block title %} Mot de passe oublié  | {{ config['APP_TITLE'] }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 7%;">
            <aside class="col-sm-4" style="margin:auto">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title mb-4 mt-1 text-center text-uppercase">Réinitialiser votre mot de passe </h4>
                        <hr>
                        <p style="text-align: center">Mot de passe oublié</p>
                        <form method="post" action="{{ url_for('auth.password_forgot') }}">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Saisissez votre adresse email" required/>
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" style="background-color: #163860;border-color: #163860"> Envoyer</button>
                            </div>
                            <div class="form-group">
                                <a href="{{ url_for('api.login') }}" class="btn btn-default btn-block"> Annuler</a>
                            </div>
                        </form>
                    </article>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div>
    </div>
{% endblock %}