{% extends "auth/base.html" %}
{% block title %} Inscription  | {{ config['APP_TITLE'] }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 7%;">
            <aside class="col-sm-4" style="margin:auto">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title mb-4 mt-1 text-center text-uppercase">Rejoindre
                            <a href="{{ url_for('front.homepage') }}">{{ config['APP_TITLE'] }} </a></h4>
                        <hr>
                        <form method="post" action="{{ url_for('auth.registration') }}">
                            <div class="form-group">
                                {{ form.name(class="form-control", placeholder="Nom complet", required="required") }}
                            </div>
                            <div class="form-group">
                                {{ form.email(class="form-control",placeholder='Adresse email',type="email",required="required") }}
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                {{ form.password(class="form-control",placeholder='Mot de passe') }}
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" style="background-color: #163860;border-color: #163860"> Nous rejoindre</button>
                            </div>
                        </form>
                        <p style="text-align: center">
                            Ou créer un compte avec
                        </p>
                        <hr>
                        <p>
                            <a href="" class="btn btn-block btn-outline-primary" style="background-color: #4267b2; color: #FFFFFF" id="btn_facebook_login">
                                <i class="fab fa-facebook-f"></i>   Continuer avec Facebook</a>
                        </p>
                        <p style="text-align: center">
                            Vous avez déjà un compte? <a href="{{ url_for("auth.login") }}">Connectez vous</a>
                        </p>
                    </article>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div>
    </div>
{% endblock %}