<script lang="ts">
    import {
        checkLovedArticles,
        checkLovedVideos,
        checkSavedArticles,
        checkSavedVideos,
        getUserInfo
    } from '$lib/store/UserStore';
    import '../app.css';
    import {DESCRIPTION, ENV, NAME, TITLE} from '$lib/helpers/global';
    import Footer from '$lib/components/front/Footer.svelte';
    import Header from '$lib/components/front/Header.svelte';
    import {onMount} from 'svelte';
    import {SvelteToast} from '@zerodevx/svelte-toast'
    import {afterNavigate} from "$app/navigation";
    import {sideNavOpen} from "$lib/store/Common";

    const options = {};

    afterNavigate(({to}) => {
        try {
            sideNavOpen.set(false)
            // gtag.pageview(to);
        } catch (e) {
            console.error(e)
        }
    });

    onMount(() => {
        sessionStorage.clear();
        getUserInfo();
        checkLovedArticles();
        checkLovedVideos();
        checkSavedArticles();
        checkSavedVideos();
    });


</script>
<svelte:head>
    <title>{TITLE} | {NAME}</title>
    <meta name='description' content={`${DESCRIPTION}`}/>
    <meta name='theme-color' content='#f8f8f8'/>
    <link rel='manifest' href='/manifest.json'/>
    <link rel='shortcut icon' href='/images/logo.png'/>
    <meta name='apple-mobile-web-app-capable' content='yes'/>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'/>
    <meta name='apple-mobile-web-app-title' content={DESCRIPTION}/>
    <link rel='apple-touch-icon' href='/images/icons/icon-192x192.png'/>

    <link rel='preconnect' href='https://fonts.gstatic.com'/>
    <link href='https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap' rel='stylesheet'/>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.14.0/css/all.css' integrity='sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc' crossOrigin='anonymous'/>

    {#if ENV === "prod"}
        <!--<script async src={`https://www.googletagmanager.com/gtag/js?id=${GA_TRACKING_ID}`}/>
        <script lang="ts">
            if (typeof window !== 'undefined') {
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());

                gtag('config', GA_TRACKING_ID, {
                    page_path: window.location.pathname
                });
            }

        </script>-->
        <script data-ad-client='ca-pub-3883880951212572' async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'/>
    {/if}
</svelte:head>
<Header/>

<div class='max-w-screen-lg mx-auto mt-16'>
    <main class='mt-4 md:mt-12'>
        <SvelteToast {options}/>
        <slot/>
    </main>
</div>

<Footer/>
