<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import AdBanner from "$lib/components/front/AdBanner.svelte";
    import {page} from "$app/stores";

    export const prerender = true;
</script>
<svelte:head>
    <title>Qui sommes nous? / {NAME}</title>
</svelte:head>
<div class='w-full md:w-4/5 mx-auto text-2xl'>
    <h1 class='mx-5 my-3 text-xl text-center mb-3 pb-5'>
        <span class='text-teal-600 font-bold tracking-widest text-center uppercase text-3xl'>Qui sommes nous?</span>
    </h1>

    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>{NAME} vous apporte les dernières et les plus pertinentes informations, et vous maintient à jour.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>Découvrez et suivez vos medias et magazines favoris, et commencer à recevoir leurs informations.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>Restez au courant des sujets et des magasines et chaines que vous suivez.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>Vous cherchez un sujet, une actualité? Utiliser le champ de recherche et trouver ce que vous cherchez.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>Sauvegardez les articles et vidéos pour plus tard dans une liste pratique.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>
            {NAME} a été conçu comme un endroit pour trouver les meilleures infos de la journée, réunissant vos
            sources d’information favorites avec du contenu social afin de vous offrir une vision globale sur des
            sujets allant de la politique aux tendances technologiques.
        </p>
    </div>
</div>
<AdBanner currentPath={$page.url.href}/>