<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import AdBanner from "$lib/components/front/AdBanner.svelte";
    import {page} from "$app/stores";

    export const prerender = true;
</script>
<svelte:head>
    <title>Politique de confidentialité / {NAME}</title>
</svelte:head>
<div class='w-full md:w-4/5 mx-auto text-2xl'>
    <h1 class='mx-5 my-3 text-xl mb-3 pb-5'>
        <span class='text-teal-600 font-bold tracking-widest text-center uppercase text-3xl'>POLITIQUE DE CONFIDENTIALITÉ DE {NAME}</span>
    </h1>

    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>Le respect de la vie privée et la protection des données sont importants pour la communauté {NAME}.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>La transparence l’est aussi. Nous avons tout fait pour éviter le jargon juridique en expliquant en termes simples les informations que nous recueillons à votre sujet, la raison pour laquelle nous les utilisons et les rares situations dans lesquelles nous pourrions être amenés à les partager avec des tiers. Nous vous prions de lire attentivement la présente politique.
            Elle s’applique à toutes les interactions que vous avez avec les produits et services de {NAME}.</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>{NAME} n'enregistre pas d'informations personnelles permettant l'identification, à l'exception des formulaires que l'utilisateur est libre de remplir (ouverture de compte, adhésion volontaire à une liste de diffusion, correction d'une fiche...).</p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>
            {NAME}, ou ses mandants, se réservent le droit de contacter toute personne ayant volontairement donné ses coordonnées au sujet d'opérations ou de promotions sur le site.
        </p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>
            {NAME} pourra procéder à des analyses statistiques sans que celles-ci soient nominatives et pourra en informer des tiers (organismes d'évaluation de fréquentation) sous une forme résumée et non nominative.
        </p>
    </div>
    <div class='px-5 w-full mx-auto'>
        <p class='my-5'>
            La gestion des profils nécessite l'utilisation de cookies. Des informations non personnelles sont enregistrées par ce système de cookies (fichiers texte utilisés pour reconnaître un utilisateur et ainsi faciliter son utilisation du site). Ceux-ci n'ont aucune signification en dehors de leur utilisation sur le site {NAME}
        </p>
    </div>
</div>
<AdBanner currentPath={$page.url.href}/>