<script lang="ts">
    import Loading from '$lib/components/front/Loading.svelte';
    import Magazine from '$lib/components/front/posts/Magazine.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import {onMount} from 'svelte';
    import {getMagazines, magazines} from "$lib/store/MagazineStore";
    import {page} from "$app/stores";


    let filtredMagazines = $magazines;
    let loading = false;
    let search = '';

    const reset = () => {
        search = '';
    };

    onMount(() => {
        if (!$magazines.length)
            getMagazines();
    });

    $: {
        if (search.trim().length > 0)
            filter();
        else
            resetFilter();
    }

    const filter = () => {
        filtredMagazines = $magazines.filter(mag => {
            const q = search.toLowerCase();
            return mag.title.toLowerCase().includes(q) || mag.category.name.toLowerCase().includes(q) || mag.country.name.toLowerCase().includes(q);
        });
    };
    const resetFilter = () => {
        filtredMagazines = $magazines;
    };

</script>

<svelte:head>
    <title>Explorer nos magazines / {NAME}</title>
</svelte:head>

<div class='relative w-full'>
    <input class='pl-12 rounded-lg font-medium w-full p-2 bg-gray-200 focus:outline-none focus:bg-gray-100' bind:value={search}/>
    <i class='fas fa-search absolute left-0 top-0 mt-3 ml-3 text-sm text-gray-700'></i>
    {#if (search.length > 0) }
        <i class={`fas fa-times-circle absolute top-0 mt-3 pr-5 right-0 text-sm text-teal-900 cursor-pointer`} on:click={reset}></i>
    {/if}
</div>

<div class='mt-16 mb-12'>
    <div>
        {#each filtredMagazines as magazine}
            <Magazine mag={magazine} show={true}/>
        {/each}
        {#if loading}
            <Loading/>
        {/if}
    </div>
</div>
<AdBanner currentPath={$page.url.href}/>