<script context='module' lang='ts'>
    import {getHomePosts, homePosts} from "$lib/store/PostStore";
    import {getVideos, homeVideos} from "$lib/store/VideoStore";
    import {get} from "svelte/store";

    export async function load() {
        if (get(homePosts).length === 0) {
            await getHomePosts();
            await getVideos();
        }
        return {props: {initPosts: get(homePosts), videos: get(homeVideos)}};
    }

</script>
<script lang="ts">
    import Top from '$lib/components/front/posts/Top.svelte';
    import Tops from '$lib/components/front/posts/Tops.svelte';
    import Trend from '$lib/components/front/posts/Trend.svelte';
    import Video from '$lib/components/front/videos/Video.svelte';
    import Loading from '$lib/components/front/Loading.svelte';
    import {getStoredItem} from '$lib/helpers/functions';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {findNextPosts, trends, getTrendPosts} from "$lib/store/PostStore";
    import type {Post} from "$lib/store/PostStore";
    import {categories, getCategories} from "$lib/store/CategoryStore";

    export let initPosts: Array<Post> = [], videos = [];

    let top: Post = {
        created_at: undefined, magazine: undefined, updated_at: undefined, url: "",
        author: "",
        comments_count: 0,
        guid: "",
        image: "",
        link: "",
        love: 0,
        magazine_id: 0,
        tag: "",
        tag_slug: "",
        vue: 0,
        youtube: "",
        body: "", date_published: undefined, id: 0, summary: "", title: "", uid: ""
    };
    let tops: Array<Post> = [];
    let posts: Array<Post> = [];
    let nextPage = 2;
    let nextPosts: Array<Post> = [];

    $: {
        top = initPosts[0];
        tops = initPosts.slice(1, 4);
        posts = initPosts.slice(5);
    }
    let loading = false;
    const token = getStoredItem('token');

    onMount(async () => {
        if (initPosts.length === 0) {
            await getHomePosts()
            await getVideos();
            await getTrendPosts();
        }
        if ($categories.length === 0) {
            await getCategories();
        }
    });

    async function morePosts() {
        loading = true;
        const data = await findNextPosts(nextPage);
        nextPosts = [...nextPosts, ...data];
        nextPage = nextPage + 1;
        loading = false;
    }

</script>
<div class='flex flex-col md:flex-row space-x-0 md:space-x-6 sm:mb-10 md:mb-16'>
    {#if top !== undefined}
        <Top post={top}/>
    {:else }
        <Loading/>
    {/if}
    <div class='w-full md:w-4/7'>
        {#if !tops.length}
            <Loading/>
        {/if}
        {#each tops as post}
            <Tops post={post}/>
        {/each}
    </div>
</div>

<div class='flex sm:mt-10 md:mt-16 mb-4 px-4 lg:px-0 items-center justify-between'>
    <h2 class='font-semibold text-3xl'>Dernières vidéos</h2>
    <a href='/videos' class='bg-teal-500 hover:bg-teal-600 rounded text-white px-3 py-1 cursor-pointer'>Tout afficher</a>
</div>
<div class='block space-x-0 lg:flex lg:space-x-6'>
    {#if !videos.length}
        <Loading/>
    {/if}
    {#each videos.slice(0, 3) as video}
        <Video {video}/>
    {/each}
</div>
<div class='block space-x-0 lg:flex lg:space-x-6 mt-2'>
    {#each videos.slice(3, 6) as video}
        <Video video={video}/>
    {/each}
</div>

{#if $trends.length}
    <h3 class='ml-4 md:ml-0 text-3xl text-center text-gray-800 font-semibold mt-12'>Les plus populaires</h3>
    {#each $trends as post}
        <Trend {post}/>
    {/each}
{/if}

<!--{#each $categories as category}
    <CategoryBloc category={category} posts={posts}/>
{/each}-->

<AdBanner currentPath={$page.url.href}/>

<h3 class='ml-2 md:ml-0 text-3xl text-gray-800 text-center font-semibold mt-12 uppercase'>A lire également</h3>
<div class='mt-2 flex flex-wrap'>
    {#if !posts.length}
        <Loading/>
    {/if}
    {#each posts as post}
        <Trend {post}/>
    {/each}
</div>
<AdBanner currentPath={$page.url.href}/>
<div class='mt-2 flex flex-wrap'>
    {#each nextPosts as post}
        <Trend {post}/>
    {/each}
    {#if nextPage > 0 }
        <div class='flex flex-col items-center w-full py-2'>
            <button class='btn rounded inline-flex item-center' on:click={morePosts}>
                {#if loading}
					<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
					<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
					</span>
                {/if}
                Afficher plus
            </button>
        </div>
    {/if}
</div>