<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import Loading from '$lib/components/front/Loading.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import Trend from '$lib/components/front/posts/Trend.svelte';
    import PostTrend from '$lib/components/front/posts/PostTrend.svelte';
    import {onMount} from 'svelte';
    import {page} from "$app/stores";
    import {search} from "$lib/store/PostStore";

    const q = $page.url.searchParams.get('q');

    let nextPage = 1;
    let articles = [];

    let loading = false;
    let notFound = false;

    onMount(() => {
        if (!articles.length) {
            findPosts();
        }
    });

    const findPosts = async () => {
        loading = true;
        const data = await search(q, nextPage);
        articles = [...articles, ...data]
        nextPage++;
        if (!articles.length)
            notFound = true;
        loading = false;
    };

</script>
<svelte:head>
    <title>{q || ""} / {NAME}</title>
</svelte:head>

<div class='text-center border-b pb-2'>
    <h1 class='w-full text-gray-800 text-4xl px-5 font-semibold leading-none text-center'>Resultat recherche: {q}</h1>
</div>

<AdBanner currentPath={$page.url.href}/>

<div class='mt-2 flex flex-wrap'>
    {#if articles.length === 0 && !notFound}
        <Loading/>
    {/if}
    {#if articles.length === 0 && notFound}
        <h2 class='font-medium text-lg text-center w-full p-3'>Aucun resultat correspondant à votre recherche</h2>
    {/if}
    {#if articles.length === 0 && notFound}
        <PostTrend/>
    {/if}
    {#each articles as post }
        <Trend {post}/>
    {/each}
    <AdBanner currentPath={$page.url.href}/>
    {#if nextPage > 0 }
        <div class='flex flex-col items-center w-full py-2'>
            <button class='btn rounded inline-flex item-center' on:click={() => findPosts()}>
                {#if loading}
					<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
						<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
					</span>
                {/if}
                Afficher plus
            </button>
        </div>
    {/if}
</div>

<AdBanner currentPath={$page.url.href}/>
