<script context='module' lang='ts'>
    import {getVideos} from "$lib/store/VideoStore";

    export async function load() {
        let videos = await getVideos();
        return {props: {initVideos: videos}};
    }
</script>

<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import {fade} from 'svelte/transition';
    import Video from '$lib/components/front/videos/Video.svelte';
    import TopsVideos from '$lib/components/front/videos/TopsVideos.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import Loading from '$lib/components/front/Loading.svelte';
    import {onMount} from 'svelte';
    import {page} from "$app/stores";

    export let initVideos = [];
    let top = initVideos[0];
    let videos = initVideos.slice(5);
    let tops = initVideos.slice(1, 4);
    let nextPage = 2;

    let loading = false;

    onMount(async () => {
        if (initVideos.length === 0) {
            initVideos = await getVideos();
        }
    });

    async function moreVideos() {
        loading = true;
        const data = await getVideos(nextPage);
        videos = [...videos, ...data];
        nextPage++;
        loading = false;
    }

    const onImageError = (e) => {
        e.target.src = '/images/no_image.png';
    };

</script>
<svelte:head>
    <title>Explorer nos vidéos / {NAME}</title>
</svelte:head>
<div class='flex flex-col md:flex-row space-x-0 md:space-x-6 sm:mb-10 md:mb-16'>
    {#if top !== undefined}
        <div class='mb-4 lg:mb-0 p-4 lg:p-0 w-full md:w-4/7 relative rounded block' transition:fade>
            <img on:error={onImageError} src={top.image} alt={top.title} class='rounded object-cover w-full h-64'/>
            <h1 class='text-gray-800 text-4xl font-bold mt-2 mb-2 leading-tight'>
                <a href={top.url} title={top.title}>{@html top.title}</a>
            </h1>
            <p class='hidden md:block text-gray-600 mb-4'>{@html top.body}</p>
        </div>
    {:else }
        <Loading/>
    {/if}

    <div class='w-full md:w-4/7'>
        {#if tops.length}
            {#each tops as top }
                <TopsVideos video={top}/>
            {/each}
        {:else }
            <Loading/>
        {/if}
    </div>
</div>

<div class='flex flex-wrap space-x-0 lg:flex'>
    {#each videos as video}
        <Video {video} />
    {/each}
    <AdBanner currentPath={$page.url.href}/>
    {#if nextPage > 0}
        <div class='flex flex-col items-center w-full py-5 my-5'>
            <button class='btn rounded inline-flex item-center' on:click={moreVideos}>
                {#if loading}
					<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
							<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
					</span>
                {/if}
                Afficher plus
            </button>
        </div>
    {/if}
</div>
<AdBanner currentPath={$page.url.href}/>