@import "https://fonts.googleapis.com/css?family=Raleway";
body{font-size: 15px;font-family:'Raleway',sans-serif;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th{text-transform: uppercase;font-weight: 400} label{font-weight: 400}
.skin-blue .main-header .navbar {background-color: #f8f8f8;}
.skin-blue .main-header .logo {background-color: #f8f8f8;}
.treeview-menu>li>a {padding: 5px 5px 5px 35px;}
.users-list>li { width: 15%;}
@media (max-width: 767px){
    .main-header .logo{display: none}
    .fixed .content-wrapper{padding-top: 50px}
    .main-sidebar{padding-top: 50px;}
    .users-list>li { width: 45%;}
}
.content-header>h1{text-transform: uppercase;font-size: 20px}
.content-header>.breadcrumb{text-transform: uppercase;}
.skin-green .sidebar a{color: #b8c7ce}
.main-footer {background: #eaeaea;padding: 15px;color: #444;border-top: none;}
.row-actions{opacity: 0}
table tr:hover .row-actions{opacity: 1}
.image-thumbnail{max-height: 100px;overflow: hidden;margin-bottom: 10px;border-radius: 6px; float: left;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #1a3652;border-color: #1a3652;}