{% extends "admin/base.html" %}
{% block title %} Articles {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Article header) -->
        <section class="content-header">
            <h1>
                Articles
                <small>Liste articles</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Articles</li>
            </ol>
        </section>
        <form action="{{ url_for('admin.articles') }}" class="form-inline">
            <section class="content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <!--<h3 class="box-title" style="float:left">LISTE ARTICLES</h3>-->
                                <div style="margin: 10px;float: right;">
                                    <div class="form-group">
                                        <input type="date" name="sup_date"  class="form-control">
                                        <!--<label>Sélectionnez l’action groupée</label>-->
                                        <select name="todo" class="form-control">
                                            <option value="9999">Actions groupées</option>
                                            <option value="1">Publier</option>
                                            <option value="0">Dépublier</option>
                                           <!-- <option value="2">A la une</option>
                                            <option value="-2">Normale</option>-->
                                            <option value="9999">----------</option>
                                            <option value="-1">Supprimer</option>
                                            <option value="9999">----------</option>
                                            <option value="-11">Supprimer avant date</option>
                                        </select>
                                        <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="title" placeholder="titre actualite" value="{{ request.args.get('title') or ' ' }}">
                                        <select name="published" class="form-control" id="published">
                                            <option value="">Etat</option>
                                            <option value="1" {% if request.args.get('published') == '1' %} selected {% endif %}>Publiés</option>
                                            <option value="0" {% if request.args.get('published') == '0' %} selected {% endif %}>Non Publiés</option>
                                        </select>
                                      <!--  <select name="top" class="form-control" id="top">
                                            <option value="">position</option>
                                            <option value="1" {% if request.args.get('top') == '1' %} selected {% endif %}>Une</option>
                                            <option value="0" {% if request.args.get('top') == '0' %} selected {% endif %}>Normale</option>
                                        </select>-->
                                        <select name="order" id="order" class="form-control">
                                            <option value="date_published desc" {% if request.args.get('order') == "date_published desc" %} selected {% endif %}>Date décroissant</option>
                                            <option value="date_published asc" {% if request.args.get('order') == "date_published asc" %} selected {% endif %}>Date croissant</option>
                                            <option value="vue desc" {% if request.args.get('order') == "vue desc" %} selected {% endif %}>Vue décroissant</option>
                                            <option value="vue asc" {% if request.args.get('order') == "vue asc" %} selected {% endif %}>Vue croissant</option>
                                        </select>
                                        <select name="magazine" id="magazine" class="form-control">
                                            <option value="">Selectionner un magazine</option>
                                            {% for magazine in magazines %}
                                                <option value="{{ magazine.id }}" {% if request.args.get('magazine') == magazine.id ~ '' %} selected {% endif %}>{{ magazine.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="date" name="_date" value="{{request.args.get('_date') or ' '  }}" class="form-control">
                                        <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary" value="Filtrer">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th><input type="checkbox" title="Tout sélectionner" id="select_all"/></th>
                                            <th>Titre</th>
                                            <th>Date publication</th>
                                            <th>Magazine</th>
                                            <th>Tag</th>
                                            <th>Vue</th>
                                            <th>Etat</th>
                                            <th style="text-align: center">Action</th>
                                        </tr>
                                        {% for article in articles %}
                                            <tr>
                                                <td>
                                                    <input type="checkbox" class="uid" name="uids" value="{{ article.uid }}"/>
                                                </td>
                                                <td>
                                                    <a href="{{config['HOME_PAGE']}}{{ article.url }}" target="_blank" title="{{ article.title }}">{{ article.title }}</a>
                                                </td>
                                                <td>{{ article.date_published | datetimeformat("%d/%m/%Y %H:%M") }}</td>
                                                <td>{{ article.magazine.title }}</td>
                                                <td>{{ article.tag }}</td>
                                                <td>{{ article.vue }}</td>
                                                {% if article.published %}
                                                    <td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>
                                                {% endif %}
                                            
                                                <td style="text-align: center">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-danger">
                                                            <a class="delete" title="Supprimer l'article?" href="{{ url_for('admin.delete_article',uid=article.uid) }}" style="color: #FFFFFF"><i class="fa fa-trash-o"></i></a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if prev_url %}
                                        <li><a href="{{ prev_url }}">«</a></li>
                                    {% endif %}
                                    {% if next_url %}
                                        <li><a href="{{ next_url }}">»</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
{% endblock %}