<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ url_for('static',filename=current_user.image) }}" class="img-circle" alt="{{ current_user.name }}">
            </div>
            <div class="pull-left info">
                <p>{{current_user.name}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Rechercher...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview {% if request.path=='/admin/articles'  %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-newspaper-o"></i> <span>Articles</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/articles' %} active {% endif %}"><a href="{{url_for('admin.articles')}}"><i class="fa fa-file-o"></i> Articles</a></li>
                </ul>
            </li>
            <li class="treeview {% if request.path=='/admin/videos'  %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-youtube"></i> <span>Vidéos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/videos' %} active {% endif %}"><a href="{{url_for('admin.videos')}}"><i class="fa fa-file-video-o"></i> Vidéos</a></li>
                </ul>
            </li>
            <li class="treeview {% if request.path=='/admin/channels'  or request.path=='/admin/channels/add'  %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-film"></i> <span>Chaines</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/channels' %} active {% endif %}"><a href="{{url_for('admin.channels')}}"><i class="fa fa-tv"></i> Chaines</a></li>
                    <li class="{% if request.path=='/admin/channels/add' %} active {% endif %}"><a href="{{url_for('admin.add_channel')}}"><i class="fa fa-edit"></i> Ajouter</a></li>
                </ul>
            </li>
            <li class="treeview {% if request.path=='/admin/magazines'  or request.path=='/admin/magazines/add'  %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-bookmark"></i> <span>Magazines</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/magazines' %} active {% endif %}"><a href="{{url_for('admin.magazines')}}"><i class="fa fa-bookmark-o"></i> Magazines</a></li>
                    <li class="{% if request.path=='/admin/magazines/add' %} active {% endif %}"><a href="{{url_for('admin.add_magazine')}}"><i class="fa fa-edit"></i> Ajouter</a></li>
                </ul>
            </li>
            <li class="treeview {% if request.path=='/admin/categories' %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-archive"></i> <span>Catégories</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/categories' %} active {% endif %}"><a href="{{url_for('admin.categories')}}"><i class="fa fa-archive"></i> Catégories</a></li>
                </ul>
            </li>
            <li class="treeview {% if request.path=='/admin/countries' %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-map"></i> <span>Pays</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/countries' %} active {% endif %}"><a href="{{url_for('admin.countries')}}"><i class="fa fa-map-o"></i> Pays</a></li>
                </ul>
            </li>
            <li class="treeview {% if request.path=='/admin/members'  %} active {% endif %}">
                <a href="#">
                    <i class="fa fa-user-o"></i> <span>Membres</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if request.path=='/admin/magazines' %} active {% endif %}"><a href="{{url_for('admin.members')}}"><i class="fa fa-users"></i> Membres</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>