<header class="main-header">
  <!-- Logo -->
  <a href="{{url_for('admin.home')}}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>D</b>MN</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>ADMIN</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flash"></i>
            {% if unresoved_errors %}
            <span class="label label-danger">{{ unresoved_errors | length }}</span>
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            <li class="header">Vous avez {{ unresoved_errors | length }} Erreurs</li>
            <li class="footer"><a href="{{ url_for('admin.errors') }}">Afficher les erreurs</a></li>
          </ul>
        </li>


        <li>
          <a href="{{config['HOME_PAGE']}}" title="Aller sur le site"><i class="fa fa-home"></i></a>
        </li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{url_for('static',filename=current_user.image)}}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{current_user.name}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{url_for('static',filename=current_user.image)}}" class="img-circle" alt="User Image">

              <p>
                {{current_user.name}}
                <small>Membre depuis {{current_user.created_at | datetimeformat('%b %Y')}}</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" target="__blank" class="btn btn-default btn-flat">Profils</a>
              </div>
              <div class="pull-right">
                <a href="{{url_for('auth.logout')}}" class="btn btn-default btn-flat">Deconnection</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>