<script src="https://codeseven.github.io/toastr/build/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://codeseven.github.io/toastr/build/toastr.min.css">
{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {%- for msg in errors %}
            <script>
                setTimeout(function(){toastr.error('{{ msg }}')},500)
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        {%- for msg in success %}
            <script>
                setTimeout(function(){toastr.success('{{ msg }}')},500)
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

{% with info = get_flashed_messages(category_filter=["info"]) %}
    {% if info %}
        {%- for msg in info %}
            <script>
                setTimeout(function(){toastr.info('{{ msg }}')},500)
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}