<script lang="ts">
    import {channels, getChannels, getTrendChannels, trendChannels} from "$lib/store/ChannelStore";
    import Loading from '$lib/components/front/Loading.svelte';
    import Channel from '$lib/components/front/videos/Channel.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import {onMount} from 'svelte';
    import {page} from "$app/stores";
    import {NAME} from "$lib/helpers/global";

    let filtredChannels = $channels;
    let loading = false;

    let elementRef;
    let search = '';

    onMount(() => {
        elementRef.focus();
        if ($trendChannels.length === 0)
            getTrendChannels();
        if ($channels.length === 0)
            getChannels()
    });

    $:{
        if (search.trim().length > 0)
            filter();
        else
            resetFilter();
    }

    const filter = () => {
        filtredChannels = $channels.filter(chan => {
            const q = search.toLowerCase();
            return chan.title.toLowerCase().includes(q) || chan.category.name.toLowerCase().includes(q) || chan.country.name.toLowerCase().includes(q);
        });
    };
    const resetFilter = () => filtredChannels = $channels;

</script>


<svelte:head>
    <title>Explorer nos chaines / {NAME}</title>
</svelte:head>

<div class='relative w-full'>
    <input class='pl-12 rounded-lg font-medium w-full p-2 bg-gray-200 focus:outline-none focus:bg-gray-100'
           bind:value={search}
           bind:this={elementRef}
    />
    <i class='fas fa-search absolute left-0 top-0 mt-3 ml-3 text-sm text-gray-700'></i>
    {#if (search.length > 0) }
        <i class={`fas fa-times-circle absolute top-0 mt-3 right-0 pr-3 text-sm text-teal-900 cursor-pointer`} on:click={()=>search=''}></i>
    {/if}
</div>

<div class='mt-16 mb-12'>
    <div>
        {#each filtredChannels as channel}
            <Channel chan={channel} show={true}/>
        {/each}
        {#if loading}
            <Loading/>
        {/if}
    </div>
    <AdBanner currentPath={$page.url.href}/>
</div>