<script context='module' lang='ts'>

    import {searchVideos} from "$lib/store/VideoStore";

    export async function load({url}) {
        let initVideos = [];
        let init_search = '';
        try {
            const data = await searchVideos(url.query.q);
            initVideos = data.videos;
            init_search = url.query.q;
        } catch (e) {
            console.log('');
        }
        return {props: {init_search, initVideos}};
    }
</script>
<script lang="ts">
    import Video from '$lib/components/front/videos/Video.svelte';
    import Loading from '$lib/components/front/Loading.svelte';
    import VideoTrend from '$lib/components/front/videos/VideoTrend.svelte';

    import AdBanner from '$lib/components/front/AdBanner';
    import {page} from '$app/stores';
    import {onMount} from 'svelte';

    export let initVideos;
    const {q} = $page.url.searchParams;

    let currentPage = 2;
    let nextVideos = [];
    let videos = initVideos;
    let loading = false;
    let notFound = false;

    onMount(() => {
        if (videos.length === 0) {
            init();
        }
    });

    const init = async () => {
        const data = await searchVideos(q);
        videos = data.videos;
        currentPage++;
        if (!data.videos.length)
            notFound = true;
    };
    const findNextVideos = async () => {
        loading = true;
        const data = await searchVideos(q, currentPage);
        nextVideos = [...nextVideos, ...data.videos];
        currentPage++;
        loading = false;
    };
</script>
<svelte:head>
    <title>{q || ""} - Vidéos</title>
</svelte:head>
{#if videos === undefined}
    <Loading/>
{:else }
    <div class='text-center border-b pb-2'>
        <h1 class='w-full text-gray-800 text-4xl px-5 font-semibold leading-none text-center'>Resultat recherche: {q}</h1>
    </div>

    <div class='flex flex-wrap space-x-0 lg:flex'>
        {#if (videos.length === 0 && !notFound)}
            <Loading/>
        {/if}
        {#if (videos.length === 0 && notFound)}
            <h2 class='font-medium text-lg text-center w-full p-3'>Aucun resultat correspondant à votre recherche</h2>
        {/if}
        {#each videos as video}
            <Video video={video}/>
        {/each}
    </div>
    <AdBanner currentPath={$page.url.href}/>
    <div class='mt-2 flex flex-wrap'>
        {#each nextVideos as video}
            <Video video={video}/>
        {/each}
        {#if currentPage > 0 }
            <div class='flex flex-col items-center w-full py-2'>
                <button class='btn rounded inline-flex item-center' on:click={() => findNextVideos()}>
                    {#if loading}
						<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
								<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
						</span>
                    {/if}
                    Afficher plus
                </button>
            </div>
        {/if}
    </div>

    {#if !videos.length}
        <AdBanner currentPath={$page.url.href}/>
        <div class='p-2'>
            <VideoTrend size={10}/>
        </div>
        <AdBanner currentPath={$page.url.href}/>
    {/if}
{/if}