<script context='module' lang='ts'>

    import {findByChannel} from "$lib/store/VideoStore";

    export async function load({params}) {
        let initChannel = {};
        let initVideos = [];
        try {
            const data = await findByChannel(params.chan_slug);
            initChannel = data.channel;
            initVideos = data.videos;
        } catch (e) {
            console.log(e);
        }
        return {props: {initVideos, initChannel}};
    }
</script>

<script lang="ts">
    import Video from '$lib/components/front/videos/Video.svelte';
    import FollowingChannel from '$lib/components/front/FollowingChannel.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import Loading from '$lib/components/front/Loading.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';

    export let initChannel;
    export let initVideos;

    const {chan_slug} = $page.url.searchParams;

    let currentPage = 2;
    let nextVideos = [];
    let videos = initVideos;
    let channel = initChannel;

    let loading = false;

    onMount(() => {
        if (videos.length === 0) {
            init();
        }
    });

    const init = async () => {
        const data = await findByChannel(chan_slug);
        videos = data.videos;
        channel = data.channel;
    };
    const findNextVideos = async () => {
        loading = true;
        const data = await findByChannel(chan_slug, currentPage);
        nextVideos = [...nextVideos, ...data.videos];
        currentPage = data.page;
        loading = false;
    };
</script>
<svelte:head>
    <title>{channel.title || ""} - Vidéos</title>
    <meta name='description' content={channel.description || ""}/>
</svelte:head>
{#if channel === undefined || videos === undefined}
    <p>Chargement....</p>
{:else}
    <div class='text-center border-b pb-2'>
        <div class='flex flex-col items-center text-center mx-auto mb-4'>
            <div class=' w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center'>
                <img src={channel.image} alt={channel.title} class='h-14'/>
            </div>
        </div>

        <h1 class='w-full text-gray-800 text-4xl px-5 font-bold leading-none text-center'>
            <a href={`/videos/${channel.slug}`} title={channel.title}>{channel.title}</a>
        </h1>
        <FollowingChannel channel={channel}/>
        <div class='text-base text-gray-700 pt-2'>
            {channel.description}
        </div>
    </div>

    <AdBanner currentPath={$page.url.href}/>

    <div class='flex flex-wrap space-x-0 lg:flex'>
        {#if !videos.length}
            <Loading/>
        {/if}
        {#each videos as video}
            <Video video={video}/>
        {/each}
    </div>
    <AdBanner currentPath={$page.url.href}/>
    <div class='mt-2 flex flex-wrap'>
        {#each nextVideos as video}
            <Video video={video}/>
        {/each}
        {#if currentPage > 0 }
            <div class='flex flex-col items-center w-full py-2'>
                <button class='btn rounded inline-flex item-center' on:click={() => findNextVideos()}>
                    {#if loading}
                        <span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
                                <i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
                        </span>
                    {/if}
                    Afficher plus
                </button>
            </div>
        {/if}
    </div>
{/if}