<script lang="ts">
	export let icon = 'icon';
	export let url = '';
	export let action = '';
	export let title = '';
	export let description = '';
</script>

<div class='breadcomb-area'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div class='breadcomb-list'>
					<div class='row'>
						<div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
							<div class='breadcomb-wp'>
								<div class='breadcomb-icon'>
									<i class='notika-icon {icon}'></i>
								</div>
								<div class='breadcomb-ctn'>
									<h2>{title}</h2>
									<p>{description}</p>
								</div>
							</div>
						</div>
						{#if url}
							<div class='col-lg-6 col-md-6 col-sm-6 col-xs-3'>
								<div class='breadcomb-report'>
									<a href='{ url }' data-toggle='tooltip' data-placement='left' title='{title}' class='btn btn-secondary waves-effect' data-original-title='{title}'>
										<i class='notika-icon notika-dot'></i> {action}</a>
								</div>
							</div>
						{/if}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>