<script lang="ts">
	import { NAME } from '$lib/helpers/global';
</script>
<header class="navbar navbar-expand-md navbar-light d-print-none">
	<div class="container-xl">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
			<a href="/dashboard">
				<img src="$lib/static/images/logo.png" style='float: left;padding-right: 10px;' alt="{NAME}" class="navbar-brand-image"/>
				<span style='margin-top: 7px;display: inline-block;font-size: 1.2rem;'>{NAME}</span>
			</a>
		</h1>
		<div class="navbar-nav flex-row order-md-last">
			<div class="nav-item d-none d-md-flex me-3"></div>
			<div class="nav-item dropdown d-none d-md-flex me-3">
				<a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<circle cx="12" cy="12" r="9"></circle>
						<line x1="3.6" y1="9" x2="20.4" y2="9"></line>
						<line x1="3.6" y1="15" x2="20.4" y2="15"></line>
						<path d="M11.5 3a17 17 0 0 0 0 18"></path>
						<path d="M12.5 3a17 17 0 0 1 0 18"></path>
					</svg>
					<span class="badge bg-red">FR</span>
				</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
					<div class="card">
						<div class="card-body">

						</div>
					</div>
				</div>
			</div>
			<div class="nav-item dropdown">
				<a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
					<span class="avatar avatar-sm" style="background-image: url('./static/avatars/000m.jpg')"></span>
					<div class="d-none d-xl-block ps-2">
						<div>Diallo</div>
						<div class="mt-1 small text-muted">email@pia.com</div>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
					<a href="#" class="dropdown-item">Settings</a>
					<div class="dropdown-divider"></div>

					<a href="#" class="dropdown-item">Se deconnecter</a>
				</div>
			</div>
		</div>
	</div>
</header>