<div class='navbar-expand-md'>
	<div class='collapse navbar-collapse' id='navbar-menu'>
		<div class='navbar navbar-light'>
			<div class='container-xl'>
				<ul class='navbar-nav'>

					<li class='nav-item active'>
						<a class='nav-link' href='/dashboard'>
							<span
								class='nav-link-icon d-md-none d-lg-inline-block'>
								<!-- Download SVG icon from http://tabler-icons.io/i/home -->
								<svg xmlns='http://www.w3.org/2000/svg' class='icon' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
									<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
									<polyline points='5 12 3 12 12 3 21 12 19 12'></polyline>
									<path d='M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7'></path>
									<path d='M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6'></path>
								</svg>
							</span>
							<span class='nav-link-title'>
								Tableau de bord
							</span>
						</a>
					</li>

					<li class="nav-item dropdown ">
						<a class='nav-link dropdown-toggle' href='#navbar-layout' data-bs-toggle='dropdown' role='button' aria-expanded='true' style=''>
							<span
								class='nav-link-icon d-md-none d-lg-inline-block'>
								<!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
								<svg xmlns='http://www.w3.org/2000/svg' class='icon' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
									<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
									<rect x='4' y='4' width='6' height='5' rx='2'></rect>
									<rect x='4' y='13' width='6' height='7' rx='2'></rect>
									<rect x='14' y='4' width='6' height='7' rx='2'></rect>
									<rect x='14' y='15' width='6' height='5' rx='2'></rect>
								</svg>
							</span>
							<span class='nav-link-title'>
								Organisations
							</span>
						</a>
						<div class='dropdown-menu' data-bs-popper='none'>
							<div class='dropdown-menu-columns'>
								<div class='dropdown-menu-column'>
									<a class="dropdown-item " href="">Organisations</a>
								</div>
							</div>
						</div>
					</li>

				</ul>
				<div class='my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last'>
					<form action='.' method='get'>
						<div class='input-icon'>
							<span class='input-icon-addon'>
								<svg xmlns='http://www.w3.org/2000/svg' class='icon' width='24' height='24' viewbox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
									<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
									<circle cx='10' cy='10' r='7'></circle>
									<line x1='21' y1='21' x2='15' y2='15'></line>
								</svg>
							</span>
							<input type='text' class='form-control' placeholder='Search…' aria-label='Search in website'>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
