<script context='module' lang='ts'>

    import {checkToken, currentUser} from "$lib/store/UserStore";
    import {findByMagazine} from "$lib/store/PostStore";
    import {get} from "svelte/store";

    export async function load({params}) {
        let initMagazine = {};
        let initArticles = [];
        try {
            await checkToken();
            const data = await findByMagazine(params.mag_slug);
            initMagazine = data.magazine;
            initArticles = data.articles;
        } catch (e) {
            console.log(e);
        }
        return {props: {initMagazine, initArticles, current_user: get(currentUser)}};
    }
</script>
<script lang="ts">
    import FollowingMagazine from '$lib/components/front/FollowingMagazine.svelte';
    import Loading from '$lib/components/front/Loading.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import Trend from '$lib/components/front/posts/Trend.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';

    export let initMagazine;
    export let initArticles;

    const mag_slug = $page.url.searchParams !== undefined ? $page.url.searchParams.get('mag_slug') : '';
    let currentPage = 2;
    let magazine = initMagazine;
    let articles = initArticles;
    let nextPosts = [];
    let loading = false;

    onMount(() => {
        if (!articles.length) {
            init();
        }
    });

    const init = async () => {
        const data = await findByMagazine(mag_slug);
        magazine = data.magazine;
        articles = data.articles;
    };

    const findNextPosts = async () => {
        loading = true;
        const data = await findByMagazine(mag_slug, currentPage);
        nextPosts = [...nextPosts, ...data.articles];
        currentPage = data.page;
        loading = true;
    };

</script>
<svelte:head>
    <title>{magazine.title || initMagazine.title}</title>
    <meta name='description' content={magazine.description || initMagazine.description}/>
</svelte:head>

{#if (magazine === undefined || articles === undefined)}
    <p>Chargement....</p>
{:else }
{/if}
<div class='text-center border-b pb-2'>
    <div class='flex flex-col items-center text-center mx-auto mb-4'>
        <div class=' w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center'>
            <img src={magazine.image} alt={magazine.title} class='h-14'/>
        </div>
    </div>

    <h1 class='w-full text-gray-800 text-4xl px-5 font-bold leading-none text-center'>{magazine.title}</h1>
    <FollowingMagazine magazine={magazine}/>
    <div class='text-base text-gray-700 pt-2'>
        {magazine.description}
    </div>
</div>
<AdBanner currentPath={$page.url.href}/>


<div class='mt-2 flex flex-wrap'>
    {#if articles.length}
        {#each articles as post}
            <Trend post={post}/>
        {/each}
    {/if}
    {#if !articles.length}
        <Loading/>
    {/if}
</div>
<AdBanner currentPath={$page.url.href}/>
<div class='mt-2 flex flex-wrap'>
    {#each nextPosts as post}
        <Trend post={post}/>
    {/each}
    {#if currentPage > 0 }
        <div class='flex flex-col items-center w-full py-2'>
            <button class='btn rounded inline-flex item-center' on:click={() => findNextPosts()}>
                {#if loading }
			<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
					<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
			</span>
                {/if}
                Afficher plus
            </button>
        </div>
    {/if}
</div>