<script lang="ts">
    import {onMount} from 'svelte';
    import Post from './Post.svelte';
    import {getCategoryPostsFromPosts} from "$lib/store/CategoryStore";

    export let posts = [];
    export let category = {id: 0, 'slug': '', 'name': '', 'uid': ''};
    let _posts = [];
    onMount(function () {
        _posts = getCategoryPostsFromPosts(category, posts);
    });
</script>
{#if _posts.length}
    <div class='flex mt-16 mb-4 px-4 lg:px-0 items-center justify-between'>
        <h2 class='font-semibold text-3xl'>{category.name}</h2>
        <a href={`/topic/${category.slug}`} class='bg-teal-500 hover:bg-teal-600 rounded text-white px-3 py-1 cursor-pointer'>Tout afficher</a>
    </div>
    <div class='block space-x-0 lg:flex lg:space-x-2'>
        {#each posts as post(post.id)}
            <Post {post}/>
        {/each}
    </div>
{/if}