<script lang="ts">
	import FollowingMagazine from '../FollowingMagazine.svelte';

	export let mag = {};
	export let show;
</script>
<div class='hover:bg-gray-100'>
	<div class='w-full flex p-3 border-t border-gray-100 focus:outline-none'>
		<a href={`/${mag.slug}`} class='flex w-full' title={mag.title}>
			<img src={mag.image} alt={mag.title} class='w-12 h-12 rounded-full border border-teal-200 object-cover object-left' />
			<div class='ml-4'>
				<p class='text-sm font-bold leading-tight mb-2'> {mag.title} </p>
				<p class='text-sm leading-tight'> @{mag.category.name} </p>
			</div>
		</a>
		<FollowingMagazine magazine={mag} />
	</div>
	{#if show}
		<p class='text-sm px-4 py-3'>{mag.description}</p>
	{/if}
</div>
