<script lang="ts">
  import { relative_time } from "$lib/helpers/functions";
  export let post;
  const time = relative_time(post.date_published);
  const onImageError=(e)=>{
    e.target.src="/images/no_image.png";
  }
</script>
<div class="flex items-center w-full mb-2">
  <div class="md:block flex-none mr-4">
    <img on:error={onImageError} src={post.magazine.image} alt={post.magazine.title} class="h-10 w-10 rounded-full flex-none object-cover object-left" />
  </div>
  <div class="flex flex-col w-full">
    <div class="flex content-between">
      <div>
        <span class="font-semibold">
            <a href={`/${post.magazine.slug}`} title={post.magazine.title}>{post.magazine.title}</a>
        </span>
        <span class="text-sm text-dark ml-1"><span class="inline-block">·</span> {time} </span>
      </div>
    </div>
    {#if post.magazine.category}
      <a href={`/topic/${post.magazine.category.slug}`} class="text-sm text-teal-800 font-semibold" title={post.magazine.category.name}>
        @{post.magazine.category.name}
      </a>
      {/if}
  </div>
</div>
