<script lang="ts">
    import Loading from '../Loading.svelte';
    import Post from './Trend.svelte';
    import {onMount} from 'svelte';
    import {getTrendPosts, trends} from "$lib/store/PostStore";

    export let size;
    let articles = $trends;
    onMount(() => {
        if ($trends.length === 0)
            getTrendPosts()
    });

</script>
<div class='w-full rounded-lg bg-gray-100' id='trend_article_div'>
    <div class='flex items-center justify-between p-3'>
        <p class='text-2xl text-center text-teal-800 font-bold w-full'>Tendances</p>
    </div>
    {#if articles.length }
        <Loading/>
    {/if}
    <div class='flex flex-col w-full items-center'>
        {#each articles as article}
            <Post post={article}/>
        {/each}
    </div>

</div>
