<script lang="ts">
    import AdBanner from '../AdBanner.svelte';
    import Loading from '../Loading.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';

    export let post;
    let imgRef;
    const {title, url, image} = post;
    onMount(() => {
        if (image !== null)
            imgRef.setAttribute('src', image.replace('http:', 'https:'));
    });

    const onImageError = (e) => e.target.src = '/images/no_image.png';

</script>
{#if post !== undefined}
    <div class='rounded w-full md:w-1/2 lg:w-1/4 p-4 lg:p-0'>
        {#if image == null}
            <div class='h-32 overflow-hidden rounded'>
                <img on:error={onImageError} class='w-full rounded' bind:this={imgRef} src={`no_image.jpg`} alt={title} title={title}/>
            </div>
        {/if}
        {#if image == null}
            <AdBanner currentPath={$page.url.href}/>
        {/if}
        <div class='p-4 pl-0 pr-0'>
            <h2 class='font-semibold text-gray-800'>
                <a href={url} title={title}>{title}</a>
            </h2>
        </div>
    </div>
{:else }
    <Loading/>
{/if}
