<script lang="ts">
	import PostLove from '../PostLove.svelte';
	import SavePost from '../SavePost.svelte';
	import Share from '../Share.svelte';
	import Comment from "$lib/components/front/common/Comment.svelte";

	export let post;

</script>

<div class='flex items-center text-gray-800 justify-around  my-1'>
	<a href={`/${post.magazine.slug}/${post.slug}/comment?uid=${post.uid}`} class='flex'>
		<Comment classes="w-7 h-7 mr-1"/>
		<p class="text-2xl"> {post.comments_count} </p>
	</a>
	<PostLove post={post} />
	<SavePost post={post} />
	<Share post={post} />
</div>