<script lang="ts">
    import {goto} from '$app/navigation';
    import {page} from '$app/stores';
    import {wrapText} from '$lib/helpers/functions';
    import {posts, search} from "$lib/store/PostStore";

    let articles = $posts;
    const default_q = $page.url.searchParams.get('q') !== null ? $page.url.searchParams.get('q') : '';
    let q = default_q;

    let elementRef;
    let inputRef;

    const findPosts = async () => articles = await search(q)
    const resetSearch = () => {
        q = '';
        articles = [];
    };

    const handleSubmit = (event) => {
        event.preventDefault();
        goto('/recherche?q=' + q);
    };

</script>
<div class='relative w-full rounded-md'>
    <form on:submit={handleSubmit} class='w-full rounded-md'>
        <input class='pl-8 flex-grow flex-shrink overflow-hidden bg-white w-full ml-2 rounded-md font-medium  p-1 focus:outline-none search_input'
               placeholder={`Recherche articles`}
               bind:this={inputRef}
               on:focus={() => elementRef.style.display = "block"}
               bind:value={q}
               on:input={findPosts}
        />
        <i class='fas fa-search absolute left-0 top-0 mt-2 ml-3 text-sm text-gray-700'></i>
        {#if (q.length > 0) }
            <i class={`fas fa-times-circle absolute top-0 mt-3 ml-5 text-sm text-teal-900 cursor-pointer right-0`} on:click={resetSearch}></i>{/if}
    </form>
    <div on:mouseover={() => elementRef.style.display = "block"} on:mouseout={() => elementRef.style.display = "none"} class='rounded-md shadow-lg py-2 hidden fixed bg-white overflow-y-auto w-2/3 md:w-1/2 z-10' bind:this={elementRef}>
        {#if articles.length === 0}
            <span class='inline-block p-2 text-gray-700'>Rechercher <span class='font-semibold'>{q}</span></span>
        {/if}
        {#each articles as article}
            <a href='{article.url}' class='inline-block w-full px-3 py-3 border-b border-gray-200 text-sm hover:bg-gray-100 text-black'>
                {@html wrapText(q, article.title) }
            </a>
        {/each}
    </div>
</div>