<script lang="ts">
    import {onMount} from 'svelte';

    export let post;
    const {title, url, image, summary} = post;
    let imgRef;
    onMount(() => {
        if (image !== null)
            imgRef.setAttribute('src', image.replace('http:', 'https:'));
    });
    const onImageError = (e) => {
        e.target.src = '/images/no_image.png';
    };

</script>
<div class='mb-4 lg:mb-0 p-4 lg:p-0 w-full md:w-4/7 relative rounded block'>
    {#if image !== null}
        <a href={url} title={title}>
            <img on:error={onImageError} bind:this={imgRef} class='rounded object-cover w-full h-64' src={`no_image.jpg`} alt={title} title={title}/>
        </a>
    {/if}

    <h1 class='text-gray-800 text-3xl font-bold mt-2 mb-2 leading-tight'>
        <a href={url} title={title}>{title}</a>
    </h1>
    <p class='hidden md:block text-gray-600 mb-4'>{@html summary}</p>
</div>