<script lang="ts">
	import AdBanner from '../AdBanner.svelte';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';

	export let post;
	const { title, url, image } = post;
	let imgRef;
	onMount(() => {
		if (image !== null)
			imgRef.setAttribute('src', image.replace('http:', 'https:'));
	});
	const onImageError = (e) => {
		e.target.src = '/images/no_image.png';
	};
</script>

<div class='rounded w-full flex flex-col md:flex-row mb-10'>
	{#if image !== null}
		<a href='{url}' title={title} class="block w-1/3">
			<img on:error={onImageError} bind:this={imgRef} class='block md:hidden lg:block rounded-md w-11/12 md:w-64 m-4 md:m-0' src={`no_image.jpg`} alt={title} title={title} />
		</a>
	{/if}

	<div class='bg-white rounded px-4 w-2/3'>

		<h2 class='md:mt-0 text-gray-800 font-semibold text-lg mb-2'>
			<a href='{url}' title={title}>{title}</a>
		</h2>
		<span class='text-teal-900 text-md hidden md:block'>
			<a href={`/topic/${post.magazine.category.slug}`} title={post.magazine.category.name}>{post.magazine.category.name}</a> -
			 <a href={`/${post.magazine.slug}`} title={post.magazine.title}>@{post.magazine.title}</a>
		</span>
	</div>
</div>