<script lang="ts">
    import {readTime, relative_time} from '$lib/helpers/functions';
    import AdBanner from '../AdBanner.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import Comment from "$lib/components/front/common/Comment.svelte";
    import Heart from "$lib/components/front/common/Heart.svelte";
    import Eye from "$lib/components/front/common/Eye.svelte";

    export let post;

    const {title, url, image, body} = post;
    let imgRef;
    const time = relative_time(post.date_published);

    onMount(() => {
        if (image !== null)
            imgRef.setAttribute('src', image.replace('http:', 'https:'));
    });

    const onImageError = (e) => {
        e.target.src = '/images/no_image.png';
    };

</script>
<div class='transition-all duration-150 flex w-full px-2 py-6 md:w-1/2 lg:w-1/3'>
    <div class='flex flex-col items-stretch min-h-full pb-4 mb-6 transition-all duration-150 bg-white border-b-1 hover:shadow-xl overflow-x-hidden'>
        <div class='md:flex-shrink-0'>
            {#if image !== null}
                <a href='{url}'>
                    <img on:error={onImageError} bind:this={imgRef} class='object-fill w-full md:h-56' src={`no_image.jpg`} alt={title} title={title}/>
                </a>
            {/if}
            {#if image == null}
                <AdBanner currentPath={$page.url.href}/>
            {/if}

        </div>
        <div class='flex items-center justify-between px-4 py-2 overflow-hidden'>
       <span class='text-lg font-medium text-blue-600 uppercase'>
             <a class='text-gray-600' href={`/topic/${post.magazine.category.slug}`} title={post.magazine.category.name}>{post.magazine.category.name}</a>
       </span>
            <div class='flex flex-row items-center'>
                <div class='text-base font-medium text-gray-500 flex flex-row items-center mr-3 hover:cursor-pointer'>
                   <Eye/>
                    <span>{post.vue}</span>
                </div>

                <div class='text-base font-medium text-gray-500 flex flex-row items-center mr-3 hover:cursor-pointer'>
                    <Comment/>
                    <span>{post.comments_count}</span>
                </div>

                <div class='text-base font-medium text-gray-500 flex flex-row items-center hover:cursor-pointer'>
                    <Heart/>
                    <span>{post.love}</span>
                </div>
            </div>
        </div>

        <div class='flex flex-wrap items-center flex-1 px-4 py-1  mx-auto'>
            <a href='{url}' title={title}>
                <h2 class='text-2xl font-semibold tracking-normal text-gray-800'>
                    {title}
                </h2>
            </a>
        </div>


        <section class='px-4 py-2 mt-2'>
            <div class='flex items-center justify-between'>
                <div class='flex items-center flex-1'>
                    <img alt={post.magazine.title} class='object-cover w-10 rounded-full' on:error={onImageError} src={post.magazine.image}/>
                    <div class='flex flex-col mx-2'>
                        <a class='font-semibold text-gray-700' href={`/${post.magazine.slug}`}>
                            {post.magazine.title}
                        </a>
                        <span class='mx-1 text-sm text-gray-600'>{time}</span>
                    </div>
                </div>
                <p class='mt-1 text-sm text-gray-600'>{readTime(body)}</p>
            </div>
        </section>
    </div>
</div>