@tailwind base;
/* Start purging... */
@tailwind components;
/* Stop purging. */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body{font-size: 1.2rem;}
.border-b-1	{border-bottom-width: 1px};

input:checked + svg {
  display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown_li{
    @apply py-1 px-2 block border-b
}
.dropdown_li:hover{
    @apply text-teal-500
}


.primary {
    @apply inline-block p-3 bg-gray-100 rounded-lg text-teal-900
  }
  
  .primary:hover {
    @apply bg-gray-200
  }
  
  .btn {
    @apply bg-teal-500 rounded-lg text-white p-2
  }
  
  .btn:hover {
    @apply bg-teal-600
  }
  
  .btn:focus {
    @apply outline-none
  }

  .tab_selected {
    @apply text-teal-700 border-b-2 border-teal-500 font-bold
  }

.video_triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* ratio 16/9 */
  height: 0;
  overflow: hidden;
  clear: both;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fixedBottom {
  position: fixed;
  bottom: 50px;
  right: 0;
  z-index: 9999;
  border-radius: 0px!important;
  height: 8rem;
  width: 50%!important;
}

@screen sm{
  .fixedBottom{
    width:50%!important;
    height: 8rem;
  }
}

@screen md{
  .fixedBottom{
    width:30%!important;
    height: 18rem;
  }
}


.video_triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000000;
}

[data-placeholder]::after {
  content: " ";
  box-shadow: 0 0 50px 9px rgba(254,254,254);
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%; 
  animation: load 1s infinite;
}
@keyframes load {
  0%{ left: -100%}
  100%{ left: 150%}
}


/* Start purging... */
@tailwind utilities;
/* Stop purging. */