<script lang="ts">
    import {onMount} from 'svelte';

    export let currentPath;
    onMount(function () {
        if (typeof window !== 'undefined')
            try {
                (window.adsbygoogle = window.adsbygoogle || []).push({});
            } catch (err) {
                console.log(err);
            }
    });
</script>

<div key={currentPath} style='overflow:hidden;max-height:150px;' class='rounded'>
    <ins class='adsbygoogle' style='display: block' data-ad-client='ca-pub-3883880951212572' data-ad-slot='7628698108' data-ad-format='auto' data-full-width-responsive='true'></ins>
</div>