<script lang="ts">
    import {relative_time as relativeTime} from '$lib/helpers/functions';

    export let comment;
    const relative_time = relativeTime(comment.created_at);
</script>
<div class='w-full'>
    <div class='flex items-center w-full mb-2'>
        <div class='md:block flex-none mr-4'>
            <a href={`/compte/profil?uid=${comment.user.uid}`} title={comment.user.name}>
                <img src={comment.user.image} alt={comment.user.name} class='h-10 w-10 rounded-full flex-none object-cover object-left'/>
            </a>
        </div>
        <div class='flex flex-col w-full'>
            <div class='flex content-between'>
                <div>
					<span class='font-semibold'>
					    <a href={`/compte/profil?uid=${comment.user.uid}`} title={comment.user.name}>{comment.user.name}</a>
					</span>
                    <span class='text-sm text-dark ml-1'><span class='inline-block'>·</span> {relative_time} </span>
                </div>

            </div>
        </div>
    </div>
    <p class='py-2 font-semibold'>{comment.content} </p>
</div>