<script lang="ts">
    import {goto} from '$app/navigation';
    import {onMount} from 'svelte';
    import HttpClient, {API_ROUTE} from '$lib/helpers/global';
    import {notification} from '$lib/helpers/functions';
    import {currentUser, userCategories} from "$lib/store/UserStore";

    export let category;
    const user = $currentUser;
    let followed = false;
    let label = 'Suivi';
    onMount(function () {
        isFollowed();
    });

    async function followCategory(e) {
        e.preventDefault();
        if (!user.is_authenticated)
            return goto('/auth/login');
        let follow = 0;
        followed ? (follow = 0) : (follow = 1);
        if (followed) {
            userCategories.set($userCategories.filter(mag => mag.uid !== category.uid));
        } else {
            userCategories.update(current => [...current, category]);
        }
        followed = !followed;
        notification('Succès', 'Enregistré', 'success');
        await HttpClient.get(API_ROUTE + `follow/category/${category.uid}?follow=` + follow);

    }

    function isFollowed() {
        if (user.is_authenticated && $userCategories.length) {
            const findedCategory = $userCategories.find(mag => mag.uid === category.uid);
            if (findedCategory !== undefined)
                followed = true;
        }
    }
</script>
{#if followed}
    <a href={`/follow/category/${category.uid}`} class='inline-block h-8 w-48 text-center text-sm font-semibold mt-3 btn hover:bg-red-600' title='Ne plus suivre' on:mouseout={()=>label='Suivi'} on:mouseover={() => label='Ne plus suivre'} on:click={followCategory}>{label}</a>
{:else }
    <a href={`/follow/category/${category.uid}`} class='inline-block h-10 w-48 mt-3 text-center text-sm font-semibold primary' title='Suivre' on:click={followCategory}>Suivre</a>
{/if}