<script lang="ts">
    import {goto} from '$app/navigation';
    import {onMount} from 'svelte';
    import HttpClient, {API_ROUTE} from '$lib/helpers/global';
    import {notification} from '$lib/helpers/functions';
    import {currentUser, userMagazines} from "$lib/store/UserStore";

    export let magazine;
    const user = $currentUser;
    let followed = false;
    let label = 'Suivi';

    onMount(function () {
        isFollowed();
    });

    async function followMagazine(e) {
        e.preventDefault();
        if (!user.is_authenticated)
            return goto('/auth/login');
        let follow = 0;
        followed ? (follow = 0) : (follow = 1);
        if (followed) {
            userMagazines.set($userMagazines.filter(mag => mag.uid !== magazine.uid));
        } else {
            userMagazines.update((current) => [...current, magazine]);
        }
        followed = !followed;
        notification('Succès', 'Enregistré', 'success');
        await HttpClient.get(API_ROUTE + `follow/magazine/${magazine.uid}?follow=` + follow);

    }

    function isFollowed() {
        if (user.is_authenticated && $userMagazines.length) {
            const findedMagazine = $userMagazines.find(mag => mag.uid === magazine.uid);
            if (findedMagazine !== undefined)
                followed = true;
        }
    }
</script>
{#if followed}
    <a href={`/follow/magazine/${magazine.uid}`} class='inline-block h-8 w-48 text-center text-sm font-semibold mt-3 btn hover:bg-red-600' title='Ne plus suivre' on:mouseout={()=>label='Suivi'} on:mouseover={() => label='Ne plus suivre'} on:click={followMagazine}>{label}</a>
{:else }
    <a href={`/follow/magazine/${magazine.uid}`} class='inline-block h-10 w-48 mt-3 text-center text-sm font-semibold primary' title='Suivre' on:click={followMagazine}>Suivre</a>
{/if}