<script lang="ts">
    import {goto} from '$app/navigation';
    import {onMount} from 'svelte';
    import HttpClient from '$lib/helpers/global';
    import {notification} from '$lib/helpers/functions';
    import {currentUser, userChannels} from "$lib/store/UserStore";

    export let channel;
    const user = $currentUser;
    let followed = false;
    let label = 'Suivi';
    onMount(function () {
        isFollowed();
    });

    async function followChannel(e) {
        e.preventDefault();
        if (!user.is_authenticated)
            return goto('/auth/login');
        let follow = 0;
        followed ? (follow = 0) : (follow = 1);
        if (followed) {
            userChannels.set($userChannels.filter(mag => mag.uid !== channel.uid));
        } else {
            userChannels.update((current) => [...current, channel]);
        }
        followed = !followed;
        notification('Succès', 'Enregistré', 'success');
        await HttpClient.get(`follow/channel/${channel.uid}?follow=` + follow);

    }

    function isFollowed() {
        if (user.is_authenticated && $userChannels.length) {
            const findedChannel = $userChannels.find(mag => mag.uid === channel.uid);
            if (findedChannel !== undefined)
                followed = true;
        }
    }
</script>
{#if followed}
    <a href={`/follow/channel/${channel.uid}`} class='inline-block h-8 w-48 text-center text-sm font-semibold mt-3 btn hover:bg-red-600' title='Ne plus suivre' on:mouseout={()=>label='Suivi'} on:mouseover={() => label='Ne plus suivre'} on:click={followChannel}>{label}</a>
{:else }
    <a href={`/follow/channel/${channel.uid}`} class='inline-block h-10 w-48 mt-3 text-center text-sm font-semibold primary' title='Suivre' on:click={followChannel}>Suivre</a>
{/if}