<script lang="ts">
	import { NAME } from '$lib/helpers/global';
</script>
<footer class='flex justify-center px-4 text-gray-700 bg-gray-100 mt-3'>
	<div class='container pt-10 pb-6'>
		<h2 class='text-center text-lg font-bold lg:text-2xl'>
			Souscrire à notre newsletter
			<br />
			et soyer les premiers informés.
		</h2>

		<div class='flex justify-center mt-6'>
			<div class='bg-white rounded-lg'>
				<div class='flex flex-wrap justify-between md:flex-row'>
					<input type='email' id='email' class='m-1 p-2 w-72 appearance-none text-gray-700 text-sm focus:outline-none' placeholder='Entrer votre email' />
					<button name='send' class='w-full text-white m-1 p-2 text-sm bg-teal-600 rounded-lg font-semibold uppercase lg:w-auto'>
						souscrire
					</button>
				</div>
			</div>
		</div>

		<hr class='h-px mt-6 bg-white border-none' />

		<div class='flex flex-col items-center justify-between mt-6 md:flex-row'>
			<div>
				<a href='/' class='text-2xl font-bold'>{NAME}</a>
			</div>
			<div class='flex mt-4 md:m-0 '>
				<div class='-mx-4 font-semibold flex flex-wrap items-center'>
					<a href='/apropos' class='px-4'>A propos</a>
					<a href='/confidentialite' class='px-4'>Confidentialité</a>
					<a href='/conditions' class='px-4'>Conditions</a>
				</div>
			</div>
		</div>
	</div>
</footer>