<script lang="ts">
    import {fade} from 'svelte/transition';
    import {NAME} from '$lib/helpers/global';
    import SearchPost from './posts/SearchPost.svelte';
    import SearchVideo from './videos/SearchVideo.svelte';
    import SideNav from './SideNav.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {currentUser} from "$lib/store/UserStore";
    import Youtube from "$lib/components/front/common/Youtube.svelte";
    import {sideNavOpen} from "$lib/store/Common";

    let showVideoSearch = false;

    onMount(() => {
        const pathname = $page.url.pathname;
        if (pathname.startsWith('/videos')) {
            showVideoSearch = true;
        }
    });

    function toggleSideNav() {
        sideNavOpen.set(!$sideNavOpen)
    }

    let lastScrollTop = 0;
    let headerDiv: HTMLElement;

    function windowScroll(event) {
        const document: Document = event.target;
        const st = Window.pageYOffset || document.documentElement.scrollTop;
        if (st > lastScrollTop) {
            headerDiv.classList.remove('header_fixed');
        } else {
            headerDiv.classList.add('header_fixed');
        }
        lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
    }

</script>
<svelte:window on:scroll={windowScroll}/>
<div class='flex-1 flex flex-col header_fixed' bind:this={headerDiv} transition:fade>
    <nav class='px-1 bg-gray-100 w-full flex relative justify-between items-center mx-auto md:px-8 h-12'>
        <div class='md:inline-flex'>
            <a href='/'>
                <div class='block'>
                    <img class='w-10 md:w-10 mx-auto' src='/images/logo.png' alt={`Logo de ${NAME}`}/>
                </div>
            </a>
            <a href='/' class='hidden md:inline-block pl-0 md:pl-8 lg:pl-0 text-2xl md:text-3xl font-semibold text-gray-700 upper pt-1'>{NAME}</a>
        </div>

        <div class='w-2/3 md:w-1/2 sm:block flex-shrink flex-grow-0 justify-start px-0 md:px-2'>
            {#if showVideoSearch}
                <SearchVideo/>
            {:else }
                <SearchPost/>
            {/if}
        </div>

        <div class='flex-initial ml-3'>
            <div class='flex justify-end items-center relative'>
                <div class='flex mr-1 md:mr-4 items-center'>
                    <a href='/videos' class='inline-block py-2 px-1 md:px-3 hover:bg-gray-200 rounded' title='Vidéos yitane'>
                        <div class='flex items-center relative cursor-pointer whitespace-nowrap'>
                            <Youtube classes="w-7 h-7 mr-1"/>
                            <span class='hidden md:block'>&nbsp;Vidéos</span>
                        </div>
                    </a>
                </div>

                <div class='block'>
                    <div class='inline relative w-10'>
                        <button name='menuBtn' on:click={toggleSideNav} type='button' class='inline-flex items-center relative px-2 py-1 rounded hover:shadow-lg focus:outline-none bg-white'>
                            <div class='pl-1'>
                                <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-align-right h-8' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                                    <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                                    <line x1='4' y1='6' x2='20' y2='6'/>
                                    <line x1='10' y1='12' x2='20' y2='12'/>
                                    <line x1='6' y1='18' x2='20' y2='18'/>
                                </svg>
                            </div>
                            <div class='block flex-grow-0 flex-shrink-0 h-7 w-7 md:h-9 md:w-9 pl-1'>
                                {#if $currentUser.is_authenticated }
                                    <img src={$currentUser.image} alt={$currentUser.name} class='w-full h-full rounded'/>
                                {:else }
                                    <svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' style='display:block;height: 100%;	width: 100%;fill: currentColor'>
                                        <path d='m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z'>
                                        </path>
                                    </svg>
                                {/if}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
{#if $sideNavOpen}
    <div transition:fade>
        <SideNav/>
        <div class='z-10 fixed inset-0 transition-opacity'>
            <div on:click={toggleSideNav} tabIndex='0' class='absolute inset-0 bg-black opacity-50'></div>
        </div>
    </div>

{/if}
