<div class='w-full flex items-center flex-col'>
	<div class='flex bg-white shadow-md p-4 rounded-md w-full'>
		<div data-placeholder='true' class='mr-2 h-40 w-20 rounded overflow-hidden relative bg-gray-200 w-1/3'></div>
		<div class='flex flex-col justify-between w-2/3'>
			<div data-placeholder='true' class='mb-2 h-16 overflow-hidden relative bg-gray-200 w-full'></div>
			<div data-placeholder='true' class='h-20 overflow-hidden relative bg-gray-200 w-full'></div>
		</div>
	</div>
</div>