<script lang="ts">
    import {redirectIfNotLogged} from '$lib/helpers/functions';
    import HttpClient, {API_ROUTE} from '$lib/helpers/global';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {currentUser, userLovedArticles} from "$lib/store/UserStore";
    import Heart from "$lib/components/front/common/Heart.svelte";
    import HeartBroken from "$lib/components/front/common/HeartBroken.svelte";

    export let post;
    const user = $currentUser;
    let loveCount = 0;
    let count: number = 0;
    let loved: boolean = false;

    onMount(() => {
        loveCount = (sessionStorage !== undefined && sessionStorage.getItem(post.uid) != null) ? +sessionStorage.getItem(post.uid) : parseInt(post.love);
        count = loveCount;
        isLoved();
    });
    const love_article = async (e) => {
        e.preventDefault();
        redirectIfNotLogged(user, page.url);
        if (loved) {
            count = count > 0 ? count - 1 : 0;
            sessionStorage.setItem(post.uid, String(count - 1));
        } else {
            count = count + 1;
            sessionStorage.setItem(post.uid, String(count + 1));
        }

        setTimeout(() => {
            loved ? userLovedArticles.set($userLovedArticles.filter(art => art.uid !== post.uid)) : userLovedArticles.update((current) => [...current, post]);
        }, 1000);
        loved = !loved;
        await HttpClient.get(API_ROUTE + `love/article/${post.uid}?love=${+(!loved)}`);
    };

    const isLoved = () => {
        if (user.is_authenticated && $userLovedArticles.length) {
            const loved_article = $userLovedArticles.find(article => article.uid === post.uid);
            if (loved_article !== undefined)
                loved = true;
        }
    };
</script>


{#if loved}
    <button class='post-btn flex font-bold text-2xl' onClick={love_article} title="Nombre j'aime">
        <HeartBroken classes="w-7 h-7 mr-1"/>
        <span> {isNaN(count) ? 0 : count} </span>
    </button>
{:else }
    <button class='post-btn flex text-2xl' onClick={love_article} title="Nombre j'aime">
        <Heart classes="w-7 h-7 mr-1"/>
        <span> {isNaN(count) ? 0 : count} </span>
    </button>
{/if}