<script lang="ts">
    import {relative_time} from '$lib/helpers/functions';
    import {NAME} from '$lib/helpers/global';
    import {currentUser} from '$lib/store/UserStore';

    export let member;
    export let current_path;
    const user = $currentUser;
</script>

<div class='bg-grey-lighter'>
    <div class='bg-white overflow-hidden'>
        <div class='bg-cover h-40' style="background-image: url('https://picsum.photos/700/200')"></div>
        <div class=' px-4 pb-1 w-full'>
            <div class='flex w-full sm:text-left sm:flex mb-4'>
                <img class='h-24 w-24 md:h-32 md:w-32 rounded border-2 border-white -mt-16 mr-2 object-cover object-left' src={member.image} alt={member.name}/>
                <div class='mt-3 w-full'>
                    <h1 class='font-bold text-xl mb-1'>{member.name}</h1>
                    <p class='text-gray-700 pt-2'>
                        <i class='fas fa-map-marker-alt'></i> {member.country !== undefined && member.country.name}
                    </p>
                    <p class='text-gray-700 pt-2'>
                        <i class='far fa-calendar-alt'></i> a réjoint {NAME} {relative_time(member.created_at)}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<nav class='flex flex-col sm:flex-row border-b place-content-around font-semibold '>
    <a href={`/compte/profil?uid=${member.uid}`} class={`tab ${current_path === "/compte/profil" ? "tab_selected" : ""} `}>Activités</a>
    <a href={`/compte/magazines?uid=${member.uid}`} class={`tab ${current_path === "/compte/magazines" ? "tab_selected" : ""} `}>Magasines</a>
    <a href={`/compte/channels?uid=${member.uid}`} class={`tab ${current_path === "/compte/channels" ? "tab_selected" : ""} `}>Chaines</a>
    {#if user.uid === member.uid}
        <a href={`/compte/sauvegarde?type=post`} class={`tab ${current_path === "/compte/sauvegarde?type=post" ? "tab_selected" : ""} `}>Lire plus tard</a>

        <a href={`/compte/sauvegarde?type=video`} class={`tab ${current_path === "/compte/sauvegarde?type=video" ? "tab_selected" : ""} `}>Regarder plus tard</a>
    {/if}
</nav>