<script lang="ts">
    import {redirectIfNotLogged} from '$lib/helpers/functions';
    import HttpClient from '$lib/helpers/global';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {currentUser, userSavedArticles} from "$lib/store/UserStore";
    import Save from "$lib/components/front/common/Save.svelte";
    import Trash from "$lib/components/front/common/Trash.svelte";

    export let post;
    onMount(() => isSaved());

    const user = $currentUser;
    let saveCount = post.save;
    let saved = false;

    const save_article = async (e) => {
        e.preventDefault();
        redirectIfNotLogged(user, $page.url);
        let save = 0;
        if (saved) {
            save = 0;
            saveCount = saveCount - 1;
            userSavedArticles.set($userSavedArticles.filter(art => art.uid !== post.uid));
        } else {
            save = 1;
            saveCount = saveCount + 1;
            userSavedArticles.update(current => [...current, post]);
        }
        saved = !saved;
        await HttpClient.get(`save/article/${post.uid}?save=` + save);
    };

    const isSaved = () => {
        if (user.is_authenticated && $userSavedArticles.length) {
            const saved_article = $userSavedArticles.find(article => article.uid === post.uid);
            if (saved_article !== undefined)
                saved = true;
        }
    };
</script>

{#if saved}
    <button class='post-btn font-bold' on:click={save_article} title='Supprimer de à Lire plus tard'>
        <Trash classes="w-7 h-7 mr-1"/>
    </button>
{:else}
    <button class='post-btn' on:click={save_article} title='Ajouter à Lire plus tard'>
         <Save classes="w-7 h-7 mr-1"/>
    </button>
{/if}
