<script lang="ts">
    import {redirectIfNotLogged} from '$lib/helpers/functions';
    import HttpClient from '$lib/helpers/global';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {currentUser, userSavedVideos} from "$lib/store/UserStore";

    export let video;
    onMount(() => isSaved());

    const user = currentUser;
    let saveCount = video.save;
    let saved = false;

    const save_video = async (e) => {
        e.preventDefault();
        redirectIfNotLogged(user, page.url);
        let save = 0;
        if (saved) {
            save = 0;
            saveCount = saveCount - 1;
            userSavedVideos.set($userSavedVideos.filter(art => art.uid !== video.uid));
        } else {
            save = 1;
            saveCount = saveCount + 1;
            userSavedVideos.update((current) => [...current, video]);
        }
        saved = !saved;
        await HttpClient.get(`save/video/${video.uid}?save=` + save);
    };

    const isSaved = () => {
        if ($user.is_authenticated && $userSavedVideos.length) {
            const saved_video = $userSavedVideos.find(video => video.uid === video.uid);
            if (saved_video !== undefined)
                saved = true;
        }
    };
</script>

{#if saved}
    <button class='post-btn font-bold' on:click={save_video} title='Lire plus tard'>
        <i class='fas fa-bookmark p-2 rounded-full hover:bg-teal-200 hover:text-black'></i>
    </button>
{:else}
    <button class='post-btn' on:click={save_video} title='Lire plus tard'>
        <i class='far fa-bookmark p-2 rounded-full hover:bg-teal-200 hover:text-black'></i>
    </button>
{/if}
