<script lang="ts">
    import {Facebook, LinkedIn, Twitter, WhatsApp} from 'svelte-share-buttons-component';
    import {onMount} from 'svelte';
    import Share from "$lib/components/front/common/Share.svelte";

    export let post;
    let path;
    let dropdown = false;
    onMount(() => {
        const {protocol, host} = window.location;
        path = protocol + '//' + host + post.url;
    });
</script>

<div class='relative'>
    <button class='post-btn focus:outline-none' on:click={() => dropdown=!dropdown}>
        <Share classes="w-7 h-7 mr-1"/>
    </button>
    {#if dropdown}
        <div class='absolute z-10 top-0 right-0 w-56 rounded-lg shadow-2xl bg-gray-100' style='top:-67px'>
            <p class='text-center font-semibold border-b p-2 text-lg uppercase bg-gray-200 rounded-t-lg'>Partager</p>
            <div class='flex p-1 items-center place-content-around'>
                <div class='p-1'>
                    <Facebook class='share-button' quote='{post.title}' url='{path}'/>
                </div>
                <div class='p-1'>
                    <Twitter class='share-button' text='{post.title}' url='{path}' hashtags='' via='' related='news,piaafrica'/>
                </div>
                <div class='p-1'>
                    <WhatsApp class='share-button' text='{post.title} {path}'/>
                </div>
                <div class='p-1'>
                    <LinkedIn class='share-button' url='{path}'/>
                </div>
            </div>
        </div>
    {/if}

    {#if dropdown}
        <div class='fixed top-0 bottom-0 left-0 right-0 bg-transparent' on:click={() => dropdown=false}></div>
    {/if}
</div>