<script lang="ts">
    import {onMount} from 'svelte';
    import {doLogout} from '$lib/helpers/functions';
    import {categories, getCategories} from "$lib/store/CategoryStore";
    import {currentUser} from "$lib/store/UserStore";
    import LoginIn from "$lib/components/front/common/LoginIn.svelte";
    import Document from "$lib/components/front/common/Document.svelte";

    const user = $currentUser;


    onMount(async () => {
        if ($categories.length === 0) {
            await getCategories();
        }
    });
</script>
<div class='flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-teal-800'>
    <div class='fixed flex flex-col top-0 left-0 w-80 bg-white h-full border-r z-20'>
        <div class='flex items-center justify-center w-full'>
            {#if user.is_authenticated }
                <div class='flex items-center justify-center border-b w-full'>
                    <div class='flex flex-col items-center bg-gray-100  w-full py-6 px-4 '>
                        <div class='h-20 w-20 rounded-full border overflow-hidden'>
                            <img src={user.image} alt={user.name} class='h-full w-full'/>
                        </div>
                        <div class='text-sm font-semibold mt-2'>{user.name}</div>
                        <div class='text-xs text-teal-500'>{user.email}</div>
                        <div class='flex flex-row items-center mt-3'>
                            <div class='flex flex-col justify-center h-4 w-8 bg-teal-500 rounded-full'>
                                <div class='h-3 w-3 bg-white rounded-full self-end mr-1'></div>
                            </div>
                            <div class='leading-none ml-1 text-xs'>Actif</div>
                        </div>
                    </div>
                </div>
            {/if}
        </div>

        <div class='overflow-y-auto overflow-x-hidden flex-grow'>
            <ul class='flex flex-col py-4 space-y-1'>
                <li class='px-5'>
                    <div class='flex flex-row items-center h-8'>
                        <div class='text-2xl font-semibold tracking-wide text-teal-900'>
                            Menu
                        </div>
                    </div>
                </li>
                <li>
                    <a href='/explorer' class='relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                  <span class='inline-flex justify-center items-center ml-4'>
                    <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-news h-5 w-5' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                      <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                      <path d='M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11'/>
                      <line x1='8' y1='8' x2='12' y2='8'/>
                      <line x1='8' y1='12' x2='12' y2='12'/>
                      <line x1='8' y1='16' x2='12' y2='16'/>
                    </svg>
                  </span>
                        <span class='ml-2 text-xl tracking-wide truncate'>Magasines</span>
                    </a>
                </li>
                <li>
                    <a href='/videos/explorer' class='relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                      <span class='inline-flex justify-center items-center ml-4'>
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-device-tv h-5 w-5' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                          <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                          <rect x='3' y='7' width='18' height='13' rx='2'/>
                          <polyline points='16 3 12 7 8 3'/>
                        </svg>
                      </span>
                        <span class='ml-2 text-xl tracking-wide truncate'>Chaines</span>
                    </a>
                </li>
            </ul>
            <ul class='flex flex-col py-4 space-y-1 overflow-y-scroll h-80'>
                <li class='px-5'>
                    <div class='flex flex-row items-center h-8'>
                        <div class='text-2xl font-semibold tracking-wide text-teal-900'>
                            Thèmes
                        </div>
                    </div>
                </li>
                {#each $categories as category}
                    <li>
                        <a href={`/topic/${category.slug}`} title={category.name} class='relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                            <span class='inline-flex justify-center items-center ml-4'>
                              <Document/>
                            </span>
                            <span class='ml-2 text-xl tracking-wide truncate'>
                              {category.name}
                            </span>
                        </a>
                    </li>
                {/each}
            </ul>

            <ul class='flex flex-col py-4 space-y-1'>
                {#if user.is_authenticated }

                    <li class='px-5'>
                        <div class='flex flex-row items-center h-8'>
                            <div class='text-2xl font-semibold tracking-wide text-teal-900'>
                                Settings
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href={`/compte/profil?uid=${user.uid}`} class='relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                      <span class='inline-flex justify-center items-center ml-4'>
                        <svg class='w-5 h-5' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z'></path>
                        </svg>
                      </span>
                            <span class='ml-2 text-xl tracking-wide truncate'>Profil</span>
                        </a>
                    </li>
                    <li>
                        <a href='/compte/setting' class='relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                      <span class='inline-flex justify-center items-center ml-4'>
                        <svg class='w-5 h-5' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z'></path>
                          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z'></path>
                        </svg>
                      </span>
                            <span class='ml-2 text-xl tracking-wide truncate'>Compte</span>
                        </a>
                    </li>
                    <li>
                        <a href='#' on:click={doLogout} class='relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                    <span class='inline-flex justify-center items-center ml-4'>
                      <svg class='w-5 h-5' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1'></path>
                      </svg>
                    </span>
                            <span class='ml-2 text-xl tracking-wide truncate'>Se deconnecter</span>
                        </a>
                    </li>
                {/if}
                {#if !user.is_authenticated }
                    <li>
                        <a href='/auth/login' class='relative flex flex-row items-center font-semibold h-11 focus:outline-none hover:bg-gray-50 text-teal-800 hover:text-teal-900 border-l-4 border-transparent hover:border-teal-500 pr-6'>
                            <span class='inline-flex justify-center items-center ml-4'>
                              <LoginIn classes="w-6 h-6 m-1"/>
                            </span>
                            <span class='ml-2 text-xl tracking-wide truncate'>Se connecter</span>
                        </a>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</div>