<script lang="ts">
    import {redirectIfNotLogged} from '$lib/helpers/functions';
    import HttpClient from '$lib/helpers/global';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {currentUser, userLovedArticles} from "$lib/store/UserStore";

    export let love;
    const user = currentUser;
    let loveCount: number = 0;
    let count: number = 0;
    let loved = false;

    onMount(() => {
        loveCount = (sessionStorage !== undefined && sessionStorage.getItem(love.uid) != null) ? +sessionStorage.getItem(love.uid) : parseInt(love.love);
        count = loveCount;
        isLoved();
    });

    const love_article = async (e) => {
        e.preventDefault();
        redirectIfNotLogged(user, $page.url);
        if (loved) {
            count = count > 0 ? count - 1 : 0;
            sessionStorage.setItem(love.uid, String(count - 1))
        } else {
            count = count + 1;
            sessionStorage.setItem(love.uid, String(count + 1));
        }
        loved ? userLovedArticles.set($userLovedArticles.filter(art => art.uid !== love.uid)) : userLovedArticles.update((current) => [...current, love]);
        loved = !loved;
        await HttpClient.get(`love/article/${love.uid}?love=${+(!loved)}`);
    };

    const isLoved = () => {
        if ($user.is_authenticated && $userLovedArticles.length) {
            const loved_article = $userLovedArticles.find(article => article.uid === love.uid);
            if (loved_article !== undefined)
                loved = true;
        }
    };
</script>


{#if loved}
    <button class='love-btn flex font-bold' onClick={love_article} title="Nombre j'aime">
        <i class='fas fa-heart p-2 rounded-full hover:bg-teal-200 hover:text-black'></i>
        <span> {isNaN(count) ? 0 : count} </span>
    </button>
{:else }
    <button class='love-btn flex' onClick={love_article} title="Nombre j'aime">
        <i class='far fa-heart p-2 rounded-full hover:bg-teal-200 hover:text-black'></i>
        <span> {isNaN(count) ? 0 : count} </span>
    </button>
{/if}