<script context='module' lang='ts'>

	import {findByCategory} from "$lib/store/VideoStore";

	export async function load({url}) {
		let initCategory = {};
		let initVideos = [];
		try {
			const data = await findByCategory(url.query.cat_slug);
			initCategory = data.category;
			initVideos = data.videos;
		} catch (e) {
			console.log(e);
		}
		return { props: { initVideos, initCategory } };
	}
</script>
<script lang="ts">
	import Video from '$lib/components/front/videos/Video.svelte';
	import FollowingCategory from '$lib/components/front/FollowingCategory.svelte';
	import AdBanner from '$lib/components/front/AdBanner.svelte';
	import Loading from '$lib/components/front/Loading.svelte';
	import { page } from '$app/stores';
	import { onMount } from 'svelte';

	export let initCategory;
	export let initVideos;

	const { cat_slug } = $page.url.searchParams;

	let currentPage = 2;
	let nextVideos = [];
	let videos = initVideos;
	let category = initCategory;

	let loading = false;

	onMount(() => {
		if (videos.length === 0) {
			init();
		}
	});

	const init = async () => {
		const data = await findByCategory(cat_slug);
		videos = data.videos;
		category = data.category;
	};
	const findNextVideos = async () => {
		loading = true;
		const data = await findByCategory(cat_slug, page);
		nextVideos = [...nextVideos, ...data.videos];
		currentPage = data.page;
		loading = false;
	};
</script>
<svelte:head>
	<title>{category.name || ""} - Vidéos</title>
	<meta name='description' content={category.name || ""} />
</svelte:head>
{#if category === undefined || videos === undefined}
	return "<p>Chargement....</p>"
{:else}
	<div class='text-center border-b pb-2'>
		<div class='flex flex-col items-center text-center mx-auto mb-4'>
			<div class=' w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center'>
				<img src={category.image} alt={category.title} class='h-14' />
			</div>
		</div>

		<h1 class='w-full text-gray-800 text-4xl px-5 font-bold leading-none text-center'>{category.title}</h1>
		<FollowingCategory category={category} />
		<div class='text-base text-gray-700 pt-2'>
			{category.description}
		</div>
	</div>

	<AdBanner currentPath={$page.url.href} />

	<div class='flex flex-wrap space-x-0 lg:flex'>
		{#if !videos.length}
			<Loading />
		{/if}
		{#each videos as video}
			<Video video={video} />
		{/each}
	</div>
	<AdBanner currentPath={$page.url.href} />
	<div class='mt-2 flex flex-wrap'>
		{#each nextVideos as video}
			<Video video={video} />
		{/each}
		{#if currentPage > 0 }
			<div class='flex flex-col items-center w-full py-2'>
				<button class='btn rounded inline-flex item-center' on:click={() => findNextVideos()}>
					{#if loading}
						<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
								<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
						</span>
					{/if}
					Afficher plus
				</button>
			</div>
		{/if}
	</div>
{/if}