<script context='module' lang='ts'>

    import {findByCategory} from "$lib/store/PostStore";
    import {get} from "svelte/store";
    import {categories, getCategories} from "$lib/store/CategoryStore";

    export async function load({params}) {
        if(get(categories).length===0)
            await getCategories();
        let initCategory = get(categories).filter(category => category.slug == params.slug);
        let initArticles = [];
        try {
            const data = await findByCategory(params.slug);
            initArticles = data.articles;
        } catch (e) {
            console.log(e);
        }

        return {props: {initArticles, initCategory}};
    }
</script>
<script lang="ts">
    import FollowingCategory from '$lib/components/front/FollowingCategory.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import Trend from '$lib/components/front/posts/Trend.svelte';
    import Loading from '$lib/components/front/Loading.svelte';
    import {page} from '$app/stores';
    import {onMount} from 'svelte';

    export let initCategory;
    export let initArticles;

    const {slug} = $page.params;
    let category = initCategory;
    let articles = initArticles;
    let nextPosts = [];
    let currentPage = 2;
    let loading = false;

    onMount(() => {
        category = $categories.filter(category => category.slug == slug)[0]
        if (articles.length == 0) {
            init();
        }
    });

    const init = async () => {
        const data = await findByCategory(slug);
        articles = data.articles;
    };

    const findNextPosts = async () => {
        loading = true;
        const data = await findByCategory(slug, currentPage);
        nextPosts = [...nextPosts, ...data.articles];
        currentPage++;
        loading = false;
    };

</script>
<svelte:head>
    <title>{category.name || ""}</title>
    <meta name='description' content={category.description || ""}/>
</svelte:head>

{#if (category === undefined || articles === undefined)}
    <Loading/>
{:else }
    <div class='text-center border-b pb-2'>
        <div class='flex flex-col items-center text-center mx-auto mb-4'>
            <div class=' w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center'>
                <img src={category.image} alt={category.name} class='h-14'/>
            </div>
        </div>

        <h1 class='w-full text-gray-800 text-4xl px-5 font-bold leading-none text-center'>{category.name}</h1>
        <FollowingCategory category={category}/>
    </div>
    <AdBanner currentPath={$page.url.href}/>
    <div class='mt-2 flex flex-wrap'>
        {#if !articles.length}
            <Loading/>
        {/if}
        {#each articles as post}
            <Trend post={post}/>
        {/each}
    </div>
    <AdBanner currentPath={$page.url.href}/>
    <div class='mt-2 flex flex-wrap'>
        {#each nextPosts as post}
            <Trend post={post}/>
        {/each}
        {#if currentPage > 0 }
            <div class='flex flex-col items-center w-full py-2'>
                <button class='btn rounded inline-flex item-center' on:click={() => findNextPosts()}>
                    {#if loading}
          				<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
							<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
						</span>
                    {/if}
                    Afficher plus
                </button>
            </div>
        {/if}
    </div>
{/if}
