<script context='module' lang='ts'>

    import {getVideo} from "$lib/store/VideoStore";

    export async function load({params}) {
        let init_video = {};
        let related_videos = [];
        try {
            const data = await getVideo(params.chan_slug, params.video_slug, params.uid);
            init_video = data.init_video;
            related_videos = data.related_videos;
        } catch (e) {
            console.log(e);
        }
        return {props: {init_video, related_videos}};
    }
</script>
<script lang="ts">
    import Video from '$lib/components/front/videos/Video.svelte';
    import VideoBtn from '$lib/components/front/videos/VideoBtn.svelte';
    import YouTube from 'svelte-youtube';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import type {Video as VideoType} from "$lib/store/VideoStore"

    import {relative_time} from '$lib/helpers/functions';
    import {onMount, onDestroy} from 'svelte';
    import Seo from '$lib/components/front/videos/Seo.svelte';
    import {page} from '$app/stores';

    export let init_video: VideoType = {
        body: "",
        channel_id: 0,
        comments_count: 0,
        date_published: undefined,
        id: 0,
        image: "",
        love: 0,
        title: "",
        uid: "",
        video_id: "",
        vue: 0
    };
    const {chan_slug, video_slug, uid} = $page.url.searchParams;
    let video = init_video;
    let relatedVideos = [];

    onMount(() => fetchData());
    onDestroy(() => document.removeEventListener('scroll', () => {
        console.log('remove');
    }));

    const fetchData = async () => {
        const data = await getVideo(chan_slug, video_slug, uid);
        video = data.video;
        relatedVideos = data.related_videos;
    };
    let iframeRef;
    let play = false;
    const opts = {
        playerVars: {
            autoplay: 1
        }
    };

    const playing = () => {
        play = true;
        document.addEventListener('scroll', function () {
            if (window.scrollY >= 300 && iframeRef != null && play) {
                iframeRef.classList.add('fixedBottom');
                iframeRef.classList.remove('relative');
                iframeRef.style.paddingTop = 0;
            } else if (iframeRef != null) {
                iframeRef.classList.add('relative');
                iframeRef.classList.remove('fixedBottom');
                iframeRef.style.paddingTop = '56.25%';
            }

        });
    };
    const stopped = () => {
        play = false;
        document.removeEventListener('scroll', () => {
            console.log('remove');
        });
        if (iframeRef != null) {
            iframeRef.classList.add('relative');
            iframeRef.classList.remove('fixedBottom');
            iframeRef.style.paddingTop = '56.25%';
        }
    };
    const time = relative_time(video.date_published);
</script>
<svelte:head>
    <Seo {video}/>
</svelte:head>

<div class='w-full md:w-5/5 mx-auto'>
    {#if video.channel !== undefined}
        <div class='flex flex-col items-center text-center mx-auto mb-4'>
            <div class=' w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center'>
                <a href={`/videos/${video.channel.slug}`} title={video.channel.title} class='flex flex-col items-center font-medium'>
                    {video.channel.title}
                    <img src={video.channel.image} alt={video.channel.title} class='h-14'/>
                </a>
            </div>
        </div>
    {/if}
    <h1 class='w-full text-gray-800 text-medium md:text-4xl px-2 font-semibold leading-none mb-2'>{@html video.title}</h1>

    <div class='mx-0 md:mx-5 md:mt-4 h-64 md:h-auto'>
        <div bind:this={iframeRef} class='relative overflow-hidden h-64 md:h-auto' style='padding-top: 56.25% '>
            <YouTube videoId={video.video_id} on:play={playing} on:end={stopped} opts={opts} class='absolute inset-0 w-full h-64 md:h-full' containerclass='h-64 md:h-full w-full'/>
        </div>
    </div>

    <div class='w-5/6 text-gray-600 text-normal mx-auto'>
        <p class='border-b py-3'>{video.author}
            <span>{time}</span> -
            {#if video.channel.category}
                <a href={`/videos/topic/${video.channel.category.slug}`} class='text-teal-600 font-smeibold' title={video.channel.category.name}>
                    #{video.channel.category.name}
                </a>
            {/if}
        </p>
        <div class='w-full border-b mb-5 pb-2 '>
            <VideoBtn video={video}/>
        </div>
    </div>
    <div class='px-5 w-full mx-auto postBody'>{@html video.body}</div>
    <AdBanner currentPath={$page.url.href}/>
    {#if relatedVideos.length}
        <h3 class='ml-3 text-3xl text-gray-800 font-semibold mt-12'>Recommandées pour vous</h3>{/if}

    <div class='mt-2 flex flex-wrap'>
        {#each relatedVideos as video}
            <Video {video}/>
        {/each}
    </div>
    <AdBanner currentPath={$page.url.href}/>
</div>