<script context='module' lang='ts'>

    import {findComments} from "$lib/store/VideoStore";

    export async function load({url}) {
        let init_video = {};
        let init_comments = [];
        try {
            const data = await findComments(url.params.uid);
            init_video = data.video;
            init_comments = data.comments;
        } catch (e) {
            console.log(e);
        }
        return {props: {init_video, init_comments}};
    }

</script>
<script lang="ts">
    import {API_ROUTE} from '$lib/helpers/global';
    import VideoBtn from '$lib/components/front/videos/VideoBtn';
    import VideoTop from '$lib/components/front/videos/VideoTop';
    import Comment from '$lib/components/front/Comment';
    import AdBanner from '$lib/components/front/AdBanner';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';
    import {goto} from '$app/navigation';
    import {currentUser} from "$lib/store/UserStore";

    export let init_comments = [];
    export let init_video = {};

    let uid = $page.url.searchParams.get('uid');
    let comments = init_comments;
    let video = init_video;
    const user = $currentUser;
    let message = '';


    onMount(() => {
        fetchData();
    });

    const fetchData = async () => {
        const data = await findComments(uid);
        comments = data.comments;
        video = data.videos;
    };

    const handleSubmit = async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const response = await fetch(API_ROUTE + 'videos/comments?uid=' + uid + '&token=' + localStorage.getItem('token'), {
            method: 'POST',
            body: formData
        });
        const data = await response.json();
        if (data.status) {
            comments = [...comments, data.comment];
            message = '';
        }

    };
    const is_authenticated = () => {
        if (!user.is_authenticated)
            return goto('/auth/login');
    };

</script>
<svelte:head>
    <title>{video.title || ""}</title>
    <meta name='description' content={video.body || ""}/>
</svelte:head>
{#if video.id}
    <div class='mt-10 mb-12'>
        <div class='w-full p-5'>
            <VideoTop video={video}/>
            <h1 class='w-full mb-2 text-lg font-semibold'>
                <a href={video.url} title={video.title}>{video.title}</a>
            </h1>
            <p class='p-2 text-gray-800 border-b border-gray-200 pb-3'>{video.body}</p>
            <div class='w-full border-b mb-2 pb-2 '>
                <VideoBtn video={video}/>
            </div>

            <div class='flex w-full mb-2'>
                <div class='mr-4 w-10 float-left'>
                    <img src={user.image} alt={user.name} class='h-10 w-10 rounded-full flex-none object-cover object-left'/>
                </div>
                <div class='flex float-left w-full'>
                    <form onSubmit={handleSubmit} class='w-full' id='form'>
                        <textarea on:focus={is_authenticated} bind:value={message} class='w-full bg-gray-100 p-3 focus:outline-none text-gray-700' name='content' placeholder='Ecrivez votre commentaire'></textarea>
                        {#if message.trim().length}
                            <button class='btn float-right'>Envoyer</button>
                        {/if}
                    </form>
                </div>
            </div>

        </div>
        <AdBanner currentPath={$page.url.href}/>

        {#each comments as comment}
            <div class='w-full p-5 border-b border-gray-200 flex  hover:bg-gray-100'>
                <Comment comment={comment}/>
            </div>
        {/each}

    </div>
{/if}