{% extends "admin/base.html" %}
{% block title %} Membres {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Membre header) -->
        <section class="content-header">
            <h1>
                Membres
                <small>Liste membres</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Membres</li>
            </ol>
        </section>
        <form action="{{ url_for('admin.members') }}" class="form-inline">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="float:left">LISTE MEMBRES</h3>
                                <div style="margin: 10px;float: right;">
                                    <div class="form-group">
                                        <!--<label>Sélectionnez l’action groupée</label>-->
                                        <select name="todo" class="form-control">
                                            <option value="9999">Actions groupées</option>
                                            <option value="-1">Supprimer</option>
                                        </select>
                                        <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="nom membre" value="{{ request.args.get('name') or "" }}">
                                        <input type="text" class="form-control" name="email" placeholder="email membre" value="{{ request.args.get('email') or "" }}">
                                        <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary" value="Filtrer">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th><input type="checkbox" title="Tout sélectionner" id="select_all"/></th>
                                            <th>Photo</th>
                                            <th>Nom et Prénoms</th>
                                            <th>Email</th>
                                            <th>Date inscription</th>
                                            <th>Pays</th>                                            
                                        </tr>
                                        {% for member in members %}
                                            <tr>
                                                <td><input type="checkbox" class="uid"  name="uid" value="{{ member.uid }}"/></td>
                                                <td><img src="{{ url_for('static',filename=member.image) }}" alt="{{member.name}}" style="height: 50px;"></td>
                                                <td>
                                                    <a href="{{config['HOME_PAGE']}}/compte/profil?uid={{member.uid}}" target="_blank" title="{{ member.name }}">{{ member.name }}</a>
                                                </td>
                                               <td>{{ member.email }}</td>
                                                <td>{{ member.created_at| datetimeformat("%d/%m/%Y %H:%M")  }}</td>
                                                <td>{{member.country.name}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if prev_url %}
                                        <li><a href="{{ prev_url }}">«</a></li>
                                    {% endif %}
                                    {% if next_url %}
                                        <li><a href="{{ next_url }}">»</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </section>
        </form>

        <!-- /.content -->
    </div>
{% endblock %}