<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename="admin/img/apple-icon.png") }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename="front/images/favico.png") }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="theme-color" content="#f8f8f8">
    <title>{% block title %} {% endblock %} | {{ config['APP_TITLE'] }}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/bootstrap.min.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/font-awesome.min.css") }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/ionicons.min.css") }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/AdminLTE.min.css") }}">

    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/skins/_all-skins.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/jquery-confirm.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/plugins/iCheck/square/blue.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="admin/css/custom.css") }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="skin-blue fixed sidebar-mini sidebar-mini-expand-feature">

<div class="wrapper">
    {% include "admin/inc/header.html" %}

    {% include "admin/inc/aside.html" %}

    {% block content %}{% endblock %}

    {% include "admin/inc/footer.html" %}

</div>

<script src="{{ url_for('static',filename="admin/js/jquery.min.js") }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ url_for('static',filename="admin/js/bootstrap.min.js") }}"></script>
<!-- SlimScroll -->
<script src="{{ url_for('static',filename="admin/js/jquery.slimscroll.min.js") }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static',filename="admin/js/fastclick.js") }}"></script>
<!-- AadminLTE App -->
<script src="{{ url_for('static',filename="admin/js/adminlte.min.js") }}"></script>
<!-- AadminLTE for demo purposes -->
<script src="{{ url_for('static',filename="admin/js/jquery-confirm.min.js") }}"></script>
<script src="{{ url_for('static',filename="admin/plugins/iCheck/icheck.min.js") }}"></script>

<script src="{{ url_for('static',filename="admin/js/custom.js") }}"></script>
<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree()
    })
</script>
{% include "admin/inc/success_error.html" %}
</body>

</html>