{% extends "admin/base.html" %}
{% block title %} Accueil {% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        TABLEAU DE BORD
        <small>D’un coup d’œil</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> ACCUEIL</a></li>
        <li class="active">Tableau de bord</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ articles }}</h3>
              <p>Articles publiés</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-paper"></i>
            </div>
            <a href="{{ url_for('admin.articles') }}" class="small-box-footer">Details <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ magazines}}</h3>
              <p>Magazines publiés</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-paper-outline"></i>
            </div>
            <a href="{{ url_for('admin.magazines') }}" class="small-box-footer">Details <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ videos }}</h3>
              <p>Vidéos publiés</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-videocam"></i>
            </div>
            <a href="{{ url_for('admin.videos') }}" class="small-box-footer">Details <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ channels}}</h3>
              <p>Chaines publiés</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{{ url_for('admin.channels') }}" class="small-box-footer">Details <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="{{url_for('admin.categories')}}">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                  <span class="info-box-icon bg-purple"><i class="ion ion-ios-bookmarks"></i></span>
                  <div class="info-box-content">
                      <span class="info-box-text">Categories</span>
                      <span class="info-box-number">{{ categories }}</span>
                  </div>
                  <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
          </div>
        </a>

        <a href="{{url_for('admin.countries')}}">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                  <span class="info-box-icon bg-blue"><i class="ion ion-ios-flag"></i></span>
                  <div class="info-box-content">
                      <span class="info-box-text">Pays</span>
                      <span class="info-box-number">{{ countries }}</span>
                  </div>
                  <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
          </div>
        </a>

        <a href="{{url_for('admin.members')}}">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                  <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
                  <div class="info-box-content">
                      <span class="info-box-text">Membres inscrits</span>
                      <span class="info-box-number">{{ members }}</span>
                  </div>
                  <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
          </div>
        </a>
        <div class="clearfix visible-sm-block"></div>
        <!-- /.col -->
    </div>

    </section>
    <!-- /.content -->
  </div>
{% endblock %}