{% extends 'email/layout.html' %}

{% block body %}
    <br>
    <br>
    <p>Bonjour,</p>
    <p>Vous avez fait une demande de r&eacute;initialisation de votre mot de passe sur {{ config['APP_NAME'] }}</p>

    <p>Vous pouvez le faire en cliquant ci-dessous : <br></p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ domain ~ url_for("auth.reset_password",uid=uid,token=token) }}" target="_blank">Réinitialiser mon mot de passe</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}