{% extends 'email/layout.html' %}

{% block body %}
    <br>
    <br>
    <p>
        <strong>Bonjour, {{ member.name }}</strong>
    </p>
    <br>
    <p>
        Vous venez de vous inscrire sur {{ config['APP_NAME'] }} en utilisant l'e-mail suivant :
        <br>
        <span>{{ member.email }}</span>
    </p>
    <p>
        Veillez valider votre adresse email pour profiter pleinement des fonctionnalités de {{ config['APP_TITLE'] }}.
        <br>
    </p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ domain ~ url_for('auth.email_validation',uid=member.uid,token=member.confirmation_token) }}" target="_blank">Vérifier votre e-mail</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}