<script lang="ts">
	import FollowingChannel from '../FollowingChannel.svelte';

	export let channel;
	export let show;
	let elementRef;
</script>
<div class='hover:bg-gray-100'>
	<div class='w-full flex p-3 border-t border-gray-100 focus:outline-none' bind:this={elementRef}>
		<a href={`/videos/${channel.slug}`} class='flex w-full' title={channel.title}>
			<img src={channel.image} alt={channel.title} class='w-12 h-12 rounded-full border border-teal-200 object-cover object-left' />
			<div class='ml-4'>
				<p class='text-sm font-bold leading-tight mb-2'> {channel.title} </p>
				<p class='text-sm leading-tight'> @{channel.category.name} </p>
			</div>
		</a>
		<FollowingChannel {channel} />
	</div>
	{#if show}
		<p class='text-sm px-4 py-3'>{channel.description}</p>
	{/if}
</div>