<script lang="ts">
    import {fade} from 'svelte/transition';

    export let video = {};
    const {title, url} = video;
</script>
<div class='rounded w-full flex flex-col md:flex-row mb-10' transition:fade>
    <img src={video.image} alt={video.title} class='block md:hidden lg:block rounded-md h-64 md:h-32 m-4 md:m-0'/>
    <div class='bg-white rounded px-4'>
		<span class='text-teal-800 text-md hidden md:block'>
				{#if video.channel.category}
					<a title={video.channel.category.name} href={`/videos/topic/${video.channel.category.slug}`}>
						@{video.channel.category.name}
					</a>
				{/if}
		</span>
        <h2 class='md:mt-0 text-gray-800 font-semibold text-xl mb-2'>
            <a href='{url}' title={title}>{@html title}</a>
        </h2>
        <span class='text-teal-900 text-md hidden md:block'>
				<a href={`/videos/${video.channel.slug}`} title={video.channel.title}>@{video.channel.title}</a>
		</span>
    </div>
</div>