<script lang="ts">
	import VideoLove from '../VideoLove.svelte';
	import SaveVideo from '../SaveVideo.svelte';
	import Share from '../Share.svelte';

	export let video;

</script>

<div class='flex items-center text-gray-800 justify-around w-full mt-3'>
	<a href={`/videos/${video.channel.slug}/${video.slug}/comment?uid=${video.uid}`} class='post-btn flex'>
		<i class='far fa-comment p-2 rounded-full hover:bg-teal-200 hover:text-black'></i>
		<p> {video.comments_count} </p>
	</a>
	<VideoLove video={video} />
	<SaveVideo video={video} />
	<Share post={video} />
</div>
