<script lang="ts">
    import {fade} from 'svelte/transition';

    export let video = {};
    const {title, url, image} = video;
</script>

<div class='rounded w-full md:w-1/3 p-4 lg:p-2' transition:fade>
    <div class='relative table w-full rounded-lg h-40 md:h-64 mb-3 mt-3' style={`background-position-y:50%;background-image:url(${image})`}>
        <a href={url} title={title} class='table-cell h-full w-full text-center align-middle'>
				<span class='inline-block border-1 border-white h-12 w-14 py-3 pb-2 pl-5 pr-4 bg-white rounded' style='background-color: rgb(31 41 55 / 82%)'>
						<span style='display: inline-block;width: 0;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #fff'></span>
				</span>
        </a>
    </div>
    <div class='p-0 pl-0'>
        <h2 class='font-semibold text-xl text-gray-800'>
            <a href={url} title={title} class='table-cell h-full w-full align-middle'>{@html title}</a>
        </h2>
    </div>
</div>