<script lang="ts">
	import { relative_time } from '$lib/helpers/functions';

	export let video;
	const time = relative_time(video.date_published);
</script>
<div class='flex items-center w-full mb-2'>
	<div class='md:block flex-none mr-4'>
		<img src={video.channel.image} alt={video.channel.title} class='h-10 w-10 rounded-full flex-none object-cover object-left' />
	</div>
	<div class='flex flex-col w-full'>
		<div class='flex content-between'>
			<div>
				<span class='font-semibold'>
						<a href={`/videos/${video.channel.slug}`} title={video.channel.title}>{video.channel.title}</a>
				</span>
				<span class='text-sm text-dark ml-1'><span class='inline-block'>·</span> {time} </span>
			</div>
		</div>
		{#if video.channel.category}
			<a href={`/videos/topic/${video.channel.category.slug}`} class='text-sm text-teal-800 font-semibold' title={video.channel.category.name}>
				@{video.channel.category.name}
			</a>
		{/if}
	</div>
</div>