<script lang="ts">
    import Loading from '../Loading.svelte';
    import Video from './Video.svelte';
    import {onMount} from 'svelte';
    import {getTrendVideos} from "$lib/store/VideoStore";

    export let size;
    let videos = [];
    onMount(async () => videos = await getTrendVideos(size));

</script>
<div class='w-full rounded-lg bg-gray-100' id='trend_video_div'>
    <div class='flex items-center justify-between p-3'>
        <p class='text-2xl text-center text-teal-800 font-bold w-full'>Tendances</p>
    </div>
    {#if !videos.length}
        <Loading/>
    {/if}
    <div class='flex flex-col w-full items-center'>
        {#each videos as video}
            <Video {video}/>
        {/each}
    </div>
</div>