{% extends "admin/base.html" %}
{% block title %} Edition d'une chaine {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Chaines
                <small>Edition d'une chaine</small>
                <a href="{{ url_for('admin.channels') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-list-alt"></i> Liste chaines</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Chaines</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE CHAINE</h3>
                        </div>
                        <div class="box-body">
                            <form method="POST" action="{{ form_url }}" class="form-horizontal" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">Catégorie</label>
                                            <div class="col-sm-10">
                                                <select name="category" id="category" class="form-control" required>
                                                    <option value=""> -- Catégorie chaine --</option>
                                                    {% for category in categories %}
                                                        <option value="{{ category.id }}" {% if channel is not undefined and category.id == channel.category_id %} selected {% endif %}>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">Pays</label>
                                            <div class="col-sm-10">
                                                <select name="country" id="country" class="form-control" required>
                                                    <option value=""> -- Pays chaine --</option>
                                                    {% for country in countries %}
                                                        <option value="{{ country.id }}" {% if channel is not undefined and country.id == channel.country_id %} selected {% endif %}>{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.title.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.title(class='form-control',required='required',placeholder='Titre chaine') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.link.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.link(class='form-control',required='required',placeholder='Lien') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.channel_id.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.channel_id(class='form-control',required='required',placeholder='ID chaine') }}
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-md-5">   
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.refresh_time.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.refresh_time(class='form-control',required='required',placeholder='Interval recherche') }}
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.image.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.image(class='form-control',required='required',placeholder='Image') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">Description</label>
                                            <div class="col-sm-10">
                                                {{ form.description(class='form-control') }}
                                            </div>
                                        </div>                                                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label"></label>
                                            <label for="published" class="minimal col-sm-10">
                                                {{ form.published() }}
                                                Publié(e) ?
                                            </label>
                                        </div>
                            
                                    </div>
                                </div>
                                <div class="modal-footer text-left">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i> Enregistrer
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <a href="{{ url_for('admin.channels') }}"><i class="fa fa-times"></i> Annuler</a>
                                        </button>
                                        {% if channel is defined %}
                                            <button type="button" class="btn btn-danger">
                                                <a class="delete" title="Supprimer la chaine?" href="{{ url_for('admin.delete_channel',uid=channel.uid) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}