<script context='module' lang='ts'>

    import {findPost} from "$lib/store/PostStore";

    export async function load({params}) {
        let init_article;
        let related_articles;
        const data = await findPost(params.mag_slug, params.post_slug, params.uid);
        init_article = data.init_article;
        related_articles = data.related_articles;

        return {props: {init_article, related_articles}};
    }
</script>
<script lang="ts">
    import Trend from '$lib/components/front/posts/Trend.svelte';
    import PostTrend from '$lib/components/front/posts/PostTrend.svelte';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import {documentHeight, relative_time} from '$lib/helpers/functions';
    import PostBtn from '$lib/components/front/posts/PostBtn.svelte';
    import Seo from '$lib/components/front/posts/Seo.svelte';
    import {page} from '$app/stores';
    import {refreshFeed} from "$lib/store/MagazineStore";
    import {getContent} from "$lib/store/PostStore";
    import type {Post} from "$lib/store/PostStore";
    import Modal from "$lib/components/front/common/Modal.svelte";
    import {browser} from "$app/env";

    export let init_article: Post = {
        created_at: undefined, updated_at: undefined, url: "",
        author: "",
        comments_count: 0,
        guid: "",
        image: "",
        link: "",
        love: 0,
        magazine_id: 0,
        tag: "", magazine: undefined,
        tag_slug: "",
        vue: 0,
        youtube: "",
        id: 0, body: "", summary: "", title: "", uid: "", date_published: null
    };
    export let related_articles: Array<Post> = []

    let article = init_article;
    let relatedArticles = related_articles;

    const resolveImage = (article) => {
        const images: NodeListOf<HTMLImageElement> = document.querySelectorAll('.postBody img');
        images.forEach(image => {
            image.classList.add('rounded-lg');
            image.classList.add('my-2');

            let src = image.dataset.src;
            let srcset = image.dataset.srcset;
            if (src !== 'undefined' && src !== undefined) {
                image.setAttribute('src', src);
            } else if (srcset !== 'undefined' && srcset !== undefined) {
                image.setAttribute('src', srcset);
            }
            src = image.getAttribute('src');
            if (src === article.image)
                image.remove();
        });
    };

    const resolveIframe = () => {
        const iframes: NodeListOf<HTMLIFrameElement> = document.querySelectorAll('.postBody iframe');
        iframes.forEach(iframe => {
            let src = iframe.dataset.src;
            let srcset = iframe.dataset.srcset;
            if (src !== 'undefined' && src !== undefined) {
                iframe.setAttribute('src', src);
            } else if (srcset !== 'undefined' && srcset !== undefined) {
                iframe.setAttribute('src', srcset);
            }
            if (iframe.getAttribute('src').startsWith('https://www.facebook.com/')) {
                iframe.remove();
            }
        });
    };

    function getArticleContent(post) {
        try {
            if (post.body === post.summary) {
                getContent(post.uid)
                    .then(response => post = response.data.article);
            }
        } catch (e) {

        }
    }

    const resolveContent = (post) => {
        const links: NodeListOf<HTMLLinkElement> = document.querySelectorAll('.postBody a');
        links.forEach(link => {
            link.setAttribute('target', '_blank');
            link.classList.add('font-semibold');
        });

        resolveImage(post);
        resolveIframe();
        const frames: NodeListOf<HTMLIFrameElement> = document.querySelectorAll('.postBody iframe');
        frames.forEach(frame => {
            const wrapper = document.createElement('div');
            wrapper.classList.add('video-container');
            frame.parentNode.insertBefore(wrapper, frame);
            wrapper.appendChild(frame);
        });
    };

    async function fetchData(mag_slug, post_slug, uid) {
        const {init_article, related_articles} = await findPost(mag_slug, post_slug, uid);
        article = init_article;
        relatedArticles = related_articles;
        getArticleContent(article);
        resolveContent(article);
    }

    const time = relative_time(article.date_published);
    const onImageError = (e) => {
        e.target.src = '/images/no_image.png';
    };

    let modalOpen = false;

    function read() {
        modalOpen = true;
    }

    $: if (browser) {
        const {mag_slug, post_slug, uid} = $page.params;
        if (uid !== article.uid) {
            fetchData(mag_slug, post_slug, uid);
            if (article.magazine !== undefined)
                refreshFeed(article.magazine);
        }
    }

</script>

<svelte:head>
    <Seo article={article}/>
</svelte:head>


{#if (article === undefined || article.magazine === undefined)}
    <div class='w-full md:w-5/5 mx-auto'>
        <AdBanner currentPath={$page.url.href}/>
        <div class='p-2'>
            <PostTrend size={10}/>
        </div>
    </div>
{:else }
    <div class='w-full md:w-5/5 mx-auto'>
        <div class='flex flex-col items-center text-center mx-auto mb-4'>
            <div class='w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center'>
                <img on:error={onImageError} src={article.magazine.image} alt={article.magazine.title} class='h-14'/>
            </div>
        </div>

        <h1 class='w-full text-gray-800 text-4xl px-5 font-bold leading-none mb-3'>{article.title}</h1>

        {#if (article.summary !== article.body) }
            <h2 class='w-full text-gray-500 px-5 pb-5 pt-2'>{@html article.summary}</h2>
        {/if}

        <div class='mx-5'>
            {#if article.image !== null }
                <img on:error={onImageError} class='rounded m-auto' src={article.image.replace('http:', 'https:')} alt={article.title} title={article.title}/>
            {/if}
            {#if article.image == null}
                <AdBanner currentPath={$page.url.href}/>
            {/if}
        </div>

        <div class='text-gray-600 text-normal mx-5 border-b'>
            <p class='py-3'>{article.author}
                <span> {time}</span> -
                {#if article.magazine.category !== undefined }
                    <a href={`/topic/${article.magazine.category.slug}`} class=' text-teal-600 font-semibold' title={article.magazine.category.name}> @{article.magazine.category.name}</a>
                {/if}
            </p>
            <PostBtn post={article}/>
        </div>
        <div id='postBody' class='px-5 py-2 w-full mx-auto postBody text-2xl overflow-x-hidden'>{@html article.body}</div>

        {#if (article.summary === article.body)}
            <p class='font-semibold text-lg text-teal-700 mt-5 pl-4'>
                <a rel='tag' href={article.link} target='_blank' on:click|preventDefault={read}>Retrouver cet article sur {article.magazine.title}</a>
            </p>
        {/if}
        <AdBanner currentPath={$page.url.href}/>

        {#if relatedArticles.length > 0 }
            <h3 class='ml-3 text-3xl text-gray-800 font-semibold mt-12 uppercase text-center'>Recommandés pour vous</h3>
        {/if}

        <section class='flex flex-row flex-wrap mx-auto'>
            {#each relatedArticles as article}
                <Trend post={article}/>
            {/each}
        </section>
        <AdBanner currentPath={$page.url.href}/>
    </div>
{/if}

<Modal open={modalOpen}>
    <iframe src={article.link} title={article.title} style="width: 100%" height={`${documentHeight()-500}px`}></iframe>
</Modal>