<script context='module' lang='ts'>
    import {findComments, findPost} from "$lib/store/PostStore";

    export async function load({url}) {
        const uid = url.searchParams.get('uid');
        let post: { title: string } = {title: ""};
        let init_comments = [];
        try {
            const data = await findComments(uid);
            const {init_article} = await findPost('magazine', 'slug', uid);
            post = init_article;
            init_comments = data.comments;
        } catch (e) {
            console.log(e);
        }
        return {props: {init_article: post, init_comments}};
    }
</script>
<script lang="ts">
    import {API_ROUTE} from '$lib/helpers/global';
    import PostBtn from '$lib/components/front/posts/PostBtn.svelte';
    import PostTop from '$lib/components/front/posts/PostTop.svelte';
    import Comment from '$lib/components/front/Comment.svelte';
    import {redirectIfNotLogged} from '$lib/helpers/functions';
    import AdBanner from '$lib/components/front/AdBanner.svelte';
    import {page} from '$app/stores';
    import {currentUser} from "$lib/store/UserStore";
    import type {Post} from "$lib/store/PostStore";

    export let init_article: Post = {
        author: "",
        body: "",
        comments_count: 0,
        created_at: undefined,
        date_published: undefined,
        guid: "",
        image: "",
        link: "",
        love: 0,
        magazine: undefined,
        magazine_id: 0,
        summary: "",
        tag: "",
        tag_slug: "",
        title: "",
        uid: "",
        updated_at: undefined,
        url: "",
        vue: 0,
        youtube: "",
        id: 0
    };
    export let init_comments = [];

    let comments = init_comments;
    let article: Post = init_article;
    const user = $currentUser;
    let form = {'content': ''};

    const handleSubmit = async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const response = await fetch(API_ROUTE + 'articles/comments?uid=' + article.uid + '&token=' + localStorage.getItem('token'), {
            method: 'POST',
            body: formData
        });
        const data = await response.json();
        if (data.status) {
            comments = [...comments, data.comment];
            form = {'content': ''};
        }

    };

</script>
<svelte:head>
    {#if article !== undefined && article.id}
        <title>{article.title || ""}</title>
        <meta name='description' content={article.summary || ""}/>
    {/if}
</svelte:head>
{#if article !== undefined && article.id}
    <div class='mt-10 mb-12'>
        <div class='w-full p-5'>
            <PostTop post={article}/>
            <h1 class='w-full mb-2 text-lg font-semibold'>
                <a href={article.url} title={article.title}>{article.title}</a>
            </h1>
            <p class='p-2 text-gray-800 border-b border-gray-200 pb-3'>{article.summary}</p>
            <div class='w-full border-b mb-2 pb-2 '>
                <PostBtn post={article}/>
            </div>

            <div class='flex w-full mb-2'>
                <div class='mr-4 w-10 float-left'>
                    <img src={user.image} alt={user.name} class='h-10 w-10 rounded-full flex-none object-cover object-left'/>
                </div>
                <div class='flex float-left w-full'>
                    <form on:submit|preventDefault={handleSubmit} class='w-full' id='form'>
                        <textarea on:focus={() => redirectIfNotLogged(user, $page.url)}
                                  bind:value={form.content} class='w-full bg-gray-100 p-3 focus:outline-none text-gray-700' name='content' placeholder='Ecrivez votre commentaire'></textarea>
                        {#if form.content.trim().length}
                            <button class='btn float-right'>Envoyer</button>
                        {/if}
                    </form>
                </div>
            </div>

        </div>
        <AdBanner currentPath={$page.url.href}/>
        {#each comments as comment}
            <div class='w-full p-5 border-b border-gray-200 flex  hover:bg-gray-100'>
                <Comment comment={comment}/>
            </div>
        {/each}
        <AdBanner currentPath={$page.url.href}/>
    </div>
{/if}