.btn{box-shadow: 0 2px 5px rgba(0,0,0,.16), 0 2px 10px rgba(0,0,0,.12);
    border:none;
    outline:none !important;
    border-radius:2px;
    font-size:14px;
}
.btn-light-secondary{box-shadow: none;background-color: transparent}
.no-shadow{box-shadow: none}
.image-thumbnail{height: 50px;padding: 15px 0;margin: 0 0 25px;}
table.dataTable.no-footer{border: 1px solid #e7eaef;}
.markdown>table>:not(caption)>*>*, .table>:not(caption)>*>*{border-bottom: none}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{    border: 1px solid #e7eaef;
    color: #656d77!important;
    padding: 1px;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
#data-table-basic_filter{margin-bottom: 10px}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #dadcde;
}