<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YITANE</title>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">

</head>

<body>

    <div class="appHeader">
        <div class="pageTitle">
            <a href="/">
                <span style="font-weight: 900; font-size: 20px; text-transform: uppercase;">YITANE</span>
            </a>
        </div>
    </div>
    <div id="appCapsule">

        <div class="appContent">

            <div class="splashBlock">
                <div class="mb-3 mt-3">
                    <img src="{{ 'https://'+request.host + url_for('static',filename='front/images/logo.png') }}"
                        alt="draw" class="img-fluid">
                </div>

                <div class="sectionTitle text-center">
                    <div class="title">
                        <h1>Merci de <br>votre interêt!</h1>
                    </div>
                    <div class="lead">
                        Vous êtes actuellement hors ligne
                    </div>
                </div>
                {# <footer>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-block">Later</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-block">Buy Now</button>
                        </div>
                    </div>
                </footer>#}
            </div>
        </div>
    </div>
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
</body>

</html>