<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import {currentUser, signin} from '$lib/store/UserStore';
    import {onMount} from 'svelte';

    let form = {'email': '', 'password': '', 'remember_me': false};

    onMount(() => {
        if ($currentUser.is_authenticated)
            window.location.href = '/';
    });

    const handleSubmit = async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        await signin(formData);
    };
</script>

<svelte:head>
    <title>Se connecter à {NAME} / {NAME}</title>
</svelte:head>

<div class='flex items-center justify-center h-screen'>
    <form class='sm:w-full md:w-1/3 auto rounded-lg p-3 mb-12' on:submit={handleSubmit}>
        <h1 class='text-2xl text-gray-800 px-3 mb-5 mt-3 font-medium text-center'>Se connecter à {NAME}</h1>
        <a href='/auth/signup' class='inline-block w-full text-center mb-8 text-teal-600 mr-10 text-base'>Vous n'avez pas de compte?</a>
        <div class='w-full px-3 mb-6'>
            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='email'>
                Email
            </label>
            <input bind:value={form.email} class='block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' name='email' id='email' type='email' placeholder='votre email' required/>
        </div>

        <div class='w-full px-3'>
            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='password'>
                Mot de passe
            </label>
            <input bind:value={form.password} class='block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-teal-200' name='password' id='password' type='password' placeholder='****************'/>
        </div>

        <div class='w-full px-3 mt-6'>
            <label class='flex justify-start items-start'>
                <div class='bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500'>
                    <input name='remember_me' bind:checked={form.remember_me} id='remember' type='checkbox' class='opacity-0 absolute'/>
                    <svg class='fill-current hidden w-4 h-4 text-green-500 pointer-events-none' viewBox='0 0 20 20'>
                        <path d='M0 11l2-2 5 5L18 3l2 2L7 18z'/>
                    </svg>
                </div>
                <div class='select-none'>Resté connecté</div>
            </label>
        </div>

        <div class='flex justify-center w-full px-3 mt-6'>
            <button title='Se connecter' type='submit' class='btn w-full'>
                Se connecter
            </button>
        </div>
        <div class='mt-3 text-center text-sm'>
            <a href='/auth/password' class=' text-teal-600'>Mot de passe oublié ?</a>
        </div>
        <!--<div class='mt-6'>
            <p class='text-xl text-semibold text-center pb-2'>Continuer avec</p>
            <Facebook />
        </div>-->
    </form>
</div>