<script lang="ts">
    import {notification} from "$lib/helpers/functions";
    import HttpClient from "$lib/helpers/global";

    let email = "";

    const handleSubmit = async (e) => {
        e.preventDefault()
        const response = await HttpClient.get("auth/password-forgot?email=" + email);
        const data = await response.data;
        if (data.status)
            notification("Email", data.message, 'success');
        else notification("Erreur", data.message, 'danger');
    }

</script>
<svelte:head>
    <title>Mot de passe oublié</title>
</svelte:head>

<div class="flex items-center justify-center h-screen">
    <form class="sm:w-full md:w-1/3 auto rounded-lg p-3 mb-12" on:submit={handleSubmit}>
        <h1 class="text-2xl text-gray-800 px-3 mb-6 mt-3 font-medium text-center">Réinitialiser votre mot de passe</h1>

        <div class="w-full px-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email">
                Email
            </label>
            <input bind:value={email} class="block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="email" id="email" type="email" placeholder="votre email" required/>
        </div>

        <div class="flex justify-center w-full px-3 mt-6">
            <button title="Envoyer" type="submit" class="btn w-full">Envoyer</button>
        </div>
        <div class="mt-3 text-center text-sm">
            Vous n'avez pas de compte?<a href="/auth/signup" class=" text-teal-600">S'inscrire</a>
        </div>

    </form>
</div>