<script lang="ts">
    import {onMount} from 'svelte';
    import {currentUser, signup} from "$lib/store/UserStore";
    import {countries, getCountries} from "$lib/store/CountryStore";

    let form = {name: '', email: '', password: '', country: 0};
    onMount(() => {
        if ($currentUser.is_authenticated)
            window.location.href = '/';
        if ($countries.length)
            getCountries();
    });


    const handleSubmit = async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        await signup(formData);
    };

</script>
<svelte:head>
    <title>S'inscrire sur {NAME} / {NAME}</title>
</svelte:head>
<div class='flex items-center justify-center h-screen'>
    <form class='sm:w-full md:w-1/3 auto rounded-lg p-3 mb-12' on:submit={handleSubmit}>
        <h1 class='text-2xl text-gray-800 px-3 mb-6 mt-3 font-medium text-center'>Créer votre compte</h1>
        <div class='w-full px-3 mb-6'>
            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='name'>
                Nom et prénom
            </label>
            <input bind:value={form.name} class='block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' name='name' id='name' type='text' placeholder='nom et prénom' required/>
        </div>
        <div class='w-full px-3 mb-6'>
            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='email'>
                Email
            </label>
            <input bind:value={form.email} class='block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' name='email' id='email' type='email' placeholder='votre email' required/>
        </div>

        <div class='w-full px-3'>
            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='password'>
                Mot de passe
            </label>
            <input bind:value={form.password} class='block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-teal-200' name='password' id='password' type='password' placeholder='****************'/>
            <p class='text-gray-600 text-xs italic'>Faites-le aussi long et aussi fou que vous le souhaitez</p>
        </div>
        <div class='w-full px-3 mb-6 mt-6'>
            <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='country'>
                Pays
            </label>
            <div class='relative'>
                <select bind:value={form.country} class='block w-full bg-gray-200 border border-teal-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-teal-200' id='country' name='country' required>
                    <option value='0'>Selectionner un pays</option>
                    {#each $countries as country}
                        <option value={country.id}>{country.name}</option>
                    {/each}
                </select>
            </div>
        </div>
        <div class='flex justify-center w-full px-3'>
            <button title='Nous rejoindre' type='submit' class='btn w-full'>
                Nous rejoindre
            </button>
        </div>
        <div class='mt-3 text-center text-sm'>
            Vous avez déjà un compte?
            <a href='/auth/login' title='Connectez vous' class=' text-teal-600'>Connectez vous</a>
        </div>
    </form>
</div>