{% extends "admin/base.html" %}
{% block title %} Catégories {{ current_user.name }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Categories
                <small>Articles et vuidéos</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Catégories</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE CATÉGORIES</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Slug</th>
                                        <th>Etat</th>
                                        <th>Magazines</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for category in categories %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <a href="#" target="_blank" title="{{ category.name }}">{{ category.name }}</a>
                                            </td>
                                            <td>{{ category.slug }}</td>
                                            {% if category.published %}
                                                <td>
                                                    <i class="fa fa-circle text-green"></i>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <i class="fa fa-circle text-red"></i>
                                                </td>
                                            {% endif %}
                                            <td>{{ category.magazines | length }}</td>
                                            <td>
                                                <img src="{{ url_for('static',filename='upload/categories/'~category.image) }}" alt="" style="height: 50px">
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{{ url_for('admin.edit_category',uid=category.uid) }}" title="{{ category.title }}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-default btn-sm delete" title="Supprimer le categorie?" href="{{ url_for('admin.delete_category',uid=category.uid) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE CATÉGORIE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form method="POST" action="{{ form_url }}" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">{{ form.name.label }}</label>
                                    <div class="col-sm-10">
                                        {{ form.name(class='form-control',required='required',placeholder='Titre catégorie') }}
                                    </div>
                                </div>
 
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">{{ form.image.label }}</label>
                                    <div class="col-sm-10">
                                        {{ form.image(class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label"></label>
                                    <label for="published" class="minimal col-sm-10">
                                        {{ form.published() }}
                                        Publié(e) ?
                                    </label>
                                </div>
                                <div class="modal-footer text-left">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer
                                    </button>
                                    <a class="btn btn-default" href="{{ url_for('admin.categories') }}"><i class="fa fa-times"></i> Annuler</a>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}