{% extends "admin/base.html" %}
{% block title %} Pays magazines{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Pays <small>Pays magazines</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Pays</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">LISTE PAYS</h3>
                    </div>
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>Pays</th>
                                    <th>Slug</th>
                                    <th>Etat</th>
                                    <th>Image</th>
                                    <th>Magazines</th>
                                    <th>Action</th>
                                </tr>
                                {% for country in countries %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="#" target="_blank" title="{{ country.title }}">{{ country.name }}</a>
                                    </td>
                                    <td>{{ country.slug }}</td>
                                    {% if country.published %}
                                        <td>
                                            <i class="fa fa-circle text-green"></i>
                                        </td>
                                    {% else %}
                                        <td>
                                            <i class="fa fa-circle text-red"></i>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <img src="{{ url_for('static',filename='upload/countries/'~country.image) }}" alt="" style="height: 50px">
                                    </td>
                                    <td>{{country.magazines | length }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{{ url_for('admin.edit_country',uid=country.uid) }}" title="{{ country.name }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default btn-sm delete" title="Supprimer le pays?" href="{{url_for('admin.delete_country',uid=country.uid)}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">EDITION D'UN PAYS</h3>
                    </div>
                    <div class="box-body">
                        <form method="POST" action="{{ form_url }}" class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">{{ form.name.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.name(class='form-control',required='required',placeholder='Nom du pays') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">{{ form.image.label }}</label>
                                <div class="col-sm-10">
                                    {{ form.image(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"></label>
                                <label for="published" class="minimal col-sm-10">
                                    {{ form.published() }}
                                    Publié(e) ?
                                </label>
                            </div>
                            <div class="modal-footer text-left">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer
                                </button>
                                <a class="btn btn-default" href="{{ url_for('admin.countries') }}"><i class="fa fa-times"></i> Annuler</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}