<script context='module' lang='ts'>

    import {getUserChannels} from "$lib/store/UserStore";

    export async function load({url}) {
        let initUser = {};
        let initChannels = [];
        try {
            const data = await getUserChannels(url.query.uid);
            initUser = data.user;
            initChannels = data.channels;
        } catch (e) {
            console.log(e);
        }
        return {props: {initChannels, initUser}};
    }
</script>

<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import Channel from '$lib/components/front/videos/Channel.svelte';
    import Profile from '$lib/components/front/Profil.svelte';
    import {onMount} from 'svelte';
    import {page} from '$app/stores';

    export let initUser;
    export let initChannels;

    const {uid} = $page.url.searchParams;
    const current_path = $page.url;

    let user = initUser;
    let channels = initChannels;

    onMount(() => {
        getData();
    });

    const getData = async () => {
        const data = await getUserChannels(uid);
        user = data.user;
        channels = data.channels;
    };
</script>
<svelte:head>
    <title>{user.name || " Chaines"} / {NAME}</title>
</svelte:head>

{#if user === undefined}
    <div class='mt-12 w-full text-center'>Ce compte n'existe pas</div>
{:else}
    <div class='w-full md:w-5/5 mx-auto'>
        <Profile member={user} current_path={current_path}/>
        <div>
            {#each channels as chan}
                <Channel chan={chan} show={true} key={chan.id}/>
            {/each}
        </div>
    </div>
{/if}