<script context='module' lang='ts'>

    import {getUserMazines} from "$lib/store/UserStore";

    export async function load({url}) {
        let initUser = {};
        let initMagazines = [];
        try {
            const data = await getUserMazines(url.query.uid);
            initUser = data.user;
            initMagazines = data.magazines;
        } catch (e) {
            console.log(e);
        }
        return {props: {initMagazines, initUser}};
    }
</script>
<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import Magazine from '$lib/components/front/posts/Magazine.svelte';
    import Profile from '$lib/components/front/Profil.svelte';
    import {page} from '$app/stores';
    import {onMount} from 'svelte';

    export let initUser;
    export let initMagazines;
    const {uid} = $page.url.searchParams;
    const current_path = $page.url;

    let user = initUser;
    let magazines = initMagazines;

    onMount(() => {
        getData();
    });

    const getData = async () => {
        const data = await getUserMazines(uid);
        user = data.user;
        magazines = data.magazines;
    };

</script>
<svelte:head>
    <title>{user.name || " Magasines"} / {NAME}</title>
</svelte:head>
{#if user === undefined}
    <div class='mt-12 w-full text-center'>Ce compte n'existe pas</div>
{:else }

    <div class='w-full md:w-5/5 mx-auto'>
        <Profile member={user} current_path={current_path}/>
        <div>
            {#each magazines as mag}
                <Magazine mag={mag} show={true}/>
            {/each}
        </div>
    </div>
{/if}