<script lang="ts">
    import {getStoredItem, notification} from '$lib/helpers/functions';
    import {NAME} from '$lib/helpers/global';
    import {onMount} from 'svelte';
    import {goto} from '$app/navigation';
    import {currentUser, updatePassword} from "$lib/store/UserStore";

    let form = {confirmation_password: '', password: ''};

    onMount(() => {
        const token = getStoredItem('token');
        if (token.length === 0)
            goto('/auth/login');
    });

    const handleSubmit = async (e) => {
        e.preventDefault();
        if (form.password !== form.confirmation_password)
            return notification("Erreur", "Les mots de passe ne correspondent pas.", "danger")
        const formData = new FormData(e.target);
        const data = await updatePassword(formData);
        if (data.status){
          notification('Succès', data.message, 'success');
          form = {'confirmation_password': '', 'password': ''};
        }
        else {
            notification('Erreur', data.message, 'danger');
        }
    };
    let disabled = true;
    $: disabled = !(form.password.length && (form.password === form.confirmation_password))
</script>
<svelte:head>
    <title>{$currentUser.name || ""} / {NAME}</title>
</svelte:head>
<div class='w-full md:w-5/5 mx-auto'>
    <div class='flex flex-col items-center text-center mx-auto pb-6 border-b '>
        <div class='w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center mb-2'>
            <img src={$currentUser.image} alt={$currentUser.name} class='w-32 rounded'/>
        </div>
        <h1 class='w-full text-gray-800 text-4xl px-5 font-medium text-center leading-none'>{$currentUser.name}</h1>
    </div>

    <div>
        <form class='w-full rounded-lg p-3 py-5 mb-12' on:submit={handleSubmit}>
            <h1 class='text-2xl text-gray-800 px-3 mb-6 mt-3 font-medium text-center uppercase'>Modification de mot de passe</h1>
            <div class='w-full px-3'>
                <label class='block uppercase tracking-wide text-gray-700 font-semibold mb-2' for='password'>Mot de passe</label>
                <input autoComplete='off' bind:value={form.password} class='block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-teal-200' name='password' id='password' type='password' placeholder=''/>
                <p class='text-gray-600 text-base italic'>Faites-le aussi long et aussi fou que vous le souhaitez</p>
            </div>
            <div class='w-full px-3 py-6'>
                <label class='block uppercase tracking-wide text-gray-700 font-semibold mb-2' for='confirmation_password'>Confirmation mot de passe</label>
                <input autoComplete='off' bind:value={form.confirmation_password} class='block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-teal-200' name='confirmation_password' id='confirmation_password' type='password' placeholder=''/>
            </div>
            <div class='flex justify-center w-full px-3'>
                <button title='Enregistrer' type='submit' class:btn_disabled={disabled} class="btn w-full" {disabled}>Enregistrer</button>
            </div>
        </form>
    </div>

</div>