<script lang="ts">
    import {getUserFeed} from "$lib/store/UserStore";
    import type{User} from "$lib/store/UserStore";
    import {NAME} from '$lib/helpers/global';
    import Comment from '$lib/components/front/Comment.svelte';
    import Post from '$lib/components/front/posts/Post.svelte';
    import Magazine from '$lib/components/front/posts/Magazine.svelte';
    import Channel from '$lib/components/front/videos/Channel.svelte';
    import Video from '$lib/components/front/videos/Video.svelte';
    import Profile from '$lib/components/front/Profil.svelte';
    import {page} from '$app/stores';
    import {onMount} from 'svelte';

    const uid = $page.url.searchParams.get('uid');
    const current_path = $page.url;

    let currentPage = 2;
    let feeds = [];
    let nextFeed = [];
    let user:User = {
        country: undefined,
        email: "",
        id: 0,
        image: "",
        is_authenticated: false,
        name: "",
        remember_me: false,
        uid: ""
    };

    let loading = false;

    onMount(() => init());

    const init = async () => {
        const data = await getUserFeed(uid);
        feeds = data.feeds;
        user = data.user;
    };

    const findNextFeed = async () => {
        loading = true;
        const data = await getUserFeed(uid, currentPage);
        currentPage = data.page;
        nextFeed = data.feeds;
        loading = false;
    };

</script>
<svelte:head>
    <title>{user.name || ""} / {NAME}</title>
</svelte:head>

{#if user === undefined}
    <div class='mt-12 w-full text-center'>Ce compte n'existe pas</div>
{:else }
    <div class='w-full md:w-5/5 mx-auto'>

        <Profile member={user} current_path={current_path}/>

        {#each feeds as feed}
            <div class='w-full p-5 border-b border-gray-200 flex flex-col  hover:bg-gray-100'>
                <p class='text-sm font-semibold text-gray-700 w-full p-2 pb-4'>
                    <i class='fas fa-stream'></i> {user.name} {feed.text}</p>
                {#if feed.action === "post_comment" }
                    <div class='mb-2'>
                        <Comment comment={feed.comment}/>
                    </div>
                {/if}
                {#if (feed.action === "post_comment" || feed.action === "like_post" || feed.action === "unlike_post") }
                    <Post post={feed.article}/>
                {/if}
                {#if (feed.action === "video_comment" || feed.action === "like_video" || feed.action === "unlike_video") }
                    <Video video={feed.video}/>
                {/if}
                {#if (feed.action === "follow_mag" || feed.action === "unfollow_mag" || feed.action === "follow_cat" || feed.action === "unfollow_cat") }
                    <Magazine mag={feed.magazine} user={user}/>
                {/if}
                {#if (feed.action === "follow_channel" || feed.action === "unfollow_channel") }
                    <Channel chan={feed.channel} user={user}/>
                {/if}
            </div>
        {/each}

        <div class='mt-2 flex flex-wrap'>
            {#each nextFeed as feed}
                <div class='w-full p-5 border-b border-gray-200 flex flex-col  hover:bg-gray-100'>
                    <p class='text-sm font-semibold text-gray-700 w-full p-2 pb-4'>
                        <i class='fas fa-stream'></i> {user.name} {feed.text}
                    </p>
                    {#if feed.action === "post_comment" }
                        <div class='mb-2'>
                            <Comment comment={feed.comment}/>
                        </div>
                    {/if}
                    {#if (feed.action === "post_comment" || feed.action === "like_post" || feed.action === "unlike_post") }
                        <Post post={feed.article}/>
                    {/if}
                    {#if (feed.action === "video_comment" || feed.action === "like_video" || feed.action === "unlike_video")}
                        <Video video={feed.video}/>
                    {/if}
                    {#if (feed.action === "follow_mag" || feed.action === "unfollow_mag" || feed.action === "follow_cat" || feed.action === "unfollow_cat")}
                        <Magazine mag={feed.magazine} user={user}/>
                    {/if}
                    {#if (feed.action === "follow_channel" || feed.action === "unfollow_channel") }
                        <Channel chan={feed.channel} user={user}/>
                    {/if}
                </div>
            {/each}
            {#if page > 0 }
                <div class='flex flex-col items-center w-full py-2'>
                    <button class='btn rounded inline-flex item-center' on:click={() => findNextFeed()}>
                        {#if loading}
						<span class='text-white opacity-75 my-0 mx-auto block relative w-0 h-0 -ml-1 mr-7'>
								<i class='fas fa-circle-notch fa-spin text-2xl fa-1x'></i>
						</span>
                        {/if}
                        Afficher plus
                    </button>
                </div>
            {/if}
        </div>
    </div>
{/if}
