<script lang="ts">
    import {NAME} from '$lib/helpers/global';
    import Profile from '$lib/components/front/Profil.svelte';
    import Post from '$lib/components/front/posts/Post.svelte';
    import Video from '$lib/components/front/videos/Video.svelte';
    import {page} from '$app/stores';
    import {currentUser} from "$lib/store/UserStore";
    import {userSavedArticles, userSavedVideos} from "$lib/store/UserStore";

    const {type} = $page.url.searchParams;
    const user = $currentUser;
    const current_path = $page.url;

</script>

<svelte:head>
    <title>{user.name || " à consulter plus tard"} / {NAME}</title>
</svelte:head>
{#if user === undefined}
    <div class='mt-12 w-full text-center'>Ce compte n'existe pas</div>
{:else }
    <button title='Retour page précédente' class='p-1 px-2 rounded-full text-teal-700 focus:outline-none hover:bg-gray-200 hover:text-teal-900' on:click={()=>history.back()}>
        <i class='fa fa-arrow-circle-left'></i>
    </button>
    <h3 class='text-xl font-semibold text-teal-800'>#{user.name}</h3>
    <i class='far fa-sta text-xl text-teal-800 pr-8'></i>
    <div class='mt-10 mb-12'>
        <Profile member={user} current_path={current_path}/>
        {#if type === "post" }
            <div>
                {#each $userSavedArticles as article}
                    <div class='w-full p-5 border-b border-gray-200 flex  hover:bg-gray-100'>
                        <Post post={article}/>
                    </div>
                {/each}
            </div>
        {/if}
        {#if type === "video" }
            <div>
                {#each $userSavedVideos as video}
                    <div class='w-full p-5 border-b border-gray-200 flex  hover:bg-gray-100'>
                        <Video video={video}/>
                    </div>
                {/each}
            </div>
        {/if}
    </div>
{/if}
