<script lang="ts">
    import Loading from '$lib/components/front/Loading.svelte';
    import {getStoredItem, notification} from '$lib/helpers/functions';
    import {NAME} from '$lib/helpers/global';
    import {onMount} from 'svelte';
    import {goto} from '$app/navigation';
    import {currentUser, getUser, updateUser} from "$lib/store/UserStore";
    import {countries, getCountries} from "$lib/store/CountryStore";

    let form = {'email': '', 'name': '', 'phone': '', country: {id: 0}};

    onMount(() => {
        const token = getStoredItem('token');
        if (token.length) {
            initField();
            if ($countries.length === 0)
                getCountries();
        } else
            goto('/auth/login');
    });

    const initField = async () => {
        const data = await getUser();
        form = {...data.user}
    };

    const handleSubmit = async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const data = await updateUser(formData);
        if (data.status) {
            currentUser.set(data.user);
            notification('Succès', data.message, 'success');
        } else {
            notification('Erreur', data.message, 'error');
        }
    };
</script>
<svelte:head>
    <title>{$currentUser.name || ""} / {NAME}</title>
</svelte:head>
{#if $currentUser === undefined}
    <div class='mt-12 w-full text-center'>Ce compte n'existe pas</div>
{:else }
    <div class='w-full md:w-5/5 mx-auto'>
        <div class='flex flex-col items-center text-center mx-auto pb-6 border-b '>
            <div class='w-48 mt-1 mr-3 overflow-hidden flex flex-col items-center mb-2'>
                <img src={$currentUser.image} alt={$currentUser.name} class='w-32 rounded'/>
            </div>
            <h1 class='w-full text-gray-800 text-4xl px-5 font-medium text-center leading-none'>{$currentUser.name}</h1>
        </div>

        <div>
            {#if (form.email == null || !form.email.length)}
                <Loading/>
            {/if}
            <form class='w-full rounded-lg text-lg p-3 py-5 overflow-x-hidden pb-16' on:submit|preventDefault={handleSubmit}>
                <h1 class='text-2xl text-gray-800 px-3 mb-6 mt-3 font-medium text-center'>Paramètres de compte</h1>
                <div class='w-full px-3 mb-6'>
                    <label class='block uppercase tracking-wide text-gray-700 font-bold mb-2' for='name'> Nom et prénom</label>
                    <input bind:value={form.name} class='block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' name='name' id='name' type='text' placeholder='nom et prénom' required/>
                </div>
                <div class='w-full px-3 mb-6'>
                    <label class='block uppercase tracking-wide text-gray-700 font-bold mb-2' for='email'>Email</label>
                    <input bind:value={form.email} class='block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' id='email' name='email' type='email' placeholder='votre email' required/>
                </div>

                <div class='w-full px-3'>
                    <label class='block uppercase tracking-wide text-gray-700 font-bold mb-2' for='phone'>Téléphone</label>
                    <input bind:value={form.phone} class='block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-teal-200' name='phone' id='phone' type='text' placeholder='téléphone'/>
                </div>
                <div class='w-full px-3 mb-6 mt-6'>
                    <label class='block uppercase tracking-wide text-gray-700 font-bold mb-2' for='country'>Pays</label>
                    <div class='relative'>
                        <select bind:value={form.country.id} class='block w-full bg-gray-200 border border-teal-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-teal-200' id='country' name='country' required>
                            <option value='0'>Selectionner un pays</option>
                            {#each $countries as country}
                                <option value={country.id}>{country.name}</option>
                            {/each}
                        </select>
                    </div>
                </div>
                <div class='w-full px-3'>
                    <label class='block uppercase tracking-wide text-gray-700 font-bold mb-2' for='image'>Avatar</label>
                    <input class='block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-teal-200' name='image' id='image' type='file'/>
                </div>
                <div class='w-full px-3 py-8'>
                    <label class='block uppercase tracking-wide text-gray-700 font-bold mb-2' for='image'>Paramètres</label>
                    <div class='pl-10'>
                        <a href='/compte/password' class='text-gray-800'>Changer de mot de passe</a>
                    </div>
                </div>
                <div class='flex justify-center w-full px-3'>
                    <button title='Enregistrer' type='submit' class='btn w-full'>Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
{/if}