<script lang="ts">
    export let classes:string='w-5 h-5 mr-1'
</script>
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-broken {classes}" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
  <path d="M12 7l-2 4l4 3l-2 4v3" />
</svg>