<script lang="ts">
    import Close from "$lib/components/front/common/Close.svelte";

    export let open = false;
</script>
{#if open}
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-1 px-1 pb-2 text-center sm:block sm:p-0 relative">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true" on:click={()=>open=false}></div>
            <button class="fixed w-8 h-8 rounded-full z-10" style="top: 2%; right: 4%; background-color: #FFF;" on:click={()=>open=false}>
                <Close classes="w-8 h-8 mr-1"/>
            </button>
            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <div style="max-width: 110rem" class="inline-block align-bottom bg-white text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full ">
                <div class="bg-white">
                    <div class="sm:flex sm:items-start">
                        <slot/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}