{% extends "admin/base.html" %}
{% block title %} Erreurs {% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Error header) -->
    <section class="content-header">
        <h1>
            Erreurs
            <small>Liste errors</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Errors</li>
        </ol>
    </section>
    <form action="{{ url_for('admin.errors') }}" class="form-inline">
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="float:left">LISTE ERREURS</h3>
                            <div style="margin: 10px;float: right;">
                                <div class="form-group">
                                    <!--<label>Sélectionnez l’action groupée</label>-->
                                    <select name="todo" class="form-control">
                                        <option value="9999">Actions groupées</option>
                                        <option value="10">Récupérer flux</option>
                                        <option value="1">Résolue</option>
                                        <option value="0">Non Résolue</option>
                                        <option value="-1">Supprimer</option>
                                    </select>
                                    <input type="submit" name="doaction" id="doaction" class="btn btn-primary action"
                                        value="Appliquer">
                                </div>
                                <div class="form-group">

                                    <select name="resolved" class="form-control">
                                        <option value="">Etat</option>
                                        <option value="1" {% if request.args.get('resolved') == '1' %} selected
                                            {% endif %}>Résolues</option>
                                        <option value="0" {% if request.args.get('resolved') == '0' %} selected
                                            {% endif %}>Non Résolues</option>
                                    </select>
                                    <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary"
                                        value="Filtrer">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th><input type="checkbox" title="Tout sélectionner" id="select_all" /></th>
                                            <th>Nom</th>
                                            <th>Fichier</th>
                                            <th>Ligne</th>
                                            <th>Description</th>
                                            <th>Etat</th>
                                            <th>Date</th>
                                        </tr>
                                        {% for error in errors %}
                                        <tr>
                                            <td><input type="checkbox" class="uid" name="uid" value="{{ error.uid }}" />
                                            </td>
                                            <td>{{error.name}}</td>
                                            <td>{{error.file}}</td>
                                            <td>{{error.line}}</td>
                                            <td>{{error.description}}</td>
                                            {% if error.resolved %}
                                            <td>
                                                <i class="fa fa-circle text-green"></i>
                                            </td>
                                            {% else %}
                                            <td>
                                                <i class="fa fa-circle text-red"></i>
                                            </td>
                                            {% endif %}
                                            <td>{{ error.created_at| datetimeformat("%d/%m/%Y %H:%M")  }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                {% if prev_url %}
                                <li><a href="{{ prev_url }}">«</a></li>
                                {% endif %}
                                {% if next_url %}
                                <li><a href="{{ next_url }}">»</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </section>
    </form>

    <!-- /.content -->
</div>
{% endblock %}