<script lang="ts">
	import '../../../static/js/jquery-1.12.4.min.js';
	import '../../../static/js/tabler.min.js';
	import '../../../static/css/tabler.min.css';
	import '../../../static/css/custom.css';

	import Header from '$lib/components/admin/Header.svelte';
	import Sidenav from '$lib/components/admin/Sidenav.svelte';
	import Footer from '$lib/components/admin/Footer.svelte';
</script>

<body class="antialiased">
	<div class="wrapper">
		<Header />
		<Sidenav />

		<div class="page-wrapper">
			<slot />

			<Footer />
		</div>
	</div>
</body>
