<svelte:head>
	<title>Tableau de bord</title>
</svelte:head>

<div class='container-xl'>
	<!-- Page title -->
	<div class='page-header d-print-none'>
		<div class='row align-items-center'>
			<div class='col'>
				<!-- Page pre-title -->
				<div class='page-pretitle'>
					Overview
				</div>
				<h2 class='page-title'>
					Dashboard
				</h2>
			</div>
			<!-- Page title actions -->
			<div class='col-auto ms-auto d-print-none'>
				<div class='btn-list'>
						<span class='d-none d-sm-inline'>
							<a href='#' class='btn btn-white'>
								New view
							</a>
						</span>
					<a href='#' class='btn btn-primary d-none d-sm-inline-block' data-bs-toggle='modal' data-bs-target='#modal-report'>
						<!-- Download SVG icon from http://tabler-icons.io/i/plus -->
						<svg xmlns='http://www.w3.org/2000/svg' class='icon' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
							<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
							<line x1='12' y1='5' x2='12' y2='19'></line>
							<line x1='5' y1='12' x2='19' y2='12'></line>
						</svg>
						Create new report
					</a>
					<a href='#' class='btn btn-primary d-sm-none btn-icon' data-bs-toggle='modal' data-bs-target='#modal-report' aria-label='Create new report'>
						<!-- Download SVG icon from http://tabler-icons.io/i/plus -->
						<svg xmlns='http://www.w3.org/2000/svg' class='icon' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
							<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
							<line x1='12' y1='5' x2='12' y2='19'></line>
							<line x1='5' y1='12' x2='19' y2='12'></line>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='page-body'>
	<div class='container-xl'>
		<div class='row row-deck row-cards'>
			<div class='col-sm-6 col-lg-3'>
				<div class='card'>
					<div class='card-body'>
						<div class='d-flex align-items-center'>
							<div class='subheader'>Sales</div>
							<div class='ms-auto lh-1'>
								<div class='dropdown'>
									<a class='dropdown-toggle text-muted' href='#' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Last 7 days</a>
									<div class='dropdown-menu dropdown-menu-end'>
										<a class='dropdown-item active' href='#'>Last 7 days</a>
										<a class='dropdown-item' href='#'>Last 30 days</a>
										<a class='dropdown-item' href='#'>Last 3 months</a>
									</div>
								</div>
							</div>
						</div>
						<div class='h1 mb-3'>75%</div>
						<div class='d-flex mb-2'>
							<div>Conversion rate</div>
							<div class='ms-auto'>
                        <span class='text-green d-inline-flex align-items-center lh-1'>
                          7% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                          <svg xmlns='http://www.w3.org/2000/svg' class='icon ms-1' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><polyline points='3 17 9 11 13 15 21 7'></polyline><polyline points='14 7 21 7 21 14'></polyline></svg>
                        </span>
							</div>
						</div>
						<div class='progress progress-sm'>
							<div class='progress-bar bg-blue' style='width: 75%' role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100'>
								<span class='visually-hidden'>75% Complete</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-6 col-lg-3'>
				<div class='card'>
					<div class='card-body'>
						<div class='d-flex align-items-center'>
							<div class='subheader'>Revenue</div>
							<div class='ms-auto lh-1'>
								<div class='dropdown'>
									<a class='dropdown-toggle text-muted' href='#' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Last 7 days</a>
									<div class='dropdown-menu dropdown-menu-end'>
										<a class='dropdown-item active' href='#'>Last 7 days</a>
										<a class='dropdown-item' href='#'>Last 30 days</a>
										<a class='dropdown-item' href='#'>Last 3 months</a>
									</div>
								</div>
							</div>
						</div>
						<div class='d-flex align-items-baseline'>
							<div class='h1 mb-0 me-2'>$4,300</div>
							<div class='me-auto'>
                        <span class='text-green d-inline-flex align-items-center lh-1'>
                          8% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                          <svg xmlns='http://www.w3.org/2000/svg' class='icon ms-1' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><polyline points='3 17 9 11 13 15 21 7'></polyline><polyline points='14 7 21 7 21 14'></polyline></svg>
                        </span>
							</div>
						</div>
					</div>
					<div id='chart-revenue-bg' class='chart-sm' style='min-height: 40px;'>
						<div id='apexchartsmy9jbzbc' class='apexcharts-canvas apexchartsmy9jbzbc apexcharts-theme-light' style='width: 304px; height: 40px;'>
							<svg id='SvgjsSvg1801' width='304' height='40' xmlns='http://www.w3.org/2000/svg' version='1.1' class='apexcharts-svg' xmlns:data='ApexChartsNS' transform='translate(0, 0)' style='background: transparent;'>
								<g id='SvgjsG1803' class='apexcharts-inner apexcharts-graphical' transform='translate(0, 0)'>
									<defs id='SvgjsDefs1802'>
										<clipPath id='gridRectMaskmy9jbzbc'>
											<rect id='SvgjsRect1839' width='310' height='42' x='-3' y='-1' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fff'></rect>
										</clipPath>
										<clipPath id='gridRectMarkerMaskmy9jbzbc'>
											<rect id='SvgjsRect1840' width='308' height='44' x='-2' y='-2' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fff'></rect>
										</clipPath>
									</defs>
									<line id='SvgjsLine1808' x1='188.18965517241378' y1='0' x2='188.18965517241378' y2='40' stroke='#b6b6b6' stroke-dasharray='3' class='apexcharts-xcrosshairs' x='188.18965517241378' y='0' width='1' height='40' fill='#b1b9c4' filter='none' fill-opacity='0.9' stroke-width='1'></line>
									<g id='SvgjsG1847' class='apexcharts-xaxis' transform='translate(0, 0)'>
										<g id='SvgjsG1848' class='apexcharts-xaxis-texts-g' transform='translate(0, -4)'></g>
									</g>
									<g id='SvgjsG1856' class='apexcharts-grid'>
										<g id='SvgjsG1857' class='apexcharts-gridlines-horizontal' style='display: none;'>
											<line id='SvgjsLine1859' x1='0' y1='0' x2='304' y2='0' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											<line id='SvgjsLine1860' x1='0' y1='8' x2='304' y2='8' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											<line id='SvgjsLine1861' x1='0' y1='16' x2='304' y2='16' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											<line id='SvgjsLine1862' x1='0' y1='24' x2='304' y2='24' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											<line id='SvgjsLine1863' x1='0' y1='32' x2='304' y2='32' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											<line id='SvgjsLine1864' x1='0' y1='40' x2='304' y2='40' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
										</g>
										<g id='SvgjsG1858' class='apexcharts-gridlines-vertical' style='display: none;'></g>
										<line id='SvgjsLine1866' x1='0' y1='40' x2='304' y2='40' stroke='transparent' stroke-dasharray='0'></line>
										<line id='SvgjsLine1865' x1='0' y1='1' x2='0' y2='40' stroke='transparent' stroke-dasharray='0'></line>
									</g>
									<g id='SvgjsG1841' class='apexcharts-area-series apexcharts-plot-series'>
										<g id='SvgjsG1842' class='apexcharts-series' seriesname='Profits' data:longestseries='true' rel='1' data:realindex='0'>
											<path id='SvgjsPath1845' d='M 0 40L 0 25.2C 3.668965517241379 25.2 6.813793103448276 26 10.482758620689655 26C 14.151724137931033 26 17.29655172413793 22.4 20.96551724137931 22.4C 24.63448275862069 22.4 27.779310344827586 28.8 31.448275862068964 28.8C 35.11724137931034 28.8 38.26206896551724 25.6 41.93103448275862 25.6C 45.6 25.6 48.744827586206895 30.4 52.41379310344828 30.4C 56.08275862068965 30.4 59.227586206896554 14 62.89655172413793 14C 66.56551724137931 14 69.71034482758621 27.6 73.37931034482759 27.6C 77.04827586206896 27.6 80.19310344827586 25.2 83.86206896551724 25.2C 87.53103448275861 25.2 90.67586206896551 24.4 94.34482758620689 24.4C 98.01379310344828 24.4 101.15862068965517 15.2 104.82758620689656 15.2C 108.49655172413793 15.2 111.64137931034483 19.6 115.3103448275862 19.6C 118.97931034482758 19.6 122.12413793103448 26 125.79310344827586 26C 129.46206896551723 26 132.60689655172413 23.6 136.27586206896552 23.6C 139.9448275862069 23.6 143.08965517241379 26 146.75862068965517 26C 150.42758620689656 26 153.57241379310344 29.2 157.24137931034483 29.2C 160.91034482758621 29.2 164.0551724137931 2.799999999999997 167.72413793103448 2.799999999999997C 171.39310344827587 2.799999999999997 174.53793103448274 18.8 178.20689655172413 18.8C 181.87586206896552 18.8 185.0206896551724 15.600000000000001 188.68965517241378 15.600000000000001C 192.35862068965517 15.600000000000001 195.50344827586207 29.2 199.17241379310346 29.2C 202.84137931034485 29.2 205.98620689655172 18.4 209.6551724137931 18.4C 213.3241379310345 18.4 216.46896551724137 22.8 220.13793103448276 22.8C 223.80689655172415 22.8 226.95172413793102 32.4 230.6206896551724 32.4C 234.2896551724138 32.4 237.43448275862067 21.6 241.10344827586206 21.6C 244.77241379310345 21.6 247.91724137931033 24.4 251.58620689655172 24.4C 255.2551724137931 24.4 258.40000000000003 15.2 262.0689655172414 15.2C 265.73793103448276 15.2 268.8827586206897 19.6 272.55172413793105 19.6C 276.2206896551724 19.6 279.36551724137934 26 283.0344827586207 26C 286.70344827586206 26 289.848275862069 23.6 293.51724137931035 23.6C 297.1862068965517 23.6 300.33103448275864 13.2 304 13.2C 304 13.2 304 13.2 304 40M 304 13.2z' fill='rgba(32,107,196,0.16)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-area' index='0' clip-path='url(#gridRectMaskmy9jbzbc)' pathto='M 0 40L 0 25.2C 3.668965517241379 25.2 6.813793103448276 26 10.482758620689655 26C 14.151724137931033 26 17.29655172413793 22.4 20.96551724137931 22.4C 24.63448275862069 22.4 27.779310344827586 28.8 31.448275862068964 28.8C 35.11724137931034 28.8 38.26206896551724 25.6 41.93103448275862 25.6C 45.6 25.6 48.744827586206895 30.4 52.41379310344828 30.4C 56.08275862068965 30.4 59.227586206896554 14 62.89655172413793 14C 66.56551724137931 14 69.71034482758621 27.6 73.37931034482759 27.6C 77.04827586206896 27.6 80.19310344827586 25.2 83.86206896551724 25.2C 87.53103448275861 25.2 90.67586206896551 24.4 94.34482758620689 24.4C 98.01379310344828 24.4 101.15862068965517 15.2 104.82758620689656 15.2C 108.49655172413793 15.2 111.64137931034483 19.6 115.3103448275862 19.6C 118.97931034482758 19.6 122.12413793103448 26 125.79310344827586 26C 129.46206896551723 26 132.60689655172413 23.6 136.27586206896552 23.6C 139.9448275862069 23.6 143.08965517241379 26 146.75862068965517 26C 150.42758620689656 26 153.57241379310344 29.2 157.24137931034483 29.2C 160.91034482758621 29.2 164.0551724137931 2.799999999999997 167.72413793103448 2.799999999999997C 171.39310344827587 2.799999999999997 174.53793103448274 18.8 178.20689655172413 18.8C 181.87586206896552 18.8 185.0206896551724 15.600000000000001 188.68965517241378 15.600000000000001C 192.35862068965517 15.600000000000001 195.50344827586207 29.2 199.17241379310346 29.2C 202.84137931034485 29.2 205.98620689655172 18.4 209.6551724137931 18.4C 213.3241379310345 18.4 216.46896551724137 22.8 220.13793103448276 22.8C 223.80689655172415 22.8 226.95172413793102 32.4 230.6206896551724 32.4C 234.2896551724138 32.4 237.43448275862067 21.6 241.10344827586206 21.6C 244.77241379310345 21.6 247.91724137931033 24.4 251.58620689655172 24.4C 255.2551724137931 24.4 258.40000000000003 15.2 262.0689655172414 15.2C 265.73793103448276 15.2 268.8827586206897 19.6 272.55172413793105 19.6C 276.2206896551724 19.6 279.36551724137934 26 283.0344827586207 26C 286.70344827586206 26 289.848275862069 23.6 293.51724137931035 23.6C 297.1862068965517 23.6 300.33103448275864 13.2 304 13.2C 304 13.2 304 13.2 304 40M 304 13.2z' pathfrom='M -1 40L -1 40L 10.482758620689655 40L 20.96551724137931 40L 31.448275862068964 40L 41.93103448275862 40L 52.41379310344828 40L 62.89655172413793 40L 73.37931034482759 40L 83.86206896551724 40L 94.34482758620689 40L 104.82758620689656 40L 115.3103448275862 40L 125.79310344827586 40L 136.27586206896552 40L 146.75862068965517 40L 157.24137931034483 40L 167.72413793103448 40L 178.20689655172413 40L 188.68965517241378 40L 199.17241379310346 40L 209.6551724137931 40L 220.13793103448276 40L 230.6206896551724 40L 241.10344827586206 40L 251.58620689655172 40L 262.0689655172414 40L 272.55172413793105 40L 283.0344827586207 40L 293.51724137931035 40L 304 40'></path>
											<path id='SvgjsPath1846' d='M 0 25.2C 3.668965517241379 25.2 6.813793103448276 26 10.482758620689655 26C 14.151724137931033 26 17.29655172413793 22.4 20.96551724137931 22.4C 24.63448275862069 22.4 27.779310344827586 28.8 31.448275862068964 28.8C 35.11724137931034 28.8 38.26206896551724 25.6 41.93103448275862 25.6C 45.6 25.6 48.744827586206895 30.4 52.41379310344828 30.4C 56.08275862068965 30.4 59.227586206896554 14 62.89655172413793 14C 66.56551724137931 14 69.71034482758621 27.6 73.37931034482759 27.6C 77.04827586206896 27.6 80.19310344827586 25.2 83.86206896551724 25.2C 87.53103448275861 25.2 90.67586206896551 24.4 94.34482758620689 24.4C 98.01379310344828 24.4 101.15862068965517 15.2 104.82758620689656 15.2C 108.49655172413793 15.2 111.64137931034483 19.6 115.3103448275862 19.6C 118.97931034482758 19.6 122.12413793103448 26 125.79310344827586 26C 129.46206896551723 26 132.60689655172413 23.6 136.27586206896552 23.6C 139.9448275862069 23.6 143.08965517241379 26 146.75862068965517 26C 150.42758620689656 26 153.57241379310344 29.2 157.24137931034483 29.2C 160.91034482758621 29.2 164.0551724137931 2.799999999999997 167.72413793103448 2.799999999999997C 171.39310344827587 2.799999999999997 174.53793103448274 18.8 178.20689655172413 18.8C 181.87586206896552 18.8 185.0206896551724 15.600000000000001 188.68965517241378 15.600000000000001C 192.35862068965517 15.600000000000001 195.50344827586207 29.2 199.17241379310346 29.2C 202.84137931034485 29.2 205.98620689655172 18.4 209.6551724137931 18.4C 213.3241379310345 18.4 216.46896551724137 22.8 220.13793103448276 22.8C 223.80689655172415 22.8 226.95172413793102 32.4 230.6206896551724 32.4C 234.2896551724138 32.4 237.43448275862067 21.6 241.10344827586206 21.6C 244.77241379310345 21.6 247.91724137931033 24.4 251.58620689655172 24.4C 255.2551724137931 24.4 258.40000000000003 15.2 262.0689655172414 15.2C 265.73793103448276 15.2 268.8827586206897 19.6 272.55172413793105 19.6C 276.2206896551724 19.6 279.36551724137934 26 283.0344827586207 26C 286.70344827586206 26 289.848275862069 23.6 293.51724137931035 23.6C 297.1862068965517 23.6 300.33103448275864 13.2 304 13.2' fill='none' fill-opacity='1' stroke='#206bc4' stroke-opacity='1' stroke-linecap='round' stroke-width='2' stroke-dasharray='0' class='apexcharts-area' index='0' clip-path='url(#gridRectMaskmy9jbzbc)' pathto='M 0 25.2C 3.668965517241379 25.2 6.813793103448276 26 10.482758620689655 26C 14.151724137931033 26 17.29655172413793 22.4 20.96551724137931 22.4C 24.63448275862069 22.4 27.779310344827586 28.8 31.448275862068964 28.8C 35.11724137931034 28.8 38.26206896551724 25.6 41.93103448275862 25.6C 45.6 25.6 48.744827586206895 30.4 52.41379310344828 30.4C 56.08275862068965 30.4 59.227586206896554 14 62.89655172413793 14C 66.56551724137931 14 69.71034482758621 27.6 73.37931034482759 27.6C 77.04827586206896 27.6 80.19310344827586 25.2 83.86206896551724 25.2C 87.53103448275861 25.2 90.67586206896551 24.4 94.34482758620689 24.4C 98.01379310344828 24.4 101.15862068965517 15.2 104.82758620689656 15.2C 108.49655172413793 15.2 111.64137931034483 19.6 115.3103448275862 19.6C 118.97931034482758 19.6 122.12413793103448 26 125.79310344827586 26C 129.46206896551723 26 132.60689655172413 23.6 136.27586206896552 23.6C 139.9448275862069 23.6 143.08965517241379 26 146.75862068965517 26C 150.42758620689656 26 153.57241379310344 29.2 157.24137931034483 29.2C 160.91034482758621 29.2 164.0551724137931 2.799999999999997 167.72413793103448 2.799999999999997C 171.39310344827587 2.799999999999997 174.53793103448274 18.8 178.20689655172413 18.8C 181.87586206896552 18.8 185.0206896551724 15.600000000000001 188.68965517241378 15.600000000000001C 192.35862068965517 15.600000000000001 195.50344827586207 29.2 199.17241379310346 29.2C 202.84137931034485 29.2 205.98620689655172 18.4 209.6551724137931 18.4C 213.3241379310345 18.4 216.46896551724137 22.8 220.13793103448276 22.8C 223.80689655172415 22.8 226.95172413793102 32.4 230.6206896551724 32.4C 234.2896551724138 32.4 237.43448275862067 21.6 241.10344827586206 21.6C 244.77241379310345 21.6 247.91724137931033 24.4 251.58620689655172 24.4C 255.2551724137931 24.4 258.40000000000003 15.2 262.0689655172414 15.2C 265.73793103448276 15.2 268.8827586206897 19.6 272.55172413793105 19.6C 276.2206896551724 19.6 279.36551724137934 26 283.0344827586207 26C 286.70344827586206 26 289.848275862069 23.6 293.51724137931035 23.6C 297.1862068965517 23.6 300.33103448275864 13.2 304 13.2' pathfrom='M -1 40L -1 40L 10.482758620689655 40L 20.96551724137931 40L 31.448275862068964 40L 41.93103448275862 40L 52.41379310344828 40L 62.89655172413793 40L 73.37931034482759 40L 83.86206896551724 40L 94.34482758620689 40L 104.82758620689656 40L 115.3103448275862 40L 125.79310344827586 40L 136.27586206896552 40L 146.75862068965517 40L 157.24137931034483 40L 167.72413793103448 40L 178.20689655172413 40L 188.68965517241378 40L 199.17241379310346 40L 209.6551724137931 40L 220.13793103448276 40L 230.6206896551724 40L 241.10344827586206 40L 251.58620689655172 40L 262.0689655172414 40L 272.55172413793105 40L 283.0344827586207 40L 293.51724137931035 40L 304 40'></path>
											<g id='SvgjsG1843' class='apexcharts-series-markers-wrap' data:realindex='0'>
												<g class='apexcharts-series-markers'>
													<circle id='SvgjsCircle1872' r='0' cx='188.68965517241378' cy='15.600000000000001' class='apexcharts-marker wqzhtm47t no-pointer-events' stroke='#ffffff' fill='#206bc4' fill-opacity='1' stroke-width='2' stroke-opacity='0.9' default-marker-size='0'></circle>
												</g>
											</g>
										</g>
										<g id='SvgjsG1844' class='apexcharts-datalabels' data:realindex='0'></g>
									</g>
									<line id='SvgjsLine1867' x1='0' y1='0' x2='304' y2='0' stroke='#b6b6b6' stroke-dasharray='0' stroke-width='1' class='apexcharts-ycrosshairs'></line>
									<line id='SvgjsLine1868' x1='0' y1='0' x2='304' y2='0' stroke-dasharray='0' stroke-width='0' class='apexcharts-ycrosshairs-hidden'></line>
									<g id='SvgjsG1869' class='apexcharts-yaxis-annotations'></g>
									<g id='SvgjsG1870' class='apexcharts-xaxis-annotations'></g>
									<g id='SvgjsG1871' class='apexcharts-point-annotations'></g>
								</g>
								<rect id='SvgjsRect1807' width='0' height='0' x='0' y='0' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fefefe'></rect>
								<g id='SvgjsG1855' class='apexcharts-yaxis' rel='0' transform='translate(-18, 0)'></g>
								<g id='SvgjsG1804' class='apexcharts-annotations'></g>
							</svg>
							<div class='apexcharts-legend' style='max-height: 20px;'></div>
							<div class='apexcharts-tooltip apexcharts-theme-light' style='left: 72.7209px; top: 0px;'>
								<div class='apexcharts-tooltip-title' style='font-family: inherit; font-size: 12px;'>08 Jul</div>
								<div class='apexcharts-tooltip-series-group apexcharts-active' style='order: 1; display: flex;'>
									<span class='apexcharts-tooltip-marker' style='background-color: rgb(32, 107, 196);'></span>
									<div class='apexcharts-tooltip-text' style='font-family: inherit; font-size: 12px;'>
										<div class='apexcharts-tooltip-y-group'><span class='apexcharts-tooltip-text-label'>Profits: </span><span class='apexcharts-tooltip-text-value'>61</span>
										</div>
										<div class='apexcharts-tooltip-z-group'>
											<span class='apexcharts-tooltip-text-z-label'></span><span class='apexcharts-tooltip-text-z-value'></span>
										</div>
									</div>
								</div>
							</div>
							<div class='apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light'>
								<div class='apexcharts-yaxistooltip-text'></div>
							</div>
						</div>
					</div>
					<div class='resize-triggers'>
						<div class='expand-trigger'>
							<div style='width: 305px; height: 137px;'></div>
						</div>
						<div class='contract-trigger'></div>
					</div>
				</div>
			</div>
			<div class='col-sm-6 col-lg-3'>
				<div class='card'>
					<div class='card-body' style='position: relative;'>
						<div class='d-flex align-items-center'>
							<div class='subheader'>New clients</div>
							<div class='ms-auto lh-1'>
								<div class='dropdown'>
									<a class='dropdown-toggle text-muted' href='#' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Last 7 days</a>
									<div class='dropdown-menu dropdown-menu-end'>
										<a class='dropdown-item active' href='#'>Last 7 days</a>
										<a class='dropdown-item' href='#'>Last 30 days</a>
										<a class='dropdown-item' href='#'>Last 3 months</a>
									</div>
								</div>
							</div>
						</div>
						<div class='d-flex align-items-baseline'>
							<div class='h1 mb-3 me-2'>6,782</div>
							<div class='me-auto'>
                        <span class='text-yellow d-inline-flex align-items-center lh-1'>
                          0% <!-- Download SVG icon from http://tabler-icons.io/i/minus -->
                          <svg xmlns='http://www.w3.org/2000/svg' class='icon ms-1' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><line x1='5' y1='12' x2='19' y2='12'></line></svg>
                        </span>
							</div>
						</div>
						<div id='chart-new-clients' class='chart-sm' style='min-height: 40px;'>
							<div id='apexchartsmc1mu9nq' class='apexcharts-canvas apexchartsmc1mu9nq apexcharts-theme-light' style='width: 272px; height: 40px;'>
								<svg id='SvgjsSvg1875' width='272' height='40' xmlns='http://www.w3.org/2000/svg' version='1.1' class='apexcharts-svg' xmlns:data='ApexChartsNS' transform='translate(0, 0)' style='background: transparent;'>
									<g id='SvgjsG1877' class='apexcharts-inner apexcharts-graphical' transform='translate(0, 0)'>
										<defs id='SvgjsDefs1876'>
											<clipPath id='gridRectMaskmc1mu9nq'>
												<rect id='SvgjsRect1913' width='278' height='42' x='-3' y='-1' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fff'></rect>
											</clipPath>
											<clipPath id='gridRectMarkerMaskmc1mu9nq'>
												<rect id='SvgjsRect1914' width='276' height='44' x='-2' y='-2' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fff'></rect>
											</clipPath>
										</defs>
										<line id='SvgjsLine1882' x1='0' y1='0' x2='0' y2='40' stroke='#b6b6b6' stroke-dasharray='3' class='apexcharts-xcrosshairs' x='0' y='0' width='1' height='40' fill='#b1b9c4' filter='none' fill-opacity='0.9' stroke-width='1'></line>
										<g id='SvgjsG1924' class='apexcharts-xaxis' transform='translate(0, 0)'>
											<g id='SvgjsG1925' class='apexcharts-xaxis-texts-g' transform='translate(0, -4)'></g>
										</g>
										<g id='SvgjsG1932' class='apexcharts-grid'>
											<g id='SvgjsG1933' class='apexcharts-gridlines-horizontal' style='display: none;'>
												<line id='SvgjsLine1935' x1='0' y1='0' x2='272' y2='0' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine1936' x1='0' y1='8' x2='272' y2='8' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine1937' x1='0' y1='16' x2='272' y2='16' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine1938' x1='0' y1='24' x2='272' y2='24' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine1939' x1='0' y1='32' x2='272' y2='32' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine1940' x1='0' y1='40' x2='272' y2='40' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											</g>
											<g id='SvgjsG1934' class='apexcharts-gridlines-vertical' style='display: none;'></g>
											<line id='SvgjsLine1942' x1='0' y1='40' x2='272' y2='40' stroke='transparent' stroke-dasharray='0'></line>
											<line id='SvgjsLine1941' x1='0' y1='1' x2='0' y2='40' stroke='transparent' stroke-dasharray='0'></line>
										</g>
										<g id='SvgjsG1915' class='apexcharts-line-series apexcharts-plot-series'>
											<g id='SvgjsG1916' class='apexcharts-series' seriesname='May' data:longestseries='true' rel='1' data:realindex='0'>
												<path id='SvgjsPath1919' d='M 0 25.2C 3.2827586206896546 25.2 6.096551724137931 26 9.379310344827585 26C 12.66206896551724 26 15.475862068965515 22.4 18.75862068965517 22.4C 22.041379310344826 22.4 24.855172413793102 28.8 28.137931034482758 28.8C 31.420689655172414 28.8 34.234482758620686 25.6 37.51724137931034 25.6C 40.8 25.6 43.61379310344827 30.4 46.89655172413793 30.4C 50.179310344827584 30.4 52.99310344827586 14 56.275862068965516 14C 59.55862068965517 14 62.37241379310344 27.6 65.6551724137931 27.6C 68.93793103448274 27.6 71.75172413793103 25.2 75.03448275862068 25.2C 78.31724137931033 25.2 81.13103448275862 24.4 84.41379310344827 24.4C 87.69655172413792 24.4 90.51034482758621 15.2 93.79310344827586 15.2C 97.0758620689655 15.2 99.8896551724138 19.6 103.17241379310344 19.6C 106.4551724137931 19.6 109.26896551724138 26 112.55172413793103 26C 115.83448275862068 26 118.64827586206896 23.6 121.9310344827586 23.6C 125.21379310344827 23.6 128.02758620689653 26 131.3103448275862 26C 134.59310344827585 26 137.40689655172412 29.2 140.68965517241378 29.2C 143.97241379310344 29.2 146.7862068965517 2.799999999999997 150.06896551724137 2.799999999999997C 153.35172413793103 2.799999999999997 156.1655172413793 18.8 159.44827586206895 18.8C 162.73103448275862 18.8 165.54482758620688 15.600000000000001 168.82758620689654 15.600000000000001C 172.1103448275862 15.600000000000001 174.92413793103447 29.2 178.20689655172413 29.2C 181.4896551724138 29.2 184.30344827586205 18.4 187.58620689655172 18.4C 190.86896551724138 18.4 193.68275862068964 22.8 196.9655172413793 22.8C 200.24827586206897 22.8 203.06206896551723 38.4 206.3448275862069 38.4C 209.62758620689655 38.4 212.44137931034481 21.6 215.72413793103448 21.6C 219.00689655172414 21.6 221.8206896551724 24.4 225.10344827586206 24.4C 228.3862068965517 24.4 231.2 15.2 234.48275862068962 15.2C 237.76551724137929 15.2 240.57931034482755 19.6 243.8620689655172 19.6C 247.14482758620687 19.6 249.95862068965513 26 253.2413793103448 26C 256.52413793103443 26 259.3379310344827 23.6 262.6206896551724 23.6C 265.90344827586205 23.6 268.71724137931034 13.2 272 13.2' fill='none' fill-opacity='1' stroke='rgba(32,107,196,1)' stroke-opacity='1' stroke-linecap='round' stroke-width='2' stroke-dasharray='0' class='apexcharts-line' index='0' clip-path='url(#gridRectMaskmc1mu9nq)' pathto='M 0 25.2C 3.2827586206896546 25.2 6.096551724137931 26 9.379310344827585 26C 12.66206896551724 26 15.475862068965515 22.4 18.75862068965517 22.4C 22.041379310344826 22.4 24.855172413793102 28.8 28.137931034482758 28.8C 31.420689655172414 28.8 34.234482758620686 25.6 37.51724137931034 25.6C 40.8 25.6 43.61379310344827 30.4 46.89655172413793 30.4C 50.179310344827584 30.4 52.99310344827586 14 56.275862068965516 14C 59.55862068965517 14 62.37241379310344 27.6 65.6551724137931 27.6C 68.93793103448274 27.6 71.75172413793103 25.2 75.03448275862068 25.2C 78.31724137931033 25.2 81.13103448275862 24.4 84.41379310344827 24.4C 87.69655172413792 24.4 90.51034482758621 15.2 93.79310344827586 15.2C 97.0758620689655 15.2 99.8896551724138 19.6 103.17241379310344 19.6C 106.4551724137931 19.6 109.26896551724138 26 112.55172413793103 26C 115.83448275862068 26 118.64827586206896 23.6 121.9310344827586 23.6C 125.21379310344827 23.6 128.02758620689653 26 131.3103448275862 26C 134.59310344827585 26 137.40689655172412 29.2 140.68965517241378 29.2C 143.97241379310344 29.2 146.7862068965517 2.799999999999997 150.06896551724137 2.799999999999997C 153.35172413793103 2.799999999999997 156.1655172413793 18.8 159.44827586206895 18.8C 162.73103448275862 18.8 165.54482758620688 15.600000000000001 168.82758620689654 15.600000000000001C 172.1103448275862 15.600000000000001 174.92413793103447 29.2 178.20689655172413 29.2C 181.4896551724138 29.2 184.30344827586205 18.4 187.58620689655172 18.4C 190.86896551724138 18.4 193.68275862068964 22.8 196.9655172413793 22.8C 200.24827586206897 22.8 203.06206896551723 38.4 206.3448275862069 38.4C 209.62758620689655 38.4 212.44137931034481 21.6 215.72413793103448 21.6C 219.00689655172414 21.6 221.8206896551724 24.4 225.10344827586206 24.4C 228.3862068965517 24.4 231.2 15.2 234.48275862068962 15.2C 237.76551724137929 15.2 240.57931034482755 19.6 243.8620689655172 19.6C 247.14482758620687 19.6 249.95862068965513 26 253.2413793103448 26C 256.52413793103443 26 259.3379310344827 23.6 262.6206896551724 23.6C 265.90344827586205 23.6 268.71724137931034 13.2 272 13.2' pathfrom='M -1 40L -1 40L 9.379310344827585 40L 18.75862068965517 40L 28.137931034482758 40L 37.51724137931034 40L 46.89655172413793 40L 56.275862068965516 40L 65.6551724137931 40L 75.03448275862068 40L 84.41379310344827 40L 93.79310344827586 40L 103.17241379310344 40L 112.55172413793103 40L 121.9310344827586 40L 131.3103448275862 40L 140.68965517241378 40L 150.06896551724137 40L 159.44827586206895 40L 168.82758620689654 40L 178.20689655172413 40L 187.58620689655172 40L 196.9655172413793 40L 206.3448275862069 40L 215.72413793103448 40L 225.10344827586206 40L 234.48275862068962 40L 243.8620689655172 40L 253.2413793103448 40L 262.6206896551724 40L 272 40'></path>
												<g id='SvgjsG1917' class='apexcharts-series-markers-wrap' data:realindex='0'>
													<g class='apexcharts-series-markers'>
														<circle id='SvgjsCircle1948' r='0' cx='0' cy='0' class='apexcharts-marker wvly8lgw8 no-pointer-events' stroke='#ffffff' fill='#206bc4' fill-opacity='1' stroke-width='2' stroke-opacity='0.9' default-marker-size='0'></circle>
													</g>
												</g>
											</g>
											<g id='SvgjsG1920' class='apexcharts-series' seriesname='April' data:longestseries='true' rel='2' data:realindex='1'>
												<path id='SvgjsPath1923' d='M 0 2.799999999999997C 3.2827586206896546 2.799999999999997 6.096551724137931 18.4 9.379310344827585 18.4C 12.66206896551724 18.4 15.475862068965515 19.6 18.75862068965517 19.6C 22.041379310344826 19.6 24.855172413793102 30.4 28.137931034482758 30.4C 31.420689655172414 30.4 34.234482758620686 26 37.51724137931034 26C 40.8 26 43.61379310344827 26 46.89655172413793 26C 50.179310344827584 26 52.99310344827586 27.6 56.275862068965516 27.6C 59.55862068965517 27.6 62.37241379310344 13.2 65.6551724137931 13.2C 68.93793103448274 13.2 71.75172413793103 32.4 75.03448275862068 32.4C 78.31724137931033 32.4 81.13103448275862 22.8 84.41379310344827 22.8C 87.69655172413792 22.8 90.51034482758621 28.8 93.79310344827586 28.8C 97.0758620689655 28.8 99.8896551724138 25.6 103.17241379310344 25.6C 106.4551724137931 25.6 109.26896551724138 15.2 112.55172413793103 15.2C 115.83448275862068 15.2 118.64827586206896 15.600000000000001 121.9310344827586 15.600000000000001C 125.21379310344827 15.600000000000001 128.02758620689653 29.2 131.3103448275862 29.2C 134.59310344827585 29.2 137.40689655172412 24.4 140.68965517241378 24.4C 143.97241379310344 24.4 146.7862068965517 26 150.06896551724137 26C 153.35172413793103 26 156.1655172413793 23.6 159.44827586206895 23.6C 162.73103448275862 23.6 165.54482758620688 29.2 168.82758620689654 29.2C 172.1103448275862 29.2 174.92413793103447 26 178.20689655172413 26C 181.4896551724138 26 184.30344827586205 19.6 187.58620689655172 19.6C 190.86896551724138 19.6 193.68275862068964 21.6 196.9655172413793 21.6C 200.24827586206897 21.6 203.06206896551723 15.2 206.3448275862069 15.2C 209.62758620689655 15.2 212.44137931034481 25.2 215.72413793103448 25.2C 219.00689655172414 25.2 221.8206896551724 22.4 225.10344827586206 22.4C 228.3862068965517 22.4 231.2 18.8 234.48275862068962 18.8C 237.76551724137929 18.8 240.57931034482755 23.6 243.8620689655172 23.6C 247.14482758620687 23.6 249.95862068965513 14 253.2413793103448 14C 256.52413793103443 14 259.3379310344827 24.4 262.6206896551724 24.4C 265.90344827586205 24.4 268.71724137931034 25.2 272 25.2' fill='none' fill-opacity='1' stroke='rgba(168,174,183,1)' stroke-opacity='1' stroke-linecap='round' stroke-width='1' stroke-dasharray='3' class='apexcharts-line' index='1' clip-path='url(#gridRectMaskmc1mu9nq)' pathto='M 0 2.799999999999997C 3.2827586206896546 2.799999999999997 6.096551724137931 18.4 9.379310344827585 18.4C 12.66206896551724 18.4 15.475862068965515 19.6 18.75862068965517 19.6C 22.041379310344826 19.6 24.855172413793102 30.4 28.137931034482758 30.4C 31.420689655172414 30.4 34.234482758620686 26 37.51724137931034 26C 40.8 26 43.61379310344827 26 46.89655172413793 26C 50.179310344827584 26 52.99310344827586 27.6 56.275862068965516 27.6C 59.55862068965517 27.6 62.37241379310344 13.2 65.6551724137931 13.2C 68.93793103448274 13.2 71.75172413793103 32.4 75.03448275862068 32.4C 78.31724137931033 32.4 81.13103448275862 22.8 84.41379310344827 22.8C 87.69655172413792 22.8 90.51034482758621 28.8 93.79310344827586 28.8C 97.0758620689655 28.8 99.8896551724138 25.6 103.17241379310344 25.6C 106.4551724137931 25.6 109.26896551724138 15.2 112.55172413793103 15.2C 115.83448275862068 15.2 118.64827586206896 15.600000000000001 121.9310344827586 15.600000000000001C 125.21379310344827 15.600000000000001 128.02758620689653 29.2 131.3103448275862 29.2C 134.59310344827585 29.2 137.40689655172412 24.4 140.68965517241378 24.4C 143.97241379310344 24.4 146.7862068965517 26 150.06896551724137 26C 153.35172413793103 26 156.1655172413793 23.6 159.44827586206895 23.6C 162.73103448275862 23.6 165.54482758620688 29.2 168.82758620689654 29.2C 172.1103448275862 29.2 174.92413793103447 26 178.20689655172413 26C 181.4896551724138 26 184.30344827586205 19.6 187.58620689655172 19.6C 190.86896551724138 19.6 193.68275862068964 21.6 196.9655172413793 21.6C 200.24827586206897 21.6 203.06206896551723 15.2 206.3448275862069 15.2C 209.62758620689655 15.2 212.44137931034481 25.2 215.72413793103448 25.2C 219.00689655172414 25.2 221.8206896551724 22.4 225.10344827586206 22.4C 228.3862068965517 22.4 231.2 18.8 234.48275862068962 18.8C 237.76551724137929 18.8 240.57931034482755 23.6 243.8620689655172 23.6C 247.14482758620687 23.6 249.95862068965513 14 253.2413793103448 14C 256.52413793103443 14 259.3379310344827 24.4 262.6206896551724 24.4C 265.90344827586205 24.4 268.71724137931034 25.2 272 25.2' pathfrom='M -1 40L -1 40L 9.379310344827585 40L 18.75862068965517 40L 28.137931034482758 40L 37.51724137931034 40L 46.89655172413793 40L 56.275862068965516 40L 65.6551724137931 40L 75.03448275862068 40L 84.41379310344827 40L 93.79310344827586 40L 103.17241379310344 40L 112.55172413793103 40L 121.9310344827586 40L 131.3103448275862 40L 140.68965517241378 40L 150.06896551724137 40L 159.44827586206895 40L 168.82758620689654 40L 178.20689655172413 40L 187.58620689655172 40L 196.9655172413793 40L 206.3448275862069 40L 215.72413793103448 40L 225.10344827586206 40L 234.48275862068962 40L 243.8620689655172 40L 253.2413793103448 40L 262.6206896551724 40L 272 40'></path>
												<g id='SvgjsG1921' class='apexcharts-series-markers-wrap' data:realindex='1'>
													<g class='apexcharts-series-markers'>
														<circle id='SvgjsCircle1949' r='0' cx='0' cy='0' class='apexcharts-marker ws5enfxs9 no-pointer-events' stroke='#ffffff' fill='#a8aeb7' fill-opacity='1' stroke-width='2' stroke-opacity='0.9' default-marker-size='0'></circle>
													</g>
												</g>
											</g>
											<g id='SvgjsG1918' class='apexcharts-datalabels' data:realindex='0'></g>
											<g id='SvgjsG1922' class='apexcharts-datalabels' data:realindex='1'></g>
										</g>
										<line id='SvgjsLine1943' x1='0' y1='0' x2='272' y2='0' stroke='#b6b6b6' stroke-dasharray='0' stroke-width='1' class='apexcharts-ycrosshairs'></line>
										<line id='SvgjsLine1944' x1='0' y1='0' x2='272' y2='0' stroke-dasharray='0' stroke-width='0' class='apexcharts-ycrosshairs-hidden'></line>
										<g id='SvgjsG1945' class='apexcharts-yaxis-annotations'></g>
										<g id='SvgjsG1946' class='apexcharts-xaxis-annotations'></g>
										<g id='SvgjsG1947' class='apexcharts-point-annotations'></g>
									</g>
									<rect id='SvgjsRect1881' width='0' height='0' x='0' y='0' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fefefe'></rect>
									<g id='SvgjsG1931' class='apexcharts-yaxis' rel='0' transform='translate(-18, 0)'></g>
									<g id='SvgjsG1878' class='apexcharts-annotations'></g>
								</svg>
								<div class='apexcharts-legend' style='max-height: 20px;'></div>
								<div class='apexcharts-tooltip apexcharts-theme-light'>
									<div class='apexcharts-tooltip-title' style='font-family: inherit; font-size: 12px;'></div>
									<div class='apexcharts-tooltip-series-group' style='order: 1;'>
										<span class='apexcharts-tooltip-marker' style='background-color: rgb(32, 107, 196);'></span>
										<div class='apexcharts-tooltip-text' style='font-family: inherit; font-size: 12px;'>
											<div class='apexcharts-tooltip-y-group'>
												<span class='apexcharts-tooltip-text-label'></span><span class='apexcharts-tooltip-text-value'></span>
											</div>
											<div class='apexcharts-tooltip-z-group'>
												<span class='apexcharts-tooltip-text-z-label'></span><span class='apexcharts-tooltip-text-z-value'></span>
											</div>
										</div>
									</div>
									<div class='apexcharts-tooltip-series-group' style='order: 2;'>
										<span class='apexcharts-tooltip-marker' style='background-color: rgb(168, 174, 183);'></span>
										<div class='apexcharts-tooltip-text' style='font-family: inherit; font-size: 12px;'>
											<div class='apexcharts-tooltip-y-group'>
												<span class='apexcharts-tooltip-text-label'></span><span class='apexcharts-tooltip-text-value'></span>
											</div>
											<div class='apexcharts-tooltip-z-group'>
												<span class='apexcharts-tooltip-text-z-label'></span><span class='apexcharts-tooltip-text-z-value'></span>
											</div>
										</div>
									</div>
								</div>
								<div class='apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light'>
									<div class='apexcharts-yaxistooltip-text'></div>
								</div>
							</div>
						</div>
						<div class='resize-triggers'>
							<div class='expand-trigger'>
								<div style='width: 305px; height: 137px;'></div>
							</div>
							<div class='contract-trigger'></div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-6 col-lg-3'>
				<div class='card'>
					<div class='card-body' style='position: relative;'>
						<div class='d-flex align-items-center'>
							<div class='subheader'>Active users</div>
							<div class='ms-auto lh-1'>
								<div class='dropdown'>
									<a class='dropdown-toggle text-muted' href='#' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Last 7 days</a>
									<div class='dropdown-menu dropdown-menu-end'>
										<a class='dropdown-item active' href='#'>Last 7 days</a>
										<a class='dropdown-item' href='#'>Last 30 days</a>
										<a class='dropdown-item' href='#'>Last 3 months</a>
									</div>
								</div>
							</div>
						</div>
						<div class='d-flex align-items-baseline'>
							<div class='h1 mb-3 me-2'>2,986</div>
							<div class='me-auto'>
                        <span class='text-green d-inline-flex align-items-center lh-1'>
                          4% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                          <svg xmlns='http://www.w3.org/2000/svg' class='icon ms-1' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><polyline points='3 17 9 11 13 15 21 7'></polyline><polyline points='14 7 21 7 21 14'></polyline></svg>
                        </span>
							</div>
						</div>
						<div id='chart-active-users' class='chart-sm' style='min-height: 40px;'>
							<div id='apexchartskh54ugb2' class='apexcharts-canvas apexchartskh54ugb2 apexcharts-theme-light' style='width: 272px; height: 40px;'>
								<svg id='SvgjsSvg1950' width='272' height='40' xmlns='http://www.w3.org/2000/svg' version='1.1' class='apexcharts-svg' xmlns:data='ApexChartsNS' transform='translate(0, 0)' style='background: transparent;'>
									<g id='SvgjsG1952' class='apexcharts-inner apexcharts-graphical' transform='translate(12.126436781609195, 0)'>
										<defs id='SvgjsDefs1951'>
											<linearGradient id='SvgjsLinearGradient1956' x1='0' y1='0' x2='0' y2='1'>
												<stop id='SvgjsStop1957' stop-opacity='0.4' stop-color='rgba(216,227,240,0.4)' offset='0'></stop>
												<stop id='SvgjsStop1958' stop-opacity='0.5' stop-color='rgba(190,209,230,0.5)' offset='1'></stop>
												<stop id='SvgjsStop1959' stop-opacity='0.5' stop-color='rgba(190,209,230,0.5)' offset='1'></stop>
											</linearGradient>
											<clipPath id='gridRectMaskkh54ugb2'>
												<rect id='SvgjsRect1991' width='276' height='40' x='-10.126436781609195' y='0' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fff'></rect>
											</clipPath>
											<clipPath id='gridRectMarkerMaskkh54ugb2'>
												<rect id='SvgjsRect1992' width='259.7471264367816' height='44' x='-2' y='-2' rx='0' ry='0' opacity='1' stroke-width='0' stroke='none' stroke-dasharray='0' fill='#fff'></rect>
											</clipPath>
										</defs>
										<rect id='SvgjsRect1960' width='4.409433214427269' height='40' x='0' y='0' rx='0' ry='0' opacity='1' stroke-width='0' stroke-dasharray='3' fill='url(#SvgjsLinearGradient1956)' class='apexcharts-xcrosshairs' y2='40' filter='none' fill-opacity='0.9'></rect>
										<g id='SvgjsG2026' class='apexcharts-xaxis' transform='translate(0, 0)'>
											<g id='SvgjsG2027' class='apexcharts-xaxis-texts-g' transform='translate(0, -4)'></g>
										</g>
										<g id='SvgjsG2034' class='apexcharts-grid'>
											<g id='SvgjsG2035' class='apexcharts-gridlines-horizontal' style='display: none;'>
												<line id='SvgjsLine2037' x1='-8.126436781609195' y1='0' x2='263.8735632183908' y2='0' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine2038' x1='-8.126436781609195' y1='8' x2='263.8735632183908' y2='8' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine2039' x1='-8.126436781609195' y1='16' x2='263.8735632183908' y2='16' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine2040' x1='-8.126436781609195' y1='24' x2='263.8735632183908' y2='24' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine2041' x1='-8.126436781609195' y1='32' x2='263.8735632183908' y2='32' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
												<line id='SvgjsLine2042' x1='-8.126436781609195' y1='40' x2='263.8735632183908' y2='40' stroke='#e0e0e0' stroke-dasharray='4' class='apexcharts-gridline'></line>
											</g>
											<g id='SvgjsG2036' class='apexcharts-gridlines-vertical' style='display: none;'></g>
											<line id='SvgjsLine2044' x1='0' y1='40' x2='255.7471264367816' y2='40' stroke='transparent' stroke-dasharray='0'></line>
											<line id='SvgjsLine2043' x1='0' y1='1' x2='0' y2='40' stroke='transparent' stroke-dasharray='0'></line>
										</g>
										<g id='SvgjsG1993' class='apexcharts-bar-series apexcharts-plot-series'>
											<g id='SvgjsG1994' class='apexcharts-series' rel='1' seriesname='Profits' data:realindex='0'>
												<path id='SvgjsPath1996' d='M -2.2047166072136344 40L -2.2047166072136344 25.2Q -2.2047166072136344 25.2 -2.2047166072136344 25.2L 2.2047166072136344 25.2Q 2.2047166072136344 25.2 2.2047166072136344 25.2L 2.2047166072136344 25.2L 2.2047166072136344 40L 2.2047166072136344 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M -2.2047166072136344 40L -2.2047166072136344 25.2Q -2.2047166072136344 25.2 -2.2047166072136344 25.2L 2.2047166072136344 25.2Q 2.2047166072136344 25.2 2.2047166072136344 25.2L 2.2047166072136344 25.2L 2.2047166072136344 40L 2.2047166072136344 40z' pathfrom='M -2.2047166072136344 40L -2.2047166072136344 40L 2.2047166072136344 40L 2.2047166072136344 40L 2.2047166072136344 40L 2.2047166072136344 40L 2.2047166072136344 40L -2.2047166072136344 40' cy='25.2' cx='2.2047166072136344' j='0' val='37' barheight='14.8' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath1997' d='M 6.614149821640903 40L 6.614149821640903 26Q 6.614149821640903 26 6.614149821640903 26L 11.023583036068171 26Q 11.023583036068171 26 11.023583036068171 26L 11.023583036068171 26L 11.023583036068171 40L 11.023583036068171 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 6.614149821640903 40L 6.614149821640903 26Q 6.614149821640903 26 6.614149821640903 26L 11.023583036068171 26Q 11.023583036068171 26 11.023583036068171 26L 11.023583036068171 26L 11.023583036068171 40L 11.023583036068171 40z' pathfrom='M 6.614149821640903 40L 6.614149821640903 40L 11.023583036068171 40L 11.023583036068171 40L 11.023583036068171 40L 11.023583036068171 40L 11.023583036068171 40L 6.614149821640903 40' cy='26' cx='11.023583036068171' j='1' val='35' barheight='14' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath1998' d='M 15.433016250495442 40L 15.433016250495442 22.4Q 15.433016250495442 22.4 15.433016250495442 22.4L 19.84244946492271 22.4Q 19.84244946492271 22.4 19.84244946492271 22.4L 19.84244946492271 22.4L 19.84244946492271 40L 19.84244946492271 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 15.433016250495442 40L 15.433016250495442 22.4Q 15.433016250495442 22.4 15.433016250495442 22.4L 19.84244946492271 22.4Q 19.84244946492271 22.4 19.84244946492271 22.4L 19.84244946492271 22.4L 19.84244946492271 40L 19.84244946492271 40z' pathfrom='M 15.433016250495442 40L 15.433016250495442 40L 19.84244946492271 40L 19.84244946492271 40L 19.84244946492271 40L 19.84244946492271 40L 19.84244946492271 40L 15.433016250495442 40' cy='22.4' cx='19.84244946492271' j='2' val='44' barheight='17.6' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath1999' d='M 24.25188267934998 40L 24.25188267934998 28.8Q 24.25188267934998 28.8 24.25188267934998 28.8L 28.66131589377725 28.8Q 28.66131589377725 28.8 28.66131589377725 28.8L 28.66131589377725 28.8L 28.66131589377725 40L 28.66131589377725 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 24.25188267934998 40L 24.25188267934998 28.8Q 24.25188267934998 28.8 24.25188267934998 28.8L 28.66131589377725 28.8Q 28.66131589377725 28.8 28.66131589377725 28.8L 28.66131589377725 28.8L 28.66131589377725 40L 28.66131589377725 40z' pathfrom='M 24.25188267934998 40L 24.25188267934998 40L 28.66131589377725 40L 28.66131589377725 40L 28.66131589377725 40L 28.66131589377725 40L 28.66131589377725 40L 24.25188267934998 40' cy='28.8' cx='28.66131589377725' j='3' val='28' barheight='11.2' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2000' d='M 33.07074910820452 40L 33.07074910820452 25.6Q 33.07074910820452 25.6 33.07074910820452 25.6L 37.480182322631784 25.6Q 37.480182322631784 25.6 37.480182322631784 25.6L 37.480182322631784 25.6L 37.480182322631784 40L 37.480182322631784 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 33.07074910820452 40L 33.07074910820452 25.6Q 33.07074910820452 25.6 33.07074910820452 25.6L 37.480182322631784 25.6Q 37.480182322631784 25.6 37.480182322631784 25.6L 37.480182322631784 25.6L 37.480182322631784 40L 37.480182322631784 40z' pathfrom='M 33.07074910820452 40L 33.07074910820452 40L 37.480182322631784 40L 37.480182322631784 40L 37.480182322631784 40L 37.480182322631784 40L 37.480182322631784 40L 33.07074910820452 40' cy='25.6' cx='37.480182322631784' j='4' val='36' barheight='14.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2001' d='M 41.88961553705906 40L 41.88961553705906 30.4Q 41.88961553705906 30.4 41.88961553705906 30.4L 46.299048751486325 30.4Q 46.299048751486325 30.4 46.299048751486325 30.4L 46.299048751486325 30.4L 46.299048751486325 40L 46.299048751486325 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 41.88961553705906 40L 41.88961553705906 30.4Q 41.88961553705906 30.4 41.88961553705906 30.4L 46.299048751486325 30.4Q 46.299048751486325 30.4 46.299048751486325 30.4L 46.299048751486325 30.4L 46.299048751486325 40L 46.299048751486325 40z' pathfrom='M 41.88961553705906 40L 41.88961553705906 40L 46.299048751486325 40L 46.299048751486325 40L 46.299048751486325 40L 46.299048751486325 40L 46.299048751486325 40L 41.88961553705906 40' cy='30.4' cx='46.299048751486325' j='5' val='24' barheight='9.6' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2002' d='M 50.70848196591359 40L 50.70848196591359 14Q 50.70848196591359 14 50.70848196591359 14L 55.11791518034086 14Q 55.11791518034086 14 55.11791518034086 14L 55.11791518034086 14L 55.11791518034086 40L 55.11791518034086 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 50.70848196591359 40L 50.70848196591359 14Q 50.70848196591359 14 50.70848196591359 14L 55.11791518034086 14Q 55.11791518034086 14 55.11791518034086 14L 55.11791518034086 14L 55.11791518034086 40L 55.11791518034086 40z' pathfrom='M 50.70848196591359 40L 50.70848196591359 40L 55.11791518034086 40L 55.11791518034086 40L 55.11791518034086 40L 55.11791518034086 40L 55.11791518034086 40L 50.70848196591359 40' cy='14' cx='55.11791518034086' j='6' val='65' barheight='26' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2003' d='M 59.52734839476813 40L 59.52734839476813 27.6Q 59.52734839476813 27.6 59.52734839476813 27.6L 63.9367816091954 27.6Q 63.9367816091954 27.6 63.9367816091954 27.6L 63.9367816091954 27.6L 63.9367816091954 40L 63.9367816091954 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 59.52734839476813 40L 59.52734839476813 27.6Q 59.52734839476813 27.6 59.52734839476813 27.6L 63.9367816091954 27.6Q 63.9367816091954 27.6 63.9367816091954 27.6L 63.9367816091954 27.6L 63.9367816091954 40L 63.9367816091954 40z' pathfrom='M 59.52734839476813 40L 59.52734839476813 40L 63.9367816091954 40L 63.9367816091954 40L 63.9367816091954 40L 63.9367816091954 40L 63.9367816091954 40L 59.52734839476813 40' cy='27.6' cx='63.9367816091954' j='7' val='31' barheight='12.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2004' d='M 68.34621482362266 40L 68.34621482362266 25.2Q 68.34621482362266 25.2 68.34621482362266 25.2L 72.75564803804993 25.2Q 72.75564803804993 25.2 72.75564803804993 25.2L 72.75564803804993 25.2L 72.75564803804993 40L 72.75564803804993 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 68.34621482362266 40L 68.34621482362266 25.2Q 68.34621482362266 25.2 68.34621482362266 25.2L 72.75564803804993 25.2Q 72.75564803804993 25.2 72.75564803804993 25.2L 72.75564803804993 25.2L 72.75564803804993 40L 72.75564803804993 40z' pathfrom='M 68.34621482362266 40L 68.34621482362266 40L 72.75564803804993 40L 72.75564803804993 40L 72.75564803804993 40L 72.75564803804993 40L 72.75564803804993 40L 68.34621482362266 40' cy='25.2' cx='72.75564803804993' j='8' val='37' barheight='14.8' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2005' d='M 77.1650812524772 40L 77.1650812524772 24.4Q 77.1650812524772 24.4 77.1650812524772 24.4L 81.57451446690446 24.4Q 81.57451446690446 24.4 81.57451446690446 24.4L 81.57451446690446 24.4L 81.57451446690446 40L 81.57451446690446 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 77.1650812524772 40L 77.1650812524772 24.4Q 77.1650812524772 24.4 77.1650812524772 24.4L 81.57451446690446 24.4Q 81.57451446690446 24.4 81.57451446690446 24.4L 81.57451446690446 24.4L 81.57451446690446 40L 81.57451446690446 40z' pathfrom='M 77.1650812524772 40L 77.1650812524772 40L 81.57451446690446 40L 81.57451446690446 40L 81.57451446690446 40L 81.57451446690446 40L 81.57451446690446 40L 77.1650812524772 40' cy='24.4' cx='81.57451446690446' j='9' val='39' barheight='15.6' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2006' d='M 85.98394768133174 40L 85.98394768133174 15.2Q 85.98394768133174 15.2 85.98394768133174 15.2L 90.39338089575901 15.2Q 90.39338089575901 15.2 90.39338089575901 15.2L 90.39338089575901 15.2L 90.39338089575901 40L 90.39338089575901 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 85.98394768133174 40L 85.98394768133174 15.2Q 85.98394768133174 15.2 85.98394768133174 15.2L 90.39338089575901 15.2Q 90.39338089575901 15.2 90.39338089575901 15.2L 90.39338089575901 15.2L 90.39338089575901 40L 90.39338089575901 40z' pathfrom='M 85.98394768133174 40L 85.98394768133174 40L 90.39338089575901 40L 90.39338089575901 40L 90.39338089575901 40L 90.39338089575901 40L 90.39338089575901 40L 85.98394768133174 40' cy='15.2' cx='90.39338089575901' j='10' val='62' barheight='24.8' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2007' d='M 94.80281411018628 40L 94.80281411018628 19.6Q 94.80281411018628 19.6 94.80281411018628 19.6L 99.21224732461354 19.6Q 99.21224732461354 19.6 99.21224732461354 19.6L 99.21224732461354 19.6L 99.21224732461354 40L 99.21224732461354 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 94.80281411018628 40L 94.80281411018628 19.6Q 94.80281411018628 19.6 94.80281411018628 19.6L 99.21224732461354 19.6Q 99.21224732461354 19.6 99.21224732461354 19.6L 99.21224732461354 19.6L 99.21224732461354 40L 99.21224732461354 40z' pathfrom='M 94.80281411018628 40L 94.80281411018628 40L 99.21224732461354 40L 99.21224732461354 40L 99.21224732461354 40L 99.21224732461354 40L 99.21224732461354 40L 94.80281411018628 40' cy='19.6' cx='99.21224732461354' j='11' val='51' barheight='20.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2008' d='M 103.62168053904081 40L 103.62168053904081 26Q 103.62168053904081 26 103.62168053904081 26L 108.03111375346808 26Q 108.03111375346808 26 108.03111375346808 26L 108.03111375346808 26L 108.03111375346808 40L 108.03111375346808 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 103.62168053904081 40L 103.62168053904081 26Q 103.62168053904081 26 103.62168053904081 26L 108.03111375346808 26Q 108.03111375346808 26 108.03111375346808 26L 108.03111375346808 26L 108.03111375346808 40L 108.03111375346808 40z' pathfrom='M 103.62168053904081 40L 103.62168053904081 40L 108.03111375346808 40L 108.03111375346808 40L 108.03111375346808 40L 108.03111375346808 40L 108.03111375346808 40L 103.62168053904081 40' cy='26' cx='108.03111375346808' j='12' val='35' barheight='14' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2009' d='M 112.44054696789534 40L 112.44054696789534 23.6Q 112.44054696789534 23.6 112.44054696789534 23.6L 116.84998018232261 23.6Q 116.84998018232261 23.6 116.84998018232261 23.6L 116.84998018232261 23.6L 116.84998018232261 40L 116.84998018232261 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 112.44054696789534 40L 112.44054696789534 23.6Q 112.44054696789534 23.6 112.44054696789534 23.6L 116.84998018232261 23.6Q 116.84998018232261 23.6 116.84998018232261 23.6L 116.84998018232261 23.6L 116.84998018232261 40L 116.84998018232261 40z' pathfrom='M 112.44054696789534 40L 112.44054696789534 40L 116.84998018232261 40L 116.84998018232261 40L 116.84998018232261 40L 116.84998018232261 40L 116.84998018232261 40L 112.44054696789534 40' cy='23.6' cx='116.84998018232261' j='13' val='41' barheight='16.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2010' d='M 121.25941339674989 40L 121.25941339674989 26Q 121.25941339674989 26 121.25941339674989 26L 125.66884661117716 26Q 125.66884661117716 26 125.66884661117716 26L 125.66884661117716 26L 125.66884661117716 40L 125.66884661117716 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 121.25941339674989 40L 121.25941339674989 26Q 121.25941339674989 26 121.25941339674989 26L 125.66884661117716 26Q 125.66884661117716 26 125.66884661117716 26L 125.66884661117716 26L 125.66884661117716 40L 125.66884661117716 40z' pathfrom='M 121.25941339674989 40L 121.25941339674989 40L 125.66884661117716 40L 125.66884661117716 40L 125.66884661117716 40L 125.66884661117716 40L 125.66884661117716 40L 121.25941339674989 40' cy='26' cx='125.66884661117716' j='14' val='35' barheight='14' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2011' d='M 130.07827982560443 40L 130.07827982560443 29.2Q 130.07827982560443 29.2 130.07827982560443 29.2L 134.4877130400317 29.2Q 134.4877130400317 29.2 134.4877130400317 29.2L 134.4877130400317 29.2L 134.4877130400317 40L 134.4877130400317 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 130.07827982560443 40L 130.07827982560443 29.2Q 130.07827982560443 29.2 130.07827982560443 29.2L 134.4877130400317 29.2Q 134.4877130400317 29.2 134.4877130400317 29.2L 134.4877130400317 29.2L 134.4877130400317 40L 134.4877130400317 40z' pathfrom='M 130.07827982560443 40L 130.07827982560443 40L 134.4877130400317 40L 134.4877130400317 40L 134.4877130400317 40L 134.4877130400317 40L 134.4877130400317 40L 130.07827982560443 40' cy='29.2' cx='134.4877130400317' j='15' val='27' barheight='10.8' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2012' d='M 138.89714625445896 40L 138.89714625445896 2.799999999999997Q 138.89714625445896 2.799999999999997 138.89714625445896 2.799999999999997L 143.30657946888624 2.799999999999997Q 143.30657946888624 2.799999999999997 143.30657946888624 2.799999999999997L 143.30657946888624 2.799999999999997L 143.30657946888624 40L 143.30657946888624 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 138.89714625445896 40L 138.89714625445896 2.799999999999997Q 138.89714625445896 2.799999999999997 138.89714625445896 2.799999999999997L 143.30657946888624 2.799999999999997Q 143.30657946888624 2.799999999999997 143.30657946888624 2.799999999999997L 143.30657946888624 2.799999999999997L 143.30657946888624 40L 143.30657946888624 40z' pathfrom='M 138.89714625445896 40L 138.89714625445896 40L 143.30657946888624 40L 143.30657946888624 40L 143.30657946888624 40L 143.30657946888624 40L 143.30657946888624 40L 138.89714625445896 40' cy='2.799999999999997' cx='143.30657946888624' j='16' val='93' barheight='37.2' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2013' d='M 147.7160126833135 40L 147.7160126833135 18.8Q 147.7160126833135 18.8 147.7160126833135 18.8L 152.12544589774078 18.8Q 152.12544589774078 18.8 152.12544589774078 18.8L 152.12544589774078 18.8L 152.12544589774078 40L 152.12544589774078 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 147.7160126833135 40L 147.7160126833135 18.8Q 147.7160126833135 18.8 147.7160126833135 18.8L 152.12544589774078 18.8Q 152.12544589774078 18.8 152.12544589774078 18.8L 152.12544589774078 18.8L 152.12544589774078 40L 152.12544589774078 40z' pathfrom='M 147.7160126833135 40L 147.7160126833135 40L 152.12544589774078 40L 152.12544589774078 40L 152.12544589774078 40L 152.12544589774078 40L 152.12544589774078 40L 147.7160126833135 40' cy='18.8' cx='152.12544589774078' j='17' val='53' barheight='21.2' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2014' d='M 156.53487911216803 40L 156.53487911216803 15.600000000000001Q 156.53487911216803 15.600000000000001 156.53487911216803 15.600000000000001L 160.9443123265953 15.600000000000001Q 160.9443123265953 15.600000000000001 160.9443123265953 15.600000000000001L 160.9443123265953 15.600000000000001L 160.9443123265953 40L 160.9443123265953 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 156.53487911216803 40L 156.53487911216803 15.600000000000001Q 156.53487911216803 15.600000000000001 156.53487911216803 15.600000000000001L 160.9443123265953 15.600000000000001Q 160.9443123265953 15.600000000000001 160.9443123265953 15.600000000000001L 160.9443123265953 15.600000000000001L 160.9443123265953 40L 160.9443123265953 40z' pathfrom='M 156.53487911216803 40L 156.53487911216803 40L 160.9443123265953 40L 160.9443123265953 40L 160.9443123265953 40L 160.9443123265953 40L 160.9443123265953 40L 156.53487911216803 40' cy='15.600000000000001' cx='160.9443123265953' j='18' val='61' barheight='24.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2015' d='M 165.35374554102256 40L 165.35374554102256 29.2Q 165.35374554102256 29.2 165.35374554102256 29.2L 169.76317875544984 29.2Q 169.76317875544984 29.2 169.76317875544984 29.2L 169.76317875544984 29.2L 169.76317875544984 40L 169.76317875544984 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 165.35374554102256 40L 165.35374554102256 29.2Q 165.35374554102256 29.2 165.35374554102256 29.2L 169.76317875544984 29.2Q 169.76317875544984 29.2 169.76317875544984 29.2L 169.76317875544984 29.2L 169.76317875544984 40L 169.76317875544984 40z' pathfrom='M 165.35374554102256 40L 165.35374554102256 40L 169.76317875544984 40L 169.76317875544984 40L 169.76317875544984 40L 169.76317875544984 40L 169.76317875544984 40L 165.35374554102256 40' cy='29.2' cx='169.76317875544984' j='19' val='27' barheight='10.8' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2016' d='M 174.17261196987712 40L 174.17261196987712 18.4Q 174.17261196987712 18.4 174.17261196987712 18.4L 178.5820451843044 18.4Q 178.5820451843044 18.4 178.5820451843044 18.4L 178.5820451843044 18.4L 178.5820451843044 40L 178.5820451843044 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 174.17261196987712 40L 174.17261196987712 18.4Q 174.17261196987712 18.4 174.17261196987712 18.4L 178.5820451843044 18.4Q 178.5820451843044 18.4 178.5820451843044 18.4L 178.5820451843044 18.4L 178.5820451843044 40L 178.5820451843044 40z' pathfrom='M 174.17261196987712 40L 174.17261196987712 40L 178.5820451843044 40L 178.5820451843044 40L 178.5820451843044 40L 178.5820451843044 40L 178.5820451843044 40L 174.17261196987712 40' cy='18.4' cx='178.5820451843044' j='20' val='54' barheight='21.6' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2017' d='M 182.99147839873166 40L 182.99147839873166 22.8Q 182.99147839873166 22.8 182.99147839873166 22.8L 187.40091161315894 22.8Q 187.40091161315894 22.8 187.40091161315894 22.8L 187.40091161315894 22.8L 187.40091161315894 40L 187.40091161315894 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 182.99147839873166 40L 182.99147839873166 22.8Q 182.99147839873166 22.8 182.99147839873166 22.8L 187.40091161315894 22.8Q 187.40091161315894 22.8 187.40091161315894 22.8L 187.40091161315894 22.8L 187.40091161315894 40L 187.40091161315894 40z' pathfrom='M 182.99147839873166 40L 182.99147839873166 40L 187.40091161315894 40L 187.40091161315894 40L 187.40091161315894 40L 187.40091161315894 40L 187.40091161315894 40L 182.99147839873166 40' cy='22.8' cx='187.40091161315894' j='21' val='43' barheight='17.2' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2018' d='M 191.8103448275862 40L 191.8103448275862 32.4Q 191.8103448275862 32.4 191.8103448275862 32.4L 196.21977804201347 32.4Q 196.21977804201347 32.4 196.21977804201347 32.4L 196.21977804201347 32.4L 196.21977804201347 40L 196.21977804201347 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 191.8103448275862 40L 191.8103448275862 32.4Q 191.8103448275862 32.4 191.8103448275862 32.4L 196.21977804201347 32.4Q 196.21977804201347 32.4 196.21977804201347 32.4L 196.21977804201347 32.4L 196.21977804201347 40L 196.21977804201347 40z' pathfrom='M 191.8103448275862 40L 191.8103448275862 40L 196.21977804201347 40L 196.21977804201347 40L 196.21977804201347 40L 196.21977804201347 40L 196.21977804201347 40L 191.8103448275862 40' cy='32.4' cx='196.21977804201347' j='22' val='19' barheight='7.6' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2019' d='M 200.62921125644073 40L 200.62921125644073 21.6Q 200.62921125644073 21.6 200.62921125644073 21.6L 205.038644470868 21.6Q 205.038644470868 21.6 205.038644470868 21.6L 205.038644470868 21.6L 205.038644470868 40L 205.038644470868 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 200.62921125644073 40L 200.62921125644073 21.6Q 200.62921125644073 21.6 200.62921125644073 21.6L 205.038644470868 21.6Q 205.038644470868 21.6 205.038644470868 21.6L 205.038644470868 21.6L 205.038644470868 40L 205.038644470868 40z' pathfrom='M 200.62921125644073 40L 200.62921125644073 40L 205.038644470868 40L 205.038644470868 40L 205.038644470868 40L 205.038644470868 40L 205.038644470868 40L 200.62921125644073 40' cy='21.6' cx='205.038644470868' j='23' val='46' barheight='18.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2020' d='M 209.44807768529526 40L 209.44807768529526 24.4Q 209.44807768529526 24.4 209.44807768529526 24.4L 213.85751089972254 24.4Q 213.85751089972254 24.4 213.85751089972254 24.4L 213.85751089972254 24.4L 213.85751089972254 40L 213.85751089972254 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 209.44807768529526 40L 209.44807768529526 24.4Q 209.44807768529526 24.4 209.44807768529526 24.4L 213.85751089972254 24.4Q 213.85751089972254 24.4 213.85751089972254 24.4L 213.85751089972254 24.4L 213.85751089972254 40L 213.85751089972254 40z' pathfrom='M 209.44807768529526 40L 209.44807768529526 40L 213.85751089972254 40L 213.85751089972254 40L 213.85751089972254 40L 213.85751089972254 40L 213.85751089972254 40L 209.44807768529526 40' cy='24.4' cx='213.85751089972254' j='24' val='39' barheight='15.6' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2021' d='M 218.2669441141498 40L 218.2669441141498 15.2Q 218.2669441141498 15.2 218.2669441141498 15.2L 222.67637732857708 15.2Q 222.67637732857708 15.2 222.67637732857708 15.2L 222.67637732857708 15.2L 222.67637732857708 40L 222.67637732857708 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 218.2669441141498 40L 218.2669441141498 15.2Q 218.2669441141498 15.2 218.2669441141498 15.2L 222.67637732857708 15.2Q 222.67637732857708 15.2 222.67637732857708 15.2L 222.67637732857708 15.2L 222.67637732857708 40L 222.67637732857708 40z' pathfrom='M 218.2669441141498 40L 218.2669441141498 40L 222.67637732857708 40L 222.67637732857708 40L 222.67637732857708 40L 222.67637732857708 40L 222.67637732857708 40L 218.2669441141498 40' cy='15.2' cx='222.67637732857708' j='25' val='62' barheight='24.8' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2022' d='M 227.08581054300433 40L 227.08581054300433 19.6Q 227.08581054300433 19.6 227.08581054300433 19.6L 231.4952437574316 19.6Q 231.4952437574316 19.6 231.4952437574316 19.6L 231.4952437574316 19.6L 231.4952437574316 40L 231.4952437574316 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 227.08581054300433 40L 227.08581054300433 19.6Q 227.08581054300433 19.6 227.08581054300433 19.6L 231.4952437574316 19.6Q 231.4952437574316 19.6 231.4952437574316 19.6L 231.4952437574316 19.6L 231.4952437574316 40L 231.4952437574316 40z' pathfrom='M 227.08581054300433 40L 227.08581054300433 40L 231.4952437574316 40L 231.4952437574316 40L 231.4952437574316 40L 231.4952437574316 40L 231.4952437574316 40L 227.08581054300433 40' cy='19.6' cx='231.4952437574316' j='26' val='51' barheight='20.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2023' d='M 235.90467697185886 40L 235.90467697185886 26Q 235.90467697185886 26 235.90467697185886 26L 240.31411018628614 26Q 240.31411018628614 26 240.31411018628614 26L 240.31411018628614 26L 240.31411018628614 40L 240.31411018628614 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 235.90467697185886 40L 235.90467697185886 26Q 235.90467697185886 26 235.90467697185886 26L 240.31411018628614 26Q 240.31411018628614 26 240.31411018628614 26L 240.31411018628614 26L 240.31411018628614 40L 240.31411018628614 40z' pathfrom='M 235.90467697185886 40L 235.90467697185886 40L 240.31411018628614 40L 240.31411018628614 40L 240.31411018628614 40L 240.31411018628614 40L 240.31411018628614 40L 235.90467697185886 40' cy='26' cx='240.31411018628614' j='27' val='35' barheight='14' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2024' d='M 244.72354340071342 40L 244.72354340071342 23.6Q 244.72354340071342 23.6 244.72354340071342 23.6L 249.1329766151407 23.6Q 249.1329766151407 23.6 249.1329766151407 23.6L 249.1329766151407 23.6L 249.1329766151407 40L 249.1329766151407 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 244.72354340071342 40L 244.72354340071342 23.6Q 244.72354340071342 23.6 244.72354340071342 23.6L 249.1329766151407 23.6Q 249.1329766151407 23.6 249.1329766151407 23.6L 249.1329766151407 23.6L 249.1329766151407 40L 249.1329766151407 40z' pathfrom='M 244.72354340071342 40L 244.72354340071342 40L 249.1329766151407 40L 249.1329766151407 40L 249.1329766151407 40L 249.1329766151407 40L 249.1329766151407 40L 244.72354340071342 40' cy='23.6' cx='249.1329766151407' j='28' val='41' barheight='16.4' barwidth='4.409433214427269'></path>
												<path id='SvgjsPath2025' d='M 253.54240982956796 40L 253.54240982956796 13.2Q 253.54240982956796 13.2 253.54240982956796 13.2L 257.9518430439952 13.2Q 257.9518430439952 13.2 257.9518430439952 13.2L 257.9518430439952 13.2L 257.9518430439952 40L 257.9518430439952 40z' fill='rgba(32,107,196,1)' fill-opacity='1' stroke-opacity='1' stroke-linecap='round' stroke-width='0' stroke-dasharray='0' class='apexcharts-bar-area' index='0' clip-path='url(#gridRectMaskkh54ugb2)' pathto='M 253.54240982956796 40L 253.54240982956796 13.2Q 253.54240982956796 13.2 253.54240982956796 13.2L 257.9518430439952 13.2Q 257.9518430439952 13.2 257.9518430439952 13.2L 257.9518430439952 13.2L 257.9518430439952 40L 257.9518430439952 40z' pathfrom='M 253.54240982956796 40L 253.54240982956796 40L 257.9518430439952 40L 257.9518430439952 40L 257.9518430439952 40L 257.9518430439952 40L 257.9518430439952 40L 253.54240982956796 40' cy='13.2' cx='257.9518430439952' j='29' val='67' barheight='26.8' barwidth='4.409433214427269'></path>
											</g>
											<g id='SvgjsG1995' class='apexcharts-datalabels' data:realindex='0'></g>
										</g>
										<line id='SvgjsLine2045' x1='-8.126436781609195' y1='0' x2='263.8735632183908' y2='0' stroke='#b6b6b6' stroke-dasharray='0' stroke-width='1' class='apexcharts-ycrosshairs'></line>
										<line id='SvgjsLine2046' x1='-8.126436781609195' y1='0' x2='263.8735632183908' y2='0' stroke-dasharray='0' stroke-width='0' class='apexcharts-ycrosshairs-hidden'></line>
										<g id='SvgjsG2047' class='apexcharts-yaxis-annotations'></g>
										<g id='SvgjsG2048' class='apexcharts-xaxis-annotations'></g>
										<g id='SvgjsG2049' class='apexcharts-point-annotations'></g>
									</g>
									<g id='SvgjsG2033' class='apexcharts-yaxis' rel='0' transform='translate(-18, 0)'></g>
									<g id='SvgjsG1953' class='apexcharts-annotations'></g>
								</svg>
								<div class='apexcharts-legend' style='max-height: 20px;'></div>
								<div class='apexcharts-tooltip apexcharts-theme-light'>
									<div class='apexcharts-tooltip-title' style='font-family: inherit; font-size: 12px;'></div>
									<div class='apexcharts-tooltip-series-group' style='order: 1;'>
										<span class='apexcharts-tooltip-marker' style='background-color: rgb(32, 107, 196);'></span>
										<div class='apexcharts-tooltip-text' style='font-family: inherit; font-size: 12px;'>
											<div class='apexcharts-tooltip-y-group'>
												<span class='apexcharts-tooltip-text-label'></span><span class='apexcharts-tooltip-text-value'></span>
											</div>
											<div class='apexcharts-tooltip-z-group'>
												<span class='apexcharts-tooltip-text-z-label'></span><span class='apexcharts-tooltip-text-z-value'></span>
											</div>
										</div>
									</div>
								</div>
								<div class='apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light'>
									<div class='apexcharts-yaxistooltip-text'></div>
								</div>
							</div>
						</div>
						<div class='resize-triggers'>
							<div class='expand-trigger'>
								<div style='width: 305px; height: 137px;'></div>
							</div>
							<div class='contract-trigger'></div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>