{% extends "admin/base.html" %}
{% block title %} Edition d'un magazine {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Magazines
                <small>Edition d'un magazine</small>
                <a href="{{ url_for('admin.magazines') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-list-alt"></i> Liste magazines</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Magazines</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UN MAGAZINE</h3>
                        </div>
                        <div class="box-body">
                            <form method="POST" action="{{ form_url }}" class="form-horizontal" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">Catégorie</label>
                                            <div class="col-sm-10">
                                                <select name="category" id="category" class="form-control" required>
                                                    <option value=""> -- Catégorie magazine --</option>
                                                    {% for category in categories %}
                                                        <option value="{{ category.id }}" {% if magazine is not undefined and category.id == magazine.category_id %} selected {% endif %}>{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">Pays</label>
                                            <div class="col-sm-10">
                                                <select name="country" id="country" class="form-control" required>
                                                    <option value=""> -- Pays magazine --</option>
                                                    {% for country in countries %}
                                                        <option value="{{ country.id }}" {% if magazine is not undefined and country.id == magazine.country_id %} selected {% endif %}>{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.title.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.title(class='form-control',required='required',placeholder='Titre magazine') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.link.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.link(class='form-control',required='required',placeholder='Lien') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.feed.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.feed(class='form-control',required='required',placeholder='Flux RSS') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.image.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.image(class='form-control',required='required',placeholder='Image') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">Description</label>
                                            <div class="col-sm-10">
                                                {{ form.description(class='form-control') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">                                                                            
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.image_tag.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.image_tag(class='form-control',placeholder='Tag image') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.body_tag.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.body_tag(class='form-control',placeholder='Tag contenu') }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label">{{ form.tag_to_remove.label }}</label>
                                            <div class="col-sm-10">
                                                {{ form.tag_to_remove(class='form-control',placeholder='Tag à supprimer séparé par une virgule') }}
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label"></label>
                                            <label for="published" class="minimal col-sm-10">
                                                {{ form.published() }}
                                                Publié(e) ?
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 control-label"></label>
                                            <label for="top" class="minimal col-sm-10">
                                                {{ form.top() }}
                                                A la une ?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer text-left">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i> Enregistrer
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <a href="{{ url_for('admin.magazines') }}"><i class="fa fa-times"></i> Annuler</a>
                                        </button>
                                        {% if magazine is defined %}
                                            <button type="button" class="btn btn-danger">
                                                <a class="delete" title="Supprimer le magazine?" href="{{ url_for('admin.delete_magazine',uid=magazine.uid) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}