{% extends "admin/base.html" %}
{% block title %} Magazines {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Magazine header) -->
        <section class="content-header">
            <h1>
                Magazines
                <small>Liste magazines</small>
                <a href="{{ url_for('admin.add_magazine') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-plus"></i> Ajouter</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Magazines</li>
            </ol>
        </section>
        <form action="{{ url_for('admin.magazines') }}" class="form-inline">
            <section class="content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="float:left">LISTE MAGAZINES</h3>
                                <div style="margin: 10px;float: right;">
                                    <div class="form-group">
                                        <!--<label>Sélectionnez l’action groupée</label>-->
                                        <select name="todo" class="form-control">
                                            <option value="9999">Actions groupées</option>
                                            <option value="10">Récupérer flux</option>
                                            <option value="1">Publier</option>
                                            <option value="0">Dépublier</option>
                                            <option value="2">A la une</option>
                                            <option value="-2">Normale</option>
                                        </select>
                                        <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="title" placeholder="titre actualite" value="{{ request.args.get('title') or "" }}">
                                        <select name="published" class="form-control">
                                            <option value="">Etat</option>
                                            <option value="1" {% if request.args.get('published') == '1' %} selected {% endif %}>Publiés</option>
                                            <option value="0" {% if request.args.get('published') == '0' %} selected {% endif %}>Non Publiés</option>
                                        </select>
                                        <select name="top" class="form-control">
                                            <option value="">position</option>
                                            <option value="1" {% if request.args.get('top') == '1' %} selected {% endif %}>Une</option>
                                            <option value="0" {% if request.args.get('top') == '0' %} selected {% endif %}>Normale</option>
                                        </select>
                                        <select name="category" id="category" class="form-control">
                                            <option value="">Selectionner une catégorie</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}" {% if request.args.get('category') == category.id ~ '' %} selected {% endif %}>{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select name="country" id="country" class="form-control">
                                            <option value="">Selectionner un pays</option>
                                            {% for country in countries %}
                                                <option value="{{ country.id }}" {% if request.args.get('country') == country.id ~ '' %} selected {% endif %}>{{ country.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary" value="Filtrer">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th><input type="checkbox" title="Tout sélectionner" id="select_all"/></th>
                                            <th>Titre</th>
                                            <th>Flux</th>
                                          <!-- <th style="max-width: 200px">Tag image</th>
                                            <th style="max-width: 200px">Tag contenu</th>-->
                                            <th>Vue</th>
                                            <th>Articles</th>
                                            <th>Etat</th>
                                            <!--<th>Position</th>-->
                                            <th>Dernières mis à jour</th>
                                            <th style="text-align: center">Action</th>
                                        </tr>
                                        {% for magazine in magazines %}
                                            <tr>
                                                <td><input type="checkbox" class="uid"  name="uid" value="{{ magazine.uid }}"/></td>
                                                <td>
                                                    <a href="{{config['HOME_PAGE']}}/{{magazine.slug}}" target="_blank" title="{{ magazine.title }}">{{ magazine.title }} - {{ magazine.category.name }} - {{ magazine.country.name }}</a>
                                                </td>
                                                <td><a href="{{ magazine.feed }}" target="_blank">Flux RSS</a></td>
                                                <!--<td style="max-width: 200px">{{ magazine.image_tag }}</td>
                                                <td style="max-width: 200px">{{ magazine.body_tag }}</td>-->
                                                <td>{{ magazine.vue }}</td>
                                                <td>{{ magazine.articles | length }}</td>
                                                {% if magazine.published %}
                                                    <td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>
                                                {% endif %}
                                                {% if magazine.top %}
                                                    <!--<td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>-->
                                                {% else %}
                                                   <!--<td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>-->
                                                {% endif %}
                                                <td>{{ magazine.last_build_date| datetimeformat("%d/%m/%Y %H:%M")  }}</td>
                                                <td style="text-align: center">
                                                    <div class="btn-group">
                                                        <a class="btn btn-primary" href="{{ url_for("admin.check_magazine_article",uid=magazine.uid) }}" target="_blank">
                                                            <i class="fa fa-flash"></i> Test
                                                        </a>
                                                        <a class="btn btn-info" href="{{ url_for("admin.magazine_check_feed",uid=magazine.uid) }}">
                                                            <i class="fa fa-check"></i> Récupérer
                                                        </a>
                                                        <a class="btn btn-default" href="{{ url_for('admin.edit_magazine',uid=magazine.uid) }}" title="{{ magazine.title }}">
                                                            <i class="fa fa-edit"></i> Modifier
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if prev_url %}
                                        <li><a href="{{ prev_url }}">«</a></li>
                                    {% endif %}
                                    {% if next_url %}
                                        <li><a href="{{ next_url }}">»</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </section>
        </form>

        <!-- /.content -->
    </div>
{% endblock %}